/* Arrows (BEGIN) */
.galleriaLeftActiveArrow {
    background: url("#{resource['images/left-right-arrows.png']}") no-repeat scroll 0 0;
    background-position: -14px 0;
    cursor: pointer;
    float: left;
    height: 25px;
    width: 15px;
}

.galleriaLeftInactiveArrow {
    background: url("#{resource['images/left-right-arrows.png']}") no-repeat scroll 0 0;
    background-position: -14px -25px;
    cursor: pointer;
    float: left;
    height: 25px;
    width: 15px;
}

.galleriaRightActiveArrow {
    background: url("#{resource['images/left-right-arrows.png']}") no-repeat scroll 0 0;
    cursor: pointer;
    float: left;
    height: 25px;
    width: 15px;
}

.galleriaRightInactiveArrow {
    background: url("#{resource['images/left-right-arrows.png']}") no-repeat scroll 0 0;
    background-position: 0 -25px;
    cursor: pointer;
    float: left;
    height: 25px;
    width: 15px;
}

/* Arrows (END) */