
#syncStart,
#syncProductsDeterminingStart,
#syncProductsDeterminingComplete,
#syncProductsDeterminingFailed,
#syncProductsProcessingStart,
#syncProductProcessed,
#syncProductsProcessingComplete,
#notActualLivemasterIdsProcessingStart,
#notActualLivemasterIdsCount,
#notActualLivemasterIdProcessed,
#notActualLivemasterIdsProcessingComplete,
#syncStopped,
#syncComplete {
    text-align: left;
    font-size: 17px;
    margin: 0;
    padding: 0;
}

#syncProductsDeterminingFailed,
#syncStopped,
#syncComplete {
    font-weight: bold;
}

#syncProductsDeterminingFailed,
#syncStopped {
    color: red;
}

#syncComplete {
    color: green;
}

table#syncProductResultFilters {
    margin-bottom: 10px;
}
table#syncProductResultFilters a[data-result-type] {
    font-weight: bold;
}
table#syncProductResultFilters a {
    font-style: normal;
    text-decoration: underline;
    cursor: pointer;
    padding-right: 10px;
}

table#syncProducts,
table#syncProducts > thead th,
table#syncProducts > tbody > tr > td,
table#notActualLivemasterIdsProducts,
table#notActualLivemasterIdsProducts > thead th,
table#notActualLivemasterIdsProducts > tbody > tr > td {
    border: 1px solid black;
    padding: 5px;
}
table#syncProducts,
table#notActualLivemasterIdsProducts {
    border-collapse: collapse;
    width: 1200px;
}
table#syncProductResultFilters a[data-result-type=PRODUCT_ADDED],
table#syncProducts tr[data-result-type=PRODUCT_ADDED] .result-message {
    color: green;
}
table#syncProductResultFilters a[data-result-type=PRODUCT_STATUS_UPDATED],
table#syncProducts tr[data-result-type=PRODUCT_STATUS_UPDATED] .result-message,
table#syncProductResultFilters a[data-result-type=PRODUCT_STATUS_AND_PRICE_UPDATED],
table#syncProducts tr[data-result-type=PRODUCT_STATUS_AND_PRICE_UPDATED] .result-message,
table#syncProductResultFilters a[data-result-type=PRODUCT_PRICE_UPDATED],
table#syncProducts tr[data-result-type=PRODUCT_PRICE_UPDATED] .result-message {
    color: blue;
}
table#syncProductResultFilters a[data-result-type=NOTHING_DONE],
table#syncProducts tr[data-result-type=NOTHING_DONE] .result-message,
table#syncProductResultFilters a[data-result-type=NOTHING_DONE_FOR_DELETED],
table#syncProducts tr[data-result-type=NOTHING_DONE_FOR_DELETED] .result-message {
    color: gray;
}
table#syncProductResultFilters a[data-result-type=ERROR],
table#syncProducts tr[data-result-type=ERROR] .result-message,
.constraint-violations,
.error-stack-trace {
    color: red;
}
a.warning-message,
a.has-warning-filter,
div.warning-info {
    color: orange;
}
.error-link,
a.warning-link {
    text-decoration: underline;
    cursor: pointer;
}
.error-stack-trace,
.warning-info {
    display: none;
}
.constraint-violations {
    text-align: left;
}
table#syncProducts td.market-product img,
table#notActualLivemasterIdsProducts td.market-product img {
    max-height: 100px;
    max-width: 100px;
}
table#syncProducts td.market-product,
table#notActualLivemasterIdsProducts td.market-product {
    text-align: left;
    padding: 5px;
    vertical-align: middle;
}

.ui-scrollpanel {
    width: 1250px;
    height:200px
}

#controlButtonsForm {
    margin-bottom: 10px;
}