body {
    padding-top: 60px;
    padding-left: 20px;
    padding-right: 20px;
}

h1, .h1 {
    font-size: 24px !important;
}
h2, .h2 {
    font-size: 18px !important;
}
h3, .h3 {
    font-size: 14px !important;
}
h4, .h4 {
    font-size: 14px !important;
}
h5, .h5 {
    font-size: 12px !important;
}
h6, .h6 {
    font-size: 10px !important;
}

a, a:hover, a:focus {
    text-decoration: none;
}

.bold {
    font-weight: bold;
}

header {
    box-shadow: rgba(0, 0, 0, 0.3) 0 2px 2px -1px;
    position: relative;
}

nav {
    float: left;
}

/* <editor-fold desc="NavBar"> */
.navbar .brand {
    margin-left: 0;
    text-shadow: none;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    white-space: nowrap;
    float: left;
    font-size: 20px;
}

.navbar .brand,
.navbar .brand img {
    width: 200px;
    height: 60px;
}

.navbar .nav {
    position: inherit;
}

.navbar .nav > li.section > a {
    text-transform: uppercase;
    padding: 20px;
    color: inherit;
    text-shadow: none;
    font-size: 14px;
    -webkit-transition: background-color 0.5s;
    -moz-transition: background-color 0.5s;
    transition: background-color 0.5s;
}

.navbar .nav > li.active.section a {
    color: inherit;
    text-decoration: none;
    background-color: transparent;
    box-shadow: none;
    -webkit-transition: background-color 0.5s;
    -moz-transition: background-color 0.5s;
    transition: background-color 0.5s;
}

.navbar .nav > li:first-child a {
    color: #fff !important;
}

.navbar .nav > li.active.section a:hover {
    color: inherit;
    text-decoration: none;
    background-color: transparent;
    box-shadow: none;
    -webkit-transition: background-color 0.5s;
    -moz-transition: background-color 0.5s;
    transition: background-color 0.5s;
}

.navbar .nav > li.active.section a:focus {
    color: inherit;
    text-decoration: none;
    background-color: transparent;
    box-shadow: none;
    -webkit-transition: background-color 0.5s;
    -moz-transition: background-color 0.5s;
    transition: background-color 0.5s;
}

.navbar .navbar-collapse {
    border-top: none;
    box-shadow: none;
    padding: 0;
    width: 100%;
}

/* </editor-fold>*/

/* <editor-fold desc="NavSearch"> */
.nav-search {
    float: left;
    height: 60px;
    width: 250px;
    padding-top: 15px;
}

#nav-search-input,
.nav-search span.twitter-typeahead .tt-menu {
    width: 200px;
}

#nav-search-button {
    background-color: #87944d;
    height: 34px;
    margin-bottom: 5px;
}

.nav-search-link {
    float: left;
    width: 60px;
    height: 60px;
}

.nav-search-link .glyphicon {
    font-size: 30px;
    margin-top: 15px;
    margin-left: 15px;
    color: #ffffff;
}

/* </editor-fold> */

/* <editor-fold desc="NavContacts"> */
.nav-contacts {
    float: left;
    height: 60px;
    margin-right: 10px;
    line-height: 15px;
    padding-top: 7px;
}

.nav-contacts a,
.nav-contacts a:hover,
.nav-contacts .market-city {
    color: #ffffff;
}

/* </editor-fold> */

/* <editor-fold desc="NavCart"> */
.nav-cart {
    float: right;
    height: 60px;
}

.nav-cart .nav-cart-link {
    padding: 20px;
    display: block;
    color: #fff;
    text-transform: uppercase
}

.nav-cart {
    background-color: #87944d;
}

.navbar .nav > li:first-child,
.nav-cart.not-empty {
    font-weight: bold;
    background-color: #e49a36;
}

.nav-cart-content {
    display: none;
    position: absolute;
    top: 60px;
    right: 10px;
    background: #f9efbf none repeat scroll 0 0;
    border-radius: 5px;
    box-sizing: border-box;
    border: solid 1px #bfd16d;
    padding: 10px;
}

/* TODO: Разобраться со скроллингом в корзине */
/*.nav-cart-content .nav-cart-items-holder {*/
    /*max-height: 300px;*/
    /*overflow-y: auto;*/
    /*margin: 0;*/
    /*padding: 0;*/
/*}*/

.nav-cart-content .nav-cart-item a {
    display: block;
    padding: 0;
    width: auto;
    text-align: left;
}

.nav-cart-content .nav-cart-item {
    line-height: 16px;
    width: 200px;
    margin-bottom: 10px;
    position: relative;
}

.nav-cart-content a.remove-nav-cart-item {
    width: 20px;
    height: 20px;
    padding: 3px;
    background-color: #ffffff;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
}

.nav-cart-content a.remove-nav-cart-item .glyphicon {
    font-size: 14px;
}

.nav-cart-content .nav-cart-item a img {
    padding-bottom: 5px;
}

.nav-cart-content .total-price {
    display: block;
    margin-bottom: 10px;
}

.nav-cart-content .create-order {
    background-color: #e28201;
    text-transform: uppercase;
    width: 100%;
}


/* </editor-fold> */

/* <editor-fold desc="Footer"> */

footer,
footer a {
    color: #25394d;
    font-size: 14px;
}

footer .social-link {
    margin-right: 10px;
}

/* </editor-fold> */

/* <editor-fold desc="Welcome page"> */

.welcome-page .welcome-column-left {
    width: 33%;
    float: left;
    padding-right: 30px;
}

.welcome-page .welcome-column-right {
    width: 66%;
    float: left;
}

.welcome-page .welcome-title,
.welcome-page .welcome-carousel-holder {
    margin-bottom: 30px;
}

.welcome-page .welcome-title,
.welcome-page .news-list-holder,
.welcome-page .product-type {
    background: #fff;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 0px 1px 2px rgba(50, 50, 50, 0.38);
}

.welcome-page .carousel .carousel-control {
    background: none;
}

.welcome-page .carousel img,
.welcome-page .carousel .carousel-control {
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.welcome-page .welcome-title {
    padding: 15px;
}

.welcome-page .welcome-title h1 {
    margin-top: 0;
}

.welcome-page .welcome-title h2 {
    color: #87944d;
    margin-bottom: 0;
}

.welcome-page .welcome-title .advantages {
    width: 100%;
}

.welcome-page .welcome-title .advantages td {
    width: 50%;
    text-align: center;
    font-size: 14px;
    padding: 10px;
}

.welcome-page .news-list .news-date {
    color: grey;
}

.welcome-page .product-type-column {
    float: left;
    width: 33.3%;
}

.welcome-page .product-type-column:nth-child(1) {
    padding-right: 13px;
}

.welcome-page .product-type-column:nth-child(2) {
    padding-left: 7px;
    padding-right: 7px;
}

.welcome-page .product-type-column:nth-child(3) {
    padding-left: 13px;
}

.welcome-page .product-type {
    padding: 5px;
    margin-bottom: 20px;
}

.welcome-page .product-type .name {
    font-size: 18px;
    margin-top: 5px;
    display: block;
}

/* </editor-fold>*/

/* <editor-fold desc="Product preview panel"> */

.product-preview-panel {
    background: #fff;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 0px 1px 2px rgba(50, 50, 50, 0.38);
}

.product-preview-panel .preview-holder {
    padding: 5px 5px 0 5px;
    border-bottom: solid 1px #efefef;
    position: relative;
}

.product-preview-panel .preview-holder a {
    display: block;
    width: 100%;
    margin: 0 auto;
}

.product-preview-panel .details-holder {
    padding: 10px 0;
    position: relative;
}

.product-preview-panel .details-holder p {
    padding: 0 10px;
    margin: 0;
    font-size: 17px;
    color: #e28201;
}

.product-preview-panel .details-holder p.name {
    font-size: 17px;
    line-height: 1.5;
    margin-bottom: 10px;
}

.product-preview-panel .product-action {
    position: absolute;
    right: 10px;
    bottom: 10px;
    line-height: 20px;
    text-align: center;
    font-size: 17px;
}

.product-preview-panel .product-action-more-info,
.product-preview-panel .product-action-in-cart,
.go-to-catalog {
    color: #e28201;
    text-decoration: underline;
    cursor: pointer;
}

.product-preview-panel .product-action-buy.btn:hover,
.product-preview-panel .product-action-buy.btn:focus,
.product-preview-panel .product-action-order.btn:hover,
.product-preview-panel .product-action-order.btn:focus {
    background-color: #e28201;
}

/* </editor-fold> */

/* <editor-fold desc="Product list page"> */

.product-list-page .product-list .product-column {
    float: left;
    width: 33%;
}

.product-list-page .product-list .product-column:nth-child(1) {
    padding-right: 7px;
}

.product-list-page .product-list .product-column:nth-child(2) {
    padding-left: 3px;
    padding-right: 3px;
}

.product-list-page .product-list .product-column:nth-child(3) {
    padding-left: 7px;
}

.product-list-page .product-list .product-preview-panel,
.product-list-page .product-list .product-list-filter,
.product-list-page .product-list .personal-order {
    margin-bottom: 10px;
}

.product-list-page .product-list .product-list-filter,
.product-list-page .product-list .personal-order {
    background: #fff;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 0px 1px 2px rgba(50, 50, 50, 0.38);
}

.product-list-page .product-list .product-list-filter,
.product-list-page .product-list .personal-order {
    padding: 15px;
}

.product-list-page .product-list .board-links {
    list-style-type: none;
    margin-left: 0;
    padding: 0;
}

.product-list-page .product-list .board-links li {
    float: left;
    margin-bottom: 5px;
}

.product-list-page .product-list .board-links a {
    border: solid 1px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    padding: 2px 8px;
    margin-right: 5px;
    display: block;
}

.product-list-page .product-list .board-links a.disabled {
    color: grey;
    border-color: grey;
    pointer-events: none;
    cursor: default;
}

.product-list-page .product-list .board-links a.filter-hidden {
    background-color: #bfd16d;
    color: #fff;
    border-color: #87944d;
}

.product-list-page .product-list .personal-order h2 {
    margin-top: 0;
    color: #87944d;
}

.product-list-page .product-list .personal-order .create-personal-order {
    margin-top: 10px;
}

.product-list-page .pagination-holder {
    text-align: center;
    clear: both;
}

.product-list-page .pagination-border {
    display: inline-block;
    background-color: #bfd16d;
    padding: 10px 30px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.product-list-page .pagination {
    margin: 0;
}

/* </editor-fold> */

/* <editor-fold desc="Search page"> */

.search-page .search-controls-holder {
    background-color: #fff;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 0px 1px 2px rgba(50, 50, 50, 0.38);
    padding: 20px;
}

.search-page .search-controls .input-group {
    width: 550px;
}

.search-page .search-controls label {
    margin-right: 20px;
}

.search-page .search-controls label,
#search-query-input,
.search-page span.twitter-typeahead .tt-hint {
    font-size: 20px;
}

#search-query-input,
.search-page span.twitter-typeahead .tt-hint,
.search-page span.twitter-typeahead .tt-menu {
    width: 500px;
}

#search-query-button {
    width: 70px;
    height: 34px;
    margin-bottom: 5px;
}

.search-page .empty-result {
    background-color: #fff;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 0px 1px 2px rgba(50, 50, 50, 0.38);
    padding: 20px;
    margin-top: 20px;
}

.search-page .search-content .product-group-status {
    clear: both;
    padding-top: 10px;
}

.search-page .search-content .product-group-status p {
    font-size: 20px;
    margin: 0;
    color: #48691e;
}

.search-page .search-content .product-group-status hr {
    border-width: 2px;
    margin: 0;
    border-color: #87944d;
}

.search-page .product-column {
    width: 50%;
    float: left;
}

.search-page .product-column:nth-child(1) {
    padding-right: 10px;
}

.search-page .product-column:nth-child(2) {
    padding-left: 10px;
}

.search-page .product {
    background-color: #fff;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 0px 1px 2px rgba(50, 50, 50, 0.38);
    margin-top: 20px;
    padding: 10px;
}

.search-page .product h2 {
    margin-top: 0;
    margin-bottom: 10px;
}

.search-page .search-content .product-info {
    height: 140px;
}

.search-page .search-content .product .preview {
    float: left;
    margin-right: 20px;
}

.search-page .search-content .product .preview img {
    max-height: 140px;
}

.search-page .search-content .product .description-holder {
    height: 130px;
    position: relative;
}

.search-page .search-content .product .description {
    height: 130px;
    overflow: hidden;
}

.search-page .search-content .product .description-holder .more {
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: white;
    padding-left: 3px;
}

/* </editor-fold>*/

.container {
    padding: 0;
}

.container {
    margin: 10px auto 0 auto;
}

.filter {
    margin-bottom: 3px;
}

/* <editor-fold desc="Product page"> */

.product-page .product-main .price {
    font-size: 24px;
    padding: 10px 0 10px 0;
}

.product-page .product-main .product-action {
    margin-right: 10px;
    background-color: #ffc247;
    color: white;
    text-shadow: 1px 1px 1px #c28100;
    box-shadow: 1px 1px 1px #c28100;
}

.product-page .product-main .product-action:hover {
    background-color: #ffaa00;
}

.product-page .product-main .ask-question {
    text-decoration: underline;
    cursor: pointer;
}

.product-page .product-main .product-views-large  {
    margin-bottom: 20px;
    position: relative;
}

.product-page .product-main .product-views-large  .background {
    display: none;
}

.product-page .product-main .product-views-small  {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.product-page .product-main .product-views-small  li:nth-child(4n) {
    margin-right: 0;
}

.product-page .product-main .product-views-small  li {
    float: left;
    margin: 0 15px 15px 0;
    box-shadow: 0 1px 2px rgba(50, 50, 50, 0.38);
}

.product-page .product-main .product-views-small  li a {
    display: block;
}

.product-page .product-main .return-to-catalog {
    margin-top: 10px;
    line-height: 20px;
    text-align: center;
    font-size: 17px;
}

.product-page .see-also-products-title {
    clear: both;
    padding: 10px 0 10px 0;
}

.product-page .see-also-products-title p {
    font-size: 20px;
    margin: 0;
    color: #48691e;
}

.product-page .see-also-products-title hr {
    border-width: 2px;
    margin: 0;
    border-color: #87944d;
}

.product-page .see-also-products .product-column {
    float: left;
    width: 20%;
}

.product-page .see-also-products .product-column:nth-child(1) {
    padding-right: 5px;
}

.product-page .see-also-products .product-column:nth-child(2),
.product-page .see-also-products .product-column:nth-child(3),
.product-page .see-also-products .product-column:nth-child(4) {
    padding-left: 5px;
    padding-right: 5px;
}

.product-page .see-also-products .product-column:nth-child(5) {
    padding-left: 5px;
}

.product-page .see-also-products .product-preview-panel {
    margin-bottom: 10px;
}

/* </editor-fold>*/

/* <editor-fold desc="Cart page"> */
.cart-content .table tbody > tr > td {
    vertical-align: middle;
}

.cart-content .cart-summary td {
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #fff !important;
}

.cart-content .cart-summary .cart-total {
    font-weight: 700;
    font-size: 22px;
}
.cart-content .cart-summary .cart-total-price {
    color: #e28201;
}

.cart-content .cart-summary .btn {
    margin-bottom: 0;
}

.cart-content .cart-remove {
    padding-right: 20px;
    cursor: pointer;
}
/* </editor-fold> */

/* <editor-fold desc="Order page"> */

.order-page .order-info-form {
    max-width: 600px;
}

.order-page .order-info-form .field-required,
.order-page .order-info-form .invalid-message-filling {
    display: none;
}

.order-page .order-info-form .radio-inline {
    margin-right: 20px;
}

.order-page #customer-postcode {
    width: 100px;
}

.order-page .order-items .name {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 0;
}

.order-page .order-items .item {
    float: left;
    clear: left;
    margin-left: 10px;
    margin-top: 10px;
}

.order-page .order-total {
    text-align: center;
}

.order-page .order-total span {
    font-size: 40px;
    line-height: 64px;
}

.order-page .order-total small {
    font-size: 16px;
    font-style: italic;
    line-height: 20px;
}

/* </editor-fold> */

/* <editor-fold desc="Section page"> */

.section-page .section-main,
.section-page .section-item {
    background-color: #fff;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 0px 1px 2px rgba(50, 50, 50, 0.38);
    padding: 20px;
}
.section-page .incoming-message-panel-holder {
    width: 50%;
}

.section-page .incoming-message-panel-holder hr {
    border-width: 2px;
    border-color: #87944d;
}

.section-page .incoming-message-panel-holder .ask-more-question {
    text-decoration: underline;
    cursor: pointer;
    display: none;
}

.section-page .section-items-column {
    width: 50%;
    float: left;
}

.section-page .section-items-column:nth-child(1) {
    padding-right: 10px;
}

.section-page .section-items-column:nth-child(2) {
    padding-left: 10px;
}

.section-page .section-item {
    margin-top: 20px;
}

.section-page .section-item h2 {
    margin-top: 0;
    margin-bottom: 10px;
}

.section-page .section-item .preview {
    float: left;
    margin-right: 20px;
}

.section-page .section-item .section-item-text-holder {
    min-height: 150px;
}

.section-page .delivery-way-infos {
    margin-right: 10px;
}

.section-page .delivery-way-infos .address-type {
    font-size: 20px;
    padding-bottom: 15px;
}

.section-page .delivery-way-infos .delivery-way {
    font-size: 16px;
}

.section-page .delivery-way-infos .price {
    font-size: 16px;
}

.section-page .delivery-way-infos .note {
    font-style: italic;
    padding-bottom: 15px;
    border-top: 1px solid #9e9e9e;
}

.section-page .delivery-image-holder {
    vertical-align: top;
}

/* </editor-fold> */

/* <editor-fold desc="Section item page"> */

.section-item-page .section-item-main {
    float: left;
    width: 80%;
}

.section-item-page .see-also-products {
    float: left;
    width: 20%;
    padding-left: 10px;
}

.section-item-page .see-also-products .product-preview-panel {
    margin-bottom: 10px;
}

/* </editor-fold> */

.main-container {
    margin-top: 30px;
}

.product-page .product-main,
.cart-page,
.order-page,
.section-item-page .section-item-main {
    background-color: #fff;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 0px 1px 2px rgba(50, 50, 50, 0.38);
    padding: 20px;
}

.rich-text a {
    text-decoration: underline;
}

.rich-text .hidden-normal {
    display: none;
}

.about h3 {
    margin-top: 0;
}

.about hr {
    margin-left: 30px;
    margin-right: 30px;
}

.btn {
    border: none;
    text-decoration: none;
    text-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background-image: none;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    -webkit-backface-visibility: hidden;
    color: #fff;
    white-space: normal;
}

.btn:hover, .btn:focus {
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    color: #fff;
}

.btn.btn-large {
    text-transform: uppercase;
    font-weight: 700;
    padding: 12px 14px;
    font-size: 18px;
}

.btn.inline {
    margin-top: 0;
    margin-bottom: 0;
}

.btn.btn-bottom {
    -moz-border-radius: 0 0 5px 5px;
    -ms-border-radius: 0 0 5px 5px;
    -o-border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    line-height: 38px;
    text-transform: uppercase;
}

label {
    font-weight: normal;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .navbar .nav {
        position: static;
    }

    .navbar .nav > li {
        float: left;
        position: inherit;
    }

    .navbar .navbar-collapse {
        width: auto;
    }

    body {
        padding-left: 0;
        padding-right: 0;
    }
}

@media (max-width: 768px) {

    .navbar .nav > li.section > a {
        margin: 0;
        padding: 20px 5px;
    }

    .nav-search-link {
        display: none;
    }
}

a {
    color: #87944d;
    -webkit-transition: color 0.5s;
    -moz-transition: color 0.5s;
    transition: color 0.5s;
}

a:hover {
    color: #bfd16d;
    -webkit-transition: color 0.5s;
    -moz-transition: color 0.5s;
    transition: color 0.5s;
}

.navbar {
    background-color: #bfd16d;
    border-bottom: solid 1px #87944d;
}

.navbar a.market-phone,
.navbar a.market-email {
    display: inline;
    padding: 0;
}

.navbar .nav > li.section > a {
    color: #fff;
}

.navbar .nav > li.section > a:hover, .navbar .nav > li > a:focus {
    background-color: #e5f0b6;
    color: #fff;
}

.navbar .nav > li.activehover.section > a {
    background-color: #e5f0b6;
    color: #fff;
}

.navbar .nav > li.active.section a {
    color: #4f572d;
}

.navbar .nav > li.active.section a:hover, .navbar .nav > .active a:focus {
    color: #4f572d;
}

.btn {
    background-color: #bfd16d;
}

.btn:hover, .btn:focus {
    background-color: #87944d;
}

.wait-popup .modal-dialog {
    width: 250px;
}

.wait-popup .modal-body {
    color: #87944d;
    font-size: 17px;
    padding: 0;
    text-align: center;
}

.wait-popup img {
    width: 250px;
}