<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="/pages/template/template.xhtml" xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui" xmlns:f="http://java.sun.com/jsf/core"
                xmlns:opresent="http://java.sun.com/jsf/composite/opresent"
                xml:lang="en" lang="en">

    <ui:define name="windowTitle">
        <f:loadBundle var="color_list" basename="ru.opresent.web.cms.i18n.color.color_list"/>
        <h:outputText value="#{color_list.title}"/>
    </ui:define>

    <ui:define name="content">
        <p:panel header="#{color_list.title}" collapsed="true" styleClass="pageHeaderPanel"/>

        <h:form id="listForm">
            <p:dataTable id="colorsTable" value="#{colorListBean.list}" var="color" rowKey="#{color.id}"
                         selection="#{colorListBean.selected}" selectionMode="single">

                <f:facet name="header">
                    <opresent:editTableButtons id="editTableButtons" editDialogVar="colorDialogVar"
                                          editDialogId=":colorDialog" editingList="#{colorListBean}"
                                          editTableId=":listForm:colorsTable"
                                          deleteConfirmHeader="#{messageFormatBean.format(
                                                                 color_list.delete_confirm_header,
                                                                 colorListBean.selected.description)}"
                                          deleteConfirmMsg="#{messageFormatBean.format(
                                                              color_list.delete_confirm_msg,
                                                              colorListBean.selected.description)}"/>
                </f:facet>

                <p:ajax event="rowSelect" update=":listForm:colorsTable:editTableButtons"/>
                <p:ajax event="rowUnselect" update=":listForm:colorsTable:editTableButtons"/>

                <p:column headerText="Id" width="20">
                    <h:outputText value="#{color.id}"/>
                </p:column>

                <p:column headerText="#{color_list.code}">
                    <h:outputText value="#{color.description}"/>
                </p:column>

                <p:column headerText="#{color_list.color}">
                    <div style="width: 70px; height: 20px;
                                background-color:\##{color.hex};
                                border: 1px solid black;
                                margin-left: auto; margin-right: auto;"></div>
                </p:column>

            </p:dataTable>
        </h:form>

        <opresent:editDialog id="colorDialog" editDialog="#{colorListBean.dialog}"
                        widgetVar="colorDialogVar">

            <p:colorPicker value="#{colorListBean.dialog.color.hex}" mode="inline"/>

        </opresent:editDialog>
    </ui:define>

</ui:composition>