<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="/pages/template/template.xhtml" xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html" xmlns:ui="http://java.sun.com/jsf/facelets"
                xml:lang="en" lang="en" xmlns:p="http://primefaces.org/ui" xmlns:f="http://java.sun.com/jsf/core">

    <ui:define name="windowTitle">
        <h:outputText value="Images files synchronization"/>
    </ui:define>

    <ui:define name="content">
        <style type="text/css">
            input {
                width: 500px;
            }
            div#logMsgs {
                text-align: left;
            }
            .ui-scrollpanel {
                height:500px
            }
        </style>

        <h3>Images files synchronization</h3>

        <h:form>

            <h:panelGrid columns="2">

                <h:outputText value="Process mode"/>
                <p:selectOneMenu value="#{imageFileSynchronizationBean.imageFileProcessMode}">
                    <f:selectItems value="#{imageFileSynchronizationBean.availableImageFileProcessModes}"
                                   var="processMode"
                                   itemLabel="#{processMode.name()}" itemValue="#{processMode}"/>
                </p:selectOneMenu>

            </h:panelGrid>

            <h:panelGrid id="buttonsPanel" styleClass="buttonsPanel" columns="3">
                <p:commandButton value="Start" action="#{imageFileSynchronizationBean.start()}"/>
            </h:panelGrid>

        </h:form>

        <p:progressBar widgetVar="progressBarWidget" value="0" labelTemplate="{value}%"/>

        <p:scrollPanel id="syncProductPanel" mode="native">
            <div id="logMsgs"></div>
        </p:scrollPanel>

        <p:socket onMessage="handleSyncData" channel="#{imageFileSynchronizationBean.pushChannelPath}"/>

        <script type="text/javascript">
            //<![CDATA[
            function handleSyncData(data) {
                PF('progressBarWidget').setValue(data.processedPercent);

                var logMsgs = $("div#logMsgs");
                logMsgs.append($("<p>" + data.message + "</p>"));
                var scrollPanel = $("div.ui-scrollpanel");
                scrollPanel.scrollTop(logMsgs.height() - scrollPanel.height());
            }
            //]]>
        </script>
    </ui:define>

</ui:composition>