<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:composite="http://java.sun.com/jsf/composite"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xml:lang="en" lang="en">

<composite:interface shortDescription="Use 'deleter' attribute for server delete action or
                                       use 'ondelete' for client side delete action, but only one at the same time.">

    <composite:attribute name="header" required="true"/>

    <composite:attribute name="message" required="true"/>

    <composite:attribute name="process" required="false" default=""
                         shortDescription="Use this attribute only for server delete action"/>

    <composite:attribute name="deleter" required="false" type="ru.opresent.web.cms.Deleter"/>

    <composite:attribute name="ondelete" required="false" default=""/>

    <composite:attribute name="updateAfterDelete" required="false"
                         shortDescription="Use this attribute only for server delete action"/>

    <composite:attribute name="widgetVar" required="true"/>

    <composite:attribute name="oncomplete" required="false" default=""
                         shortDescription="Use this attribute only for server delete action"/>

</composite:interface>

<composite:implementation>
    <f:loadBundle var="buttons" basename="ru.opresent.web.cms.i18n.buttons"/>

    <div id="#{cc.clientId}">
        <p:confirmDialog message="#{cc.attrs.message}" header="#{cc.attrs.header}"
                         widgetVar="#{cc.attrs.widgetVar}" closeOnEscape="true">

            <p:commandButton rendered="#{not empty cc.attrs.ondelete}"
                             value="#{buttons.delete}" onclick="PF('#{cc.attrs.widgetVar}').hide();#{cc.attrs.ondelete}"
                             icon="ui-icon-check"/>

            <p:commandButton rendered="#{not empty cc.attrs.deleter}"
                             value="#{buttons.delete}" icon="ui-icon-check"
                             onstart="PF('#{cc.attrs.widgetVar}').hide();"
                             process="@this #{cc.attrs.process}"
                             action="#{cc.attrs.deleter.delete}"
                             update="#{cc.attrs.updateAfterDelete}"
                             oncomplete="#{cc.attrs.oncomplete}"/>

            <p:commandButton value="#{buttons.cancel}" icon="ui-icon-close" type="button"
                             onclick="PF('#{cc.attrs.widgetVar}').hide();"/>
        </p:confirmDialog>
    </div>
</composite:implementation>

</html>