<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:composite="http://java.sun.com/jsf/composite"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xml:lang="en" lang="en">

<composite:interface>
    <composite:attribute name="modal" default="true"/>
    <composite:attribute name="widgetVar" required="true"/>
    <composite:attribute name="dynamic" required="false" default="false"/>
    <composite:attribute name="editDialog" required="true" type="ru.opresent.web.cms.component.dialog.EditDialog"/>
    <composite:attribute name="saveButtonProcess" default="@form" required="false"
                         shortDescription="Save button process. By default '@form'"/>
</composite:interface>

<composite:implementation>
    <f:loadBundle var="buttons" basename="ru.opresent.web.cms.i18n.buttons"/>

    <div id="#{cc.clientId}">
        <h:form>
            <p:dialog modal="#{cc.attrs.modal}" widgetVar="#{cc.attrs.widgetVar}"
                      header="#{cc.attrs.editDialog.title}" dynamic="#{cc.attrs.dynamic}">

                <p:messages id="dialogMessages"/>

                <composite:insertChildren/>

                <f:facet name="footer">
                    <h:panelGrid columns="2">
                        <p:commandButton id="saveButton" value="#{buttons.save}" action="#{cc.attrs.editDialog.save}"
                                         icon="ui-icon-disk"
                                         process="@this #{cc.attrs.saveButtonProcess}"
                                         update="dialogMessages"
                                         oncomplete="if (!args.validationFailed) PF('#{cc.attrs.widgetVar}').hide();"/>

                        <p:commandButton value="#{buttons.cancel}" type="button" onclick="PF('#{cc.attrs.widgetVar}').hide();"
                                         icon="ui-icon-cancel"/>
                    </h:panelGrid>
                </f:facet>

            </p:dialog>

            <p:defaultCommand target="saveButton"/>

        </h:form>
    </div>

</composite:implementation>


</html>