<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:f="http://java.sun.com/jsf/core"
      xmlns:composite="http://java.sun.com/jsf/composite"
      xmlns:p="http://primefaces.org/ui"
      xmlns:opresent="http://java.sun.com/jsf/composite/opresent"
      xml:lang="en" lang="en">

<composite:interface>
    <composite:attribute name="editingList"
                         required="true"
                         type="ru.opresent.web.cms.EditingList"/>

    <composite:attribute name="editDialogVar" required="true"/>
    <composite:attribute name="editDialogId" required="true"/>
    <composite:attribute name="editTableId" required="true"/>

    <composite:attribute name="renderAddButton" default="true" required="false"/>
    <composite:attribute name="renderEditButton" default="true" required="false"/>
    <composite:attribute name="renderDeleteButton" default="true" required="false"/>

    <composite:attribute name="deleteConfirmHeader" required="false"/>
    <composite:attribute name="deleteConfirmMsg" required="false"/>
</composite:interface>

<composite:implementation>
    <f:loadBundle var="buttons" basename="ru.opresent.web.cms.i18n.buttons"/>

    <div id="#{cc.clientId}">
        <p:commandButton id="addButton" value="#{buttons.add}"
                         action="#{cc.attrs.editingList.dialog.prepareToShow('ADD')}"
                         process="@this" update=":messages #{cc.attrs.editDialogId}"
                         oncomplete="PF('#{cc.attrs.editDialogVar}').show();" icon="ui-icon-plus"
                         rendered="#{cc.attrs.renderAddButton}">
            <p:resetInput target="#{cc.attrs.editDialogId}"/>
        </p:commandButton>

        <p:commandButton id="editButton" value="#{buttons.edit}"
                         rendered="#{cc.attrs.renderEditButton and not empty cc.attrs.editingList.selected}"
                         action="#{cc.attrs.editingList.dialog.prepareToShow('EDIT')}"
                         process="@this" update=":messages #{cc.attrs.editDialogId}"
                         oncomplete="PF('#{cc.attrs.editDialogVar}').show();"
                         icon="ui-icon-pencil">
            <p:resetInput target="#{cc.attrs.editDialogId}"/>
        </p:commandButton>

        <p:commandButton id="deleteButton" value="#{buttons.delete}" type="button" onclick="PF('deleteConfirmVar').show();"
                         icon="ui-icon-close"
                         rendered="#{cc.attrs.renderDeleteButton and not empty cc.attrs.editingList.selected}"/>

        <opresent:confirmDeleteDialog header="#{cc.attrs.deleteConfirmHeader}"
                                 message="#{cc.attrs.deleteConfirmMsg}"
                                 deleter="#{cc.attrs.editingList}"
                                 updateAfterDelete=":messages #{cc.attrs.editTableId}"
                                 widgetVar="deleteConfirmVar"/>
    </div>

</composite:implementation>

</html>