<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:composite="http://java.sun.com/jsf/composite" xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xml:lang="en" lang="en">

<composite:interface>

    <composite:attribute name="model"
                         type="ru.opresent.web.cms.component.galleria.ImagesListModel"
                         required="true"/>

    <composite:attribute name="selectedImageMaxWidth"
                         required="false"
                         default="600"
                         shortDescription="Selected image max-width in pixels"/>

    <composite:attribute name="selectedImageMaxHeight"
                         required="false"
                         default="400"
                         shortDescription="Selected image max-height in pixels"/>

    <composite:attribute name="listImageMaxWidth"
                         required="false"
                         default="60"
                         shortDescription="List image max-width in pixels"/>

    <composite:attribute name="listImageMaxHeight"
                         required="false"
                         default="40"
                         shortDescription="Selected image max-height in pixels"/>

    <composite:attribute name="widgetVar"
                         required="true"
                         shortDescription="Name of galleria widger variable"/>

    <composite:attribute name="selectionListenersFactory"
                         required="false"
                         shortDescription="Name of js-function that returns array of image
                                           selection listeners (see GalleriaImageSelectionListener)"/>

</composite:interface>

<composite:implementation>

    <h:outputScript library="js" name="galleria.js" target="head"/>
    <h:outputStylesheet library="css" name="galleria.css"/>

    <script type="text/javascript">
        $(function() {
            #{cc.attrs.widgetVar} = new Galleria();

            var selectionListenersFactory = #{empty cc.attrs.selectionListenersFactory ? 'undefined' : cc.attrs.selectionListenersFactory};
            if (selectionListenersFactory) {
                #{cc.attrs.widgetVar}.addImageSelectionListeners(selectionListenersFactory());
            }
        });
    </script>

<style type="text/css">

    .galleria {
        width: #{cc.attrs.selectedImageMaxWidth}px;
    }

    .galleriaImagesPanel {
        width: #{cc.attrs.selectedImageMaxWidth}px;
        margin-top: 20px;
    }

    .galleriaScrollListImagesPanel {
        width: #{cc.attrs.selectedImageMaxWidth - 60}px;
        height: #{cc.attrs.listImageMaxHeight + 30}px;
        overflow: hidden;
        float: left;
    }

    .galleriaScrollListImagesPanel td {
        width: #{cc.attrs.listImageMaxWidth}px;
        height: #{cc.attrs.listImageMaxHeight}px;
    }

    .galleriaListImagePanel {
        width: #{cc.attrs.listImageMaxWidth}px;
        height: #{cc.attrs.listImageMaxHeight}px;
        margin-right: 5px;
        cursor: pointer;
        vertical-align: middle;
    }

    .galleriaListImagePanel, .galleriaSelectedImagePanel {
        border: 1px dashed #a8a8a8;
    }

    .galleriaListImage {
        max-width: #{cc.attrs.listImageMaxWidth}px;
        max-height: #{cc.attrs.listImageMaxHeight}px;
        width: auto;
        height: auto;
    }

    .galleriaSelectedListImagePanel {
        border: 2px solid #0081C2 !important;
    }

    .galleriaSelectedImagePanel {
        cursor: pointer;
        width: #{cc.attrs.selectedImageMaxWidth}px;
        height: #{cc.attrs.selectedImageMaxHeight}px;
        display: table-cell;
        vertical-align: middle;
    }

    .galleriaSelectedImage {
        max-width: #{cc.attrs.selectedImageMaxWidth}px;
        max-height: #{cc.attrs.selectedImageMaxHeight}px;
        width: auto;
        height: auto;
    }

    .galleriaLeftArrowPanel, .galleriaRightArrowPanel {
        height: #{cc.attrs.listImageMaxHeight}px;
        width: 30px;
        float: left;
    }

    .galleriaLeftArrowPanel div, .galleriaRightArrowPanel div {
        height: #{cc.attrs.listImageMaxHeight}px;
        width: 30px;
        display: table-cell;
        vertical-align: middle;
    }

    .galleriaLeftArrowPanel div span, .galleriaRightArrowPanel div span {
        position: relative;
    }

    .galleriaRightArrowPanel div span {
        margin-left: 15px;
    }
</style>

<div id="#{cc.clientId}" class="galleria">

    <composite:renderFacet name="header"/>

    <div class="galleriaSelectedImagePanel">
        <img src="#{imageFileManager.createUrl(cc.attrs.model.selectedImage)}"
             alt="#{cc.attrs.model.selectedImage.id}"
             class="galleriaSelectedImage"/>
    </div>

    <h:inputHidden id="galleriaSelectedImageInput"
                   value="#{cc.attrs.model.selectedImage}"
                   converter="#{cc.attrs.model.imageConverter}"/>

    <composite:renderFacet name="buttons"/>

    <div id="images" class="galleriaImagesPanel">

        <div class="galleriaLeftArrowPanel">
            <div>
                <span class="galleriaLeftInactiveArrow"/>
            </div>
        </div>

        <div class="galleriaScrollListImagesPanel">
            <table>
                <tr>
                    <ui:repeat value="#{cc.attrs.model.images}" var="image">
                        <td>
                            <div class="galleriaListImagePanel galleriaListImagePanel_#{image.id}"
                                 onclick="#{cc.attrs.widgetVar}.setSelectedImageId(#{image.id})">
                                <img src="#{imageFileManager.createUrl(image)}"
                                     alt="Image with id = #{image.id} must be here"
                                     class="galleriaListImage"/>
                            </div>
                        </td>
                    </ui:repeat>
                </tr>
            </table>
        </div>

        <div class="galleriaRightArrowPanel">
            <div>
                <span class="galleriaRightInactiveArrow"/>
            </div>
        </div>
    </div>

</div>

</composite:implementation>

</html>