<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:composite="http://java.sun.com/jsf/composite" xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html" xmlns:p="http://primefaces.org/ui"
      xml:lang="en" lang="en">

<composite:interface>

    <composite:attribute name="filteringActionListener" required="true"
                         shortDescription="Filtering action listener"
                         type="ru.opresent.web.cms.component.table.FilterActionListener"/>

    <composite:attribute name="update" required="true"
                         shortDescription="Component(s) to be updated after filtering"/>

    <composite:attribute name="oncomplete" required="false"
                         shortDescription="Client side callback execute when filtering is completed
                                           and dom is updated"/>

</composite:interface>

<composite:implementation>
    <style type="text/css">
        .orderFilter {
            width: 100%;
        }

        .orderFilter {
            margin-bottom: 10px;
        }

        .orderFilter .fieldDesc {
            text-align: right;
            padding-right: 10px;
        }

        .orderFilter .fieldValue {
            text-align: left;
        }
    </style>

    <f:loadBundle var="order_filter" basename="ru.opresent.web.cms.i18n.component.order_filter"/>

    <h:form id="filterForm">

        <f:event type="preRenderComponent"
                 listener="#{orderFilterBean.setFilterActionListener(cc.attrs.filteringActionListener)}"/>

        <table class="orderFilter">
            <tbody>
                <tr>
                    <td class="fieldDesc"><h:outputText value="#{order_filter.id}"/></td>
                    <td class="fieldValue"><p:inputText value="#{orderFilterBean.filter.orderId}"/></td>

                    <td class="fieldDesc"><h:outputText value="#{order_filter.customer_full_name}"/></td>
                    <td class="fieldValue"><p:inputText value="#{orderFilterBean.filter.customerFullName}"/></td>

                    <td class="fieldDesc"><h:outputText value="#{order_filter.status}" styleClass="fieldDesc"/></td>
                    <td class="fieldValue">
                        <p:selectOneMenu value="#{orderFilterBean.filter.status}" styleClass="fieldValue">
                            <f:selectItem itemLabel="#{order_filter.all}" noSelectionOption="true"/>
                            <f:selectItems value="#{orderFilterBean.statuses}" var="status"
                                           itemValue="#{status}" itemLabel="#{enumHelper.getDescription(status)}"/>
                        </p:selectOneMenu>
                    </td>

                    <td class="filterButton">
                        <p:commandButton value="#{order_filter.filter}" styleClass="filterButton"
                                         process="@form"
                                         action="#{orderFilterBean.invokeFiltering}"
                                         update="#{cc.attrs.update} :messages"
                                         oncomplete="#{cc.attrs.oncomplete}"/>
                    </td>
                    <td class="resetLink">
                        <p:commandLink value="#{order_filter.reset}" style="color: #878787"
                                       process="@this"
                                       action="#{orderFilterBean.invokeReset}"
                                       update="@form #{cc.attrs.update}"
                                       oncomplete="#{cc.attrs.oncomplete}"/>
                    </td>
                </tr>
            </tbody>
        </table>

        <h:panelGrid columns="8" columnClasses="fieldDesc,fieldValue" styleClass="orderFilter">

        </h:panelGrid>

    </h:form>
</composite:implementation>


</html>