<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:composite="http://java.sun.com/jsf/composite" xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xml:lang="en" lang="en">

<composite:interface shortDescription="">

    <composite:attribute name="filteringActionListener" required="true"
                         shortDescription="Filtering action listener"
                         type="ru.opresent.web.cms.component.table.FilterActionListener"/>

    <composite:attribute name="update" required="true"
                         shortDescription="Component(s) to be updated after filtering"/>

    <composite:attribute name="oncomplete" required="false"
                         shortDescription="Client side callback execute when filtering is completed
                                           and dom is updated"/>

</composite:interface>

<composite:implementation>
    <style type="text/css">
        .productFilter {
            width: 100%;
        }

        .productFilter td .ui-selectonemenu {
            text-align: left !important;
        }

        .productFilter td {
            padding-bottom: 10px;
        }

        .productFilter td.fieldDesc {
            text-align: right;
            padding-right: 10px;
        }

        .productFilter td:last-child {
            text-align: right !important;
        }

    </style>

    <f:loadBundle var="product_filter" basename="ru.opresent.web.cms.i18n.component.product_filter"/>

    <h:form id="filterForm">

        <f:event type="preRenderComponent"
                 listener="#{productFilterBean.setFilterActionListener(cc.attrs.filteringActionListener)}"/>

        <table class="productFilter ui-widget">
            <tr>
                <td class="fieldDesc">
                    <h:outputText value="#{product_filter.type}"/>
                </td>
                <td style="width: 240px;">
                    <p:selectOneMenu value="#{productFilterBean.filter.productType}"
                                     converter="#{productFilterBean.productTypeConverter}"
                                     style="width: 250px;">
                        <f:selectItem itemLabel="#{product_filter.all}" noSelectionOption="true"/>
                        <f:selectItems value="#{productFilterBean.productTypes}" var="type"
                                       itemValue="#{type}" itemLabel="#{type.name}"/>
                    </p:selectOneMenu>
                </td>

                <td class="fieldDesc">
                    <h:outputText value="#{product_filter.status}"/>
                </td>
                <td>
                    <p:selectOneMenu value="#{productFilterBean.filter.status}" style="width: 150px;">
                        <f:selectItem itemLabel="#{product_filter.all}" noSelectionOption="true"/>
                        <f:selectItems value="#{productFilterBean.statuses}" var="status"
                                       itemValue="#{status}" itemLabel="#{enumHelper.getDescription(status)}"/>
                    </p:selectOneMenu>
                </td>

                <td colspan="2">
                    <h:outputText value="#{product_filter.price_from}"/>
                    <p:inputText value="#{productFilterBean.filter.minPrice}"
                                 style="width: 60px;
                                            margin-left: 10px;
                                            margin-right: 10px;"/>
                    <h:outputText value="#{product_filter.to}"/>
                    <p:inputText value="#{productFilterBean.filter.maxPrice}"
                                 style="width: 60px;
                                            margin-left: 10px;"/>
                </td>

            </tr>

            <tr>
                <td class="fieldDesc">
                    <h:outputText value="#{product_filter.name}"/>
                </td>
                <td style="width: 240px;">
                    <p:inputText value="#{productFilterBean.filter.name}" style="width: 240px;"/>
                </td>

                <td class="fieldDesc">
                    <h:outputText value="#{product_filter.category}"/>
                </td>
                <td>
                    <p:selectOneMenu value="#{productFilterBean.filter.category}" style="width: 150px;"
                                     converter="#{productFilterBean.categoryConverter}">
                        <f:selectItem itemLabel="#{product_filter.all}" noSelectionOption="true"/>
                        <f:selectItems value="#{productFilterBean.categories}" var="category"
                                       itemValue="#{category}"
                                       itemLabel="#{category.name}"
                                       itemDescription="#{category.description}"/>
                    </p:selectOneMenu>

                </td>

                <td class="fieldDesc">
                    <h:outputText value="#{product_filter.visible}"/>
                </td>
                <td style="width: 150px;">
                    <p:selectOneMenu value="#{productFilterBean.filter.visible}" style="width: 150px;">
                        <f:selectItem itemLabel="#{product_filter.all}" noSelectionOption="true"/>
                        <f:selectItem itemLabel="#{product_filter.yes}" itemValue="true"/>
                        <f:selectItem itemLabel="#{product_filter.no}" itemValue="false"/>
                    </p:selectOneMenu>
                </td>
            </tr>

            <tr>
                <td class="fieldDesc">
                    <h:outputText value="#{product_filter.description}"/>
                </td>
                <td style="width: 240px;">
                    <p:inputText value="#{productFilterBean.filter.description}" style="width: 240px;"/>
                </td>

                <td class="fieldDesc">
                    <h:outputText value="#{product_filter.size}"/>
                </td>
                <td>
                    <p:selectOneMenu value="#{productFilterBean.filter.size}" converter="#{productFilterBean.sizeConverter}"
                                     style="width: 150px;">
                        <f:selectItem itemLabel="#{product_filter.all}" noSelectionOption="true"/>
                        <f:selectItems value="#{productFilterBean.sizes}" var="size"
                                       itemValue="#{size}"
                                       itemLabel="#{size.description}"/>
                    </p:selectOneMenu>
                </td>

                <td>
                    <p:commandButton value="#{product_filter.filter}"
                                     process="@form"
                                     action="#{productFilterBean.invokeFiltering}"
                                     update="#{cc.attrs.update} :messages"
                                     oncomplete="#{cc.attrs.oncomplete}"/>
                </td>

                <td>
                    <p:commandLink value="#{product_filter.reset}" style="color: #878787"
                                   process="@this"
                                   action="#{productFilterBean.invokeReset}"
                                   update="@form #{cc.attrs.update}"
                                   oncomplete="#{cc.attrs.oncomplete}"/>
                </td>
            </tr>
        </table>
    </h:form>



</composite:implementation>


</html>