<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:composite="http://java.sun.com/jsf/composite"
      xmlns:f="http://java.sun.com/jsf/core" xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui" xmlns:pe="http://primefaces.org/ui/extensions"
      xml:lang="en" lang="en">

<composite:interface shortDescription="">

    <composite:attribute name="product" required="true" type="ru.opresent.core.domain.Product"/>
    <composite:attribute name="productKeywordsStyleClass" required="true" type="java.lang.String"/>

</composite:interface>

<composite:implementation>

    <style type="text/css">
        .ui-datalist-content {
            border: none;
        }

        .pe-fluidgrid-item > div {
            width: 200px;
            display: inline-block;
            margin: 5px !important;
        }

        .pe-fluidgrid-item div {
            font-size: 14px !important;
        }
    </style>

    <f:event type="preRenderComponent" listener="#{productKeywordsEditorBean.setProduct(cc.attrs.product)}"/>

    <h:panelGrid columns="2">
        <p:autoComplete value="#{productKeywordsEditorBean.keywords}" var="keyword"
                        itemLabel="#{keyword.keyword}" itemValue="#{keyword}" multiple="true"
                        completeMethod="#{productKeywordsEditorBean.completeKeyword}" converter="ProductKeywordConverter"
                        styleClass="#{cc.attrs.productKeywordsStyleClass} productKeywords" scrollHeight="100">

            <p:ajax event="itemSelect" listener="#{productKeywordsEditorBean.addKeywordToThesaurus}"
                    update="@this @(.keywordThesaurusPanel)"/>
            <p:ajax event="itemUnselect" update="@this @(.keywordThesaurusPanel)"/>

            <p:column>
                <h:outputText value="#{keyword.keyword}"/>
            </p:column>

        </p:autoComplete>

        <p:commandButton id="showThesaurusButton" icon="ui-icon-plusthick" type="button"/>
    </h:panelGrid>

    <p:overlayPanel for="showThesaurusButton" showCloseIcon="true" my="top" at="bottom">
        <p:scrollPanel styleClass="keywordThesaurusScrollPanel" style="height: 600px;" mode="native">
            <p:outputPanel styleClass="keywordThesaurusPanel" style="width: 1200px;">
                <pe:fluidGrid value="#{productKeywordsEditorBean.productKeywordThesarus}" var="thesaurusItem"
                              fitWidth="true">
                    <pe:fluidGridItem>
                        <p:panel header="#{thesaurusItem.firstChar}">
                            <p:dataList value="#{thesaurusItem.keywords}" var="keyword" type="definition">
                                <h:panelGrid columns="2">
                                    <p:commandLink action="#{productKeywordsEditorBean.addKeywordToProduct(keyword)}"
                                                   value="#{keyword.keyword}" style="font-size: 14px !important;"
                                                   update="@(.productKeywords, .keywordThesaurusPanel)"
                                                   disabled="#{productKeywordsEditorBean.keywords.contains(keyword)}"/>

                                    <p:commandLink action="#{productKeywordsEditorBean.removeKeywordFromThesaurus(keyword)}"
                                                   update="@(.keywordThesaurusPanel)">
                                        <span class="ui-icon ui-icon-closethick"/>
                                    </p:commandLink>
                                </h:panelGrid>
                            </p:dataList>
                        </p:panel>
                    </pe:fluidGridItem>
                </pe:fluidGrid>
            </p:outputPanel>
        </p:scrollPanel>
    </p:overlayPanel>


</composite:implementation>


</html>