<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="/pages/template/template.xhtml" xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui" xmlns:f="http://java.sun.com/jsf/core"
                xmlns:composite="http://java.sun.com/jsf/composite"
                xml:lang="en" lang="en">

<composite:interface>
    <composite:attribute name="container" required="true" type="ru.opresent.web.cms.component.rich_text.RichTextContainer"/>

    <composite:attribute name="widgetVar" required="true"/>

    <composite:attribute name="formId" required="true"/>

    <composite:attribute name="allowAddImage" required="false" default="true"/>

    <composite:attribute name="editorStyleClass" required="false"/>

    <composite:attribute name="editorWidth" required="false" default="800" shortDescription="Default: 800"/>
    <composite:attribute name="editorHeight" required="false" default="500" shortDescription="Default: 500"/>
</composite:interface>

<composite:implementation>
    <style type="text/css">
        .ui-fileupload {
            width: 200px;
            height: 30px;
        }
    </style>

    <f:loadBundle var="buttons" basename="ru.opresent.web.cms.i18n.buttons"/>
    <f:loadBundle var="rich_text" basename="ru.opresent.web.cms.i18n.component.rich_text"/>

    <div id="#{cc.clientId}">

        <p:fileUpload rendered="#{cc.attrs.allowAddImage}"
                      allowTypes="#{imageFileBean.allowTypesPattern}"
                      invalidFileMessage="#{imageFileBean.invalidFileMessage}"
                      sizeLimit="#{imageFileBean.sizeLimit}"
                      invalidSizeMessage="#{imageFileBean.invalidSizeMessage}"
                      multiple="false"
                      fileUploadListener="#{richTextBean.handleImageUpload}"
                      auto="true" label="#{rich_text.add_image}"
                      update=":#{cc.attrs.formId}:#{cc.id}:lastLoadedElementContainer"
                      oncomplete="#{cc.attrs.widgetVar}_.insertLastLoadedElement()"/>

        <p:editor widgetVar="#{cc.attrs.widgetVar}" value="#{cc.attrs.container.text}"
                  styleClass="#{cc.attrs.editorStyleClass}"
                  width="#{cc.attrs.editorWidth}" height="#{cc.attrs.editorHeight}"/>

        <h:outputText id="lastLoadedElementContainer" value="#{richTextBean.loadedElementHtml}"
                      styleClass="lastLoadedElementContainer_#{cc.id}" escape="false"
                      style="display: none"/>

        <script type="text/javascript">
            //<![CDATA[
            var #{cc.attrs.widgetVar}_ = {};

            $(function() {
                #{cc.attrs.widgetVar}_.insertLastLoadedElement = function() {
                    var lastLoadedElementHtml = $("span.lastLoadedElementContainer_#{cc.id}").html();

                    PF('#{cc.attrs.widgetVar}').editor.doc.execCommand("inserthtml", 0, lastLoadedElementHtml);
                    PF('#{cc.attrs.widgetVar}').saveHTML();
                };
            });

            //]]>
        </script>
    </div>

</composite:implementation>


</ui:composition>