<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="/pages/template/template.xhtml" xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui" xmlns:pe="http://primefaces.org/ui/extensions"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:composite="http://java.sun.com/jsf/composite"
                xml:lang="en" lang="en">

<composite:interface>

    <composite:attribute name="container" required="true" type="ru.opresent.web.cms.component.rich_text.RichTextContainer"/>

    <composite:attribute name="allowAddImage" required="false" default="true"/>

    <composite:attribute name="editorWidth" required="false" default="1024" shortDescription="Default: 1024"/>

    <composite:attribute name="editorHeight" required="false" default="768" shortDescription="Default: 768"/>

</composite:interface>

<composite:implementation>
    <style type="text/css">
        .ui-fileupload {
            width: 200px;
            height: 30px;
        }
        .richTextEditorAddImageGrid td {
            vertical-align: middle;
            padding-right: 5px;
        }
    </style>

    <f:loadBundle var="buttons" basename="ru.opresent.web.cms.i18n.buttons"/>
    <f:loadBundle var="rich_text" basename="ru.opresent.web.cms.i18n.component.rich_text"/>

    <div id="#{cc.clientId}">

        <h:panelGrid columns="4" styleClass="richTextEditorAddImageGrid"
                     rendered="#{cc.attrs.allowAddImage}">
            <p:fileUpload allowTypes="#{imageFileBean.allowTypesPattern}"
                          invalidFileMessage="#{imageFileBean.invalidFileMessage}"
                          sizeLimit="#{imageFileBean.sizeLimit}"
                          invalidSizeMessage="#{imageFileBean.invalidSizeMessage}"
                          multiple="false"
                          fileUploadListener="#{richTextBean.handleImageUpload}"
                          auto="true" label="#{rich_text.add_image}"
                          update="#{cc.id}:loadedImageUrlPanel"/>

            <p:selectBooleanCheckbox id="withoutCopyrightCheckbox" value="#{richTextBean.withoutCopyright}">
                <p:ajax process="@this"/>
            </p:selectBooleanCheckbox>
            <p:outputLabel for="withoutCopyrightCheckbox" value="#{rich_text.without_copyright}"/>

            <h:panelGroup id="loadedImageUrlPanel">
                <p:inputText value="#{imageFileManager.createUrl(richTextBean.loadedImage)}"
                             readonly="true"
                             style="width: 250px;"
                             rendered="#{not empty richTextBean.loadedImage}"/>
            </h:panelGroup>
        </h:panelGrid>

        <pe:ckEditor id="ckEditor"
                     value="#{cc.attrs.container.text}"
                     width="#{cc.attrs.editorWidth}" height="#{cc.attrs.editorHeight}"/>

    </div>

</composite:implementation>


</ui:composition>