<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:composite="http://java.sun.com/jsf/composite" xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui" xmlns:h="http://java.sun.com/jsf/html"
      xml:lang="en" lang="en">

<composite:interface shortDescription="Use js function showSelectCategoryListDialog() for show dialog">

    <composite:attribute name="dialog" required="true"
                         type="ru.opresent.web.cms.component.dialog.SelectCategoryListDialog"/>

    <composite:attribute name="update" required="true"/>

</composite:interface>

<composite:implementation>

    <f:loadBundle var="select_category_list_dialog"
                  basename="ru.opresent.web.cms.i18n.component.select_category_list_dialog"/>
    <f:loadBundle var="buttons" basename="ru.opresent.web.cms.i18n.buttons"/>

    <h:form id="categoryListDialogForm">
        <p:remoteCommand name="showSelectCategoryListDialog"
                         process="@this"
                         action="#{cc.attrs.dialog.prepareToShow}"
                         update="@form"
                         oncomplete="PF('selectCategoryListDialogVar').show();"/>

        <p:dialog header="#{select_category_list_dialog.categories_selection}" width="500"
                  widgetVar="selectCategoryListDialogVar" modal="true">
            <p:dataTable value="#{cc.attrs.dialog.handler.availableCategories}" var="category">

                <p:column>
                    <p:selectBooleanCheckbox value="#{cc.attrs.dialog.selection[category]}"/>
                </p:column>

                <p:column headerText="#{select_category_list_dialog.category}" style="text-align: left;">
                    <h:outputText value="#{category.name}"/>
                </p:column>

            </p:dataTable>

            <f:facet name="footer">
                <p:commandButton value="#{buttons.ok}"
                                 icon="ui-icon-check"
                                 process="@form"
                                 action="#{cc.attrs.dialog.applySelection}"
                                 oncomplete="PF('selectCategoryListDialogVar').hide();"
                                 update="#{cc.attrs.update}"/>

                <p:button value="#{buttons.cancel}" onclick="PF('selectCategoryListDialogVar').hide();return;"
                          icon="ui-icon-cancel"/>
            </f:facet>
        </p:dialog>

    </h:form>

</composite:implementation>


</html>