<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:composite="http://java.sun.com/jsf/composite" xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui" xmlns:h="http://java.sun.com/jsf/html"
      xml:lang="en" lang="en">

<composite:interface shortDescription="Use js function showSelectColorListDialog() for show dialog">

    <composite:attribute name="dialog" required="true"
                         type="ru.opresent.web.cms.component.dialog.SelectColorListDialog"/>

    <composite:attribute name="update" required="true"/>

</composite:interface>

<composite:implementation>

    <f:loadBundle var="select_color_list_dialog"
                  basename="ru.opresent.web.cms.i18n.component.select_color_list_dialog"/>
    <f:loadBundle var="buttons" basename="ru.opresent.web.cms.i18n.buttons"/>

    <h:form id="colorListDialogForm">
        <p:remoteCommand name="showSelectColorListDialog"
                         process="@this"
                         action="#{cc.attrs.dialog.prepareToShow}"
                         update="@form"
                         oncomplete="PF('selectColorListDialogVar').show();"/>

        <p:dialog header="#{select_color_list_dialog.colors_selection}" width="300"
                  widgetVar="selectColorListDialogVar" modal="true">
            <p:dataTable value="#{cc.attrs.dialog.handler.availableColors}" var="color">

                <p:column>
                    <p:selectBooleanCheckbox value="#{cc.attrs.dialog.selection[color]}"/>
                </p:column>

                <p:column headerText="#{select_color_list_dialog.color}">
                    <div style="width: 70px; height: 20px;
                                background-color:\##{color.hex};
                                border: 1px solid black;
                                margin-left: auto; margin-right: auto;"></div>
                </p:column>

            </p:dataTable>

            <f:facet name="footer">
                <p:commandButton value="#{buttons.ok}"
                                 icon="ui-icon-check"
                                 process="@form"
                                 action="#{cc.attrs.dialog.applySelection}"
                                 oncomplete="PF('selectColorListDialogVar').hide();"
                                 update="#{cc.attrs.update}"/>

                <p:button value="#{buttons.cancel}" onclick="PF('selectColorListDialogVar').hide();return;"
                          icon="ui-icon-cancel"/>
            </f:facet>
        </p:dialog>

    </h:form>

</composite:implementation>


</html>