<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core" xmlns:h="http://java.sun.com/jsf/html"
      xml:lang="en" lang="en">
<head>
</head>
<body>

<ui:composition>
    <f:loadBundle var="common" basename="ru.opresent.web.cms.i18n.common"/>
    <f:loadBundle var="authentification" basename="ru.opresent.web.cms.i18n.authentification"/>

    <h:panelGrid columns="2" columnClasses="cmsHeaderPanel,logoutButton">
        <p:panel header="#{common.market_header}" collapsed="true"/>
        <h:form>
            <p:commandButton value="#{authentification.logout}" action="#{authenticationBean.logout}"/>
        </h:form>
    </h:panelGrid>

</ui:composition>

</body>
</html>