<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui" xmlns:f="http://java.sun.com/jsf/core" xmlns:h="http://java.sun.com/jsf/html"
      xml:lang="en" lang="en">
<head>
</head>
<body>

<ui:composition>

    <f:loadBundle var="main_menu" basename="ru.opresent.web.cms.i18n.main_menu"/>

    <h:form id="mainMenuForm">

        <p:menu id="mainMenu">

            <p:menuitem value="#{main_menu.products}" outcome="/pages/product/product_list?faces-redirect=true"/>

            <p:menuitem value="#{main_menu.product_types}" outcome="/pages/product_type/product_type_list?faces-redirect=true"/>

            <p:menuitem value="#{main_menu.categories}" outcome="/pages/category/category_list?faces-redirect=true"/>

            <p:menuitem value="#{main_menu.sizes}" outcome="/pages/size/size_list?faces-redirect=true"/>

            <p:menuitem value="#{main_menu.colors}" outcome="/pages/color/color_list?faces-redirect=true"/>

            <p:menuitem value="#{main_menu.notes}" outcome="/pages/notes/notes?faces-redirect=true"/>

            <p:menuitem value="#{main_menu.sections}" outcome="/pages/section/section_list?faces-redirect=true"/>

            <p:menuitem value="#{main_menu.banner}" outcome="/pages/banner/banner?faces-redirect=true"/>

            <p:menuitem value="#{main_menu.news}" outcome="/pages/news/news?faces-redirect=true"/>

            <p:menuitem value="#{messageFormatBean.format(main_menu.incoming_messages, mainMenuBean.notReadedIncomingMessagesCount)}"
                        outcome="/pages/incoming_message/incoming_message_list?faces-redirect=true"
                        styleClass="#{mainMenuBean.notReadedIncomingMessagesCount eq 0 ? '' : 'bold'}"/>

            <p:menuitem value="#{messageFormatBean.format(main_menu.orders, mainMenuBean.newOrdersCount)}"
                        outcome="/pages/order/order_list?faces-redirect=true"
                        styleClass="#{mainMenuBean.newOrdersCount eq 0 ? '' : 'bold'}"/>

            <p:menuitem value="#{main_menu.livemaster}" outcome="/pages/livemaster/livemaster_sync?faces-redirect=true"/>

            <p:menuitem value="Image file synchronization"
                        outcome="/pages/image_synchronization/image_synchronization?faces-redirect=true"/>
            <p:menuitem value="Misc" outcome="/pages/misc/misc?faces-redirect=true"/>
        </p:menu>

    </h:form>

</ui:composition>

</body>
</html>