<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui" xmlns:f="http://java.sun.com/jsf/core" xml:lang="en" lang="en">

<f:view>

    <h:head>
        <title>
            <ui:insert name="windowTitle"/>
        </title>
    </h:head>

    <h:body>
        <f:facet name="last">
            <h:outputStylesheet library="css" name="style.css"/>
            <h:outputScript library="js" name="primefaces_override.js" target="head"/>
        </f:facet>

        <div class="header">
            <ui:insert name="header">
                <ui:include src="header.xhtml"/>
            </ui:insert>
        </div>

        <div class="sidebarLeft">
            <ui:insert name="sidebarLeft">
                <ui:include src="sidebarLeft.xhtml"/>
            </ui:insert>
        </div>

        <div class="content">
            <p:messages id="messages"/>
            <ui:insert name="content"/>
        </div>

        <p:ajaxStatus onstart="showAjaxStatusDialog()"
                      oncomplete="hideAjaxStatusDialog()"/>

        <p:dialog widgetVar="ajaxStatusDialog" modal="true" draggable="false" closable="false" resizable="false" showHeader="false">
            <p:graphicImage value="/resources/images/dancing_cat.gif" />
        </p:dialog>

        <script type="text/javascript">
            //<![CDATA[

            var ajaxInProgress = false;

            function showAjaxStatusDialog() {
                ajaxInProgress = true;
                setTimeout(function() {
                    if (ajaxInProgress) {
                        PF('ajaxStatusDialog').show();
                    }
                }, 5000);
            }

            function hideAjaxStatusDialog() {
                ajaxInProgress = false;
                PF('ajaxStatusDialog').hide();
            }
            //]]>
        </script>

    </h:body>

</f:view>


</html>