* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

body {
    padding-top: 50px;
}

h1, .h1 {
    font-size: 20px !important;
}
h2, .h2 {
    font-size: 16px !important;
}
h3, .h3 {
    font-size: 12px !important;
}
h4, .h4 {
    font-size: 12px !important;
}
h5, .h5 {
    font-size: 12px !important;
}
h6, .h6 {
    font-size: 10px !important;
}

.container {
    padding: 0;
    margin: 0;
}

a, a:hover, a:focus {
    text-decoration: none;
}

.btn {
    border: none;
    text-decoration: none;
    text-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background-image: none;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    -webkit-backface-visibility: hidden;
    color: #fff;
    white-space: normal;
}

.btn:hover, .btn:focus {
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    color: #fff;
}

.btn.btn-large {
    text-transform: uppercase;
    font-weight: 700;
    padding: 8px 10px;
    font-size: 14px;
}

.btn.inline {
    margin-top: 0;
    margin-bottom: 0;
}

.btn.btn-bottom {
    -moz-border-radius: 0 0 5px 5px;
    -ms-border-radius: 0 0 5px 5px;
    -o-border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    line-height: 38px;
    text-transform: uppercase;
}

a {
    color: #87944d;
    -webkit-transition: color 0.5s;
    -moz-transition: color 0.5s;
    transition: color 0.5s;
}

a:hover {
    color: #bfd16d;
    -webkit-transition: color 0.5s;
    -moz-transition: color 0.5s;
    transition: color 0.5s;
}

.navbar {
    background-color: #bfd16d;
    border-bottom: solid 1px #87944d;
}

.btn {
    background-color: #bfd16d;
}

.btn:hover, .btn:focus {
    background-color: #87944d;
}

.bold {
    font-weight: bold;
}

.rich-text a {
    text-decoration: underline;
}

.rich-text img {
    max-width: 100%;
}

.rich-text .hidden-mobile {
    display: none;
}

/* <editor-fold desc="Navbar"> */

header {
    background-color: #bfd16d;
}

.navbar {
    margin: 0;
    border: none;
    height: 50px;
}

.navbar > div {
    background: transparent;
}

.navbar .navbar-header {
    background-color: #bfd16d;
}

.navbar a {
    color: #fff;
}

.navbar-header-left {
    float: left;
    width: 50px;
    position: absolute;
    z-index: 2;
}

.navbar-toggle {
    border: none;
    border-radius: 1px;
    background: transparent !important;
    padding: 0;
    margin: 15px 14px 0 0;
}

.navbar-toggle .icon-bar {
    height: 4px;
    background-color: #fff !important;
}

.navbar-header-center {
    float: left;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 1;
}

.navbar-header-center .nav-logo-holder {
    margin-left: 50px;
    margin-right: 60px;
    background-color: #87944d;
}

.navbar-header-right,
.navbar-header-left,
.navbar-header-center,
.navbar-header-center img {
    height: 50px;
}

.navbar-header-right {
    float: right;
    position: relative;
    z-index: 2;
}

.navbar-header-right .glyphicon {
    font-size: 25px;
    margin-top: 13px;
    margin-right: 20px;
}

.navbar-header-right .tooltip-inner {
    white-space: nowrap;
    opacity: 0.9;
}

.glyphicon-shopping-cart {
    transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
}

.nav-cart-count {
    position: absolute;
    z-index: 3;
    right: 10px;
    top: 3px;
    background-color: #e28201;
    border-radius: 10px;
    padding: 1px 7px 1px 7px;
    font-size: 12px;
}

#navbar-menu {
    width: 200px;
    background-color: #87944d; /* #87944d #bfd16d */
}

#navbar-menu a {
    text-transform: uppercase;
}

#navbar-menu .section-link {
    display: table;
    width: 100%;
}

#navbar-menu .section-link div {
    display: table-cell;
    vertical-align: middle;
}

#navbar-menu .section-arrow {
    float: right;
    color: #fff;
}

.nav > li > a:hover,
.nav > li > a:focus {
    background-color: #bfd16d;
}

/* </editor-fold> */

/* <editor-fold desc="Footer"> */

footer {
    padding-left: 10px;
    margin-top: 20px;
}

footer .market-phone,
footer .market-email {
    color: #25394d;
    font-size: 16px;
}

footer .social-links-holder {
    padding: 10px 0 10px 0;
}

footer .social-link {
    margin-right: 10px;
}

/* </editor-fold> */

/* <editor-fold desc="Welcome page"> */

.welcome-page .welcome-carousel-holder {
    text-align: center;
}

.welcome-page .carousel {
    max-width: 400px;
    display: inline-block;
}

.welcome-page .carousel .carousel-control {
    background: none;
}

.welcome-page .product-type-list .product-type-name {
    color: #87944d;
    padding-left: 10px;
    font-size: 18px;
    text-align: left;
}

.welcome-page .product-type-list .product-type-image-holder {
    width: 80px;
}

.welcome-page .product-type-list .product-type-arrow {
    float: right;
    font-size: 25px;
    color: #87944d;
}

.welcome-page .product-type-list .product-type-link {
    display: table;
    width: 100%;
}

.welcome-page .product-type-list .product-type-link div {
    display: table-cell;
    vertical-align: middle;
}

.welcome-page .news-list .news-date {
    color: grey;
}

/* </editor-fold> */

/* <editor-fold desc="Product preview panel"> */

.product-preview-panel {
    width: 100%;
    background: #fff;
    padding: 5px;
    margin-bottom: 7px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 0px 1px 2px rgba(50, 50, 50, 0.38);
}

.product-preview-panel .preview img {
    width: 100%;
}

.product-preview-panel .price,
.product-preview-panel .for-example {
    color: #e28201;
}

.product-preview-panel .price {
    margin-top: 5px;
}

.product-preview-panel .details {
    position: relative;
}

.product-preview-panel .details .name {
    display: block;
}

.product-preview-panel .product-action-buy,
.product-preview-panel .product-action-order,
.product-preview-panel .product-action-in-cart {
    position: absolute;
    right: 0;
    bottom: 0;
}

.product-preview-panel .product-action-more-info,
.product-preview-panel .product-action-in-cart,
.go-to-catalog {
    color: #e28201;
    text-decoration: underline;
    cursor: pointer;
}

.product-list-page .product-list .btn.product-action {
    padding: 3px;
}

/* </editor-fold> */

/* <editor-fold desc="Product list page"> */

.product-list-page .product-list-filter {
    margin: 20px 10px 10px 10px;
}

.product-list-page .product-list-filter .dropdown {
    margin-bottom: 10px;
}

.product-list-page .product-list-filter .dropdown .btn,
.product-list-page .product-list-filter .dropdown .dropdown-menu {
    width: 100%;
}

.product-list-page .product-list-filter .dropdown .btn {
    background-color: #fff;
    color: #25394d;
    border: 1px solid #bfd16d;
    text-align: left;
}

.product-list-page .product-list-filter .dropdown .btn .caret {
    float: right;
    margin-top: 7px;
}

.product-list-page .product-list .product-column {
    float: left;
    width: 50%;
}

.product-list-page .product-list .product-column:nth-child(1) {
    padding-left: 7px;
    padding-right: 3px;
}

.product-list-page .product-list .product-column:nth-child(2) {
    padding-left: 3px;
    padding-right: 7px;
}

.product-list-page .pagination-holder {
    text-align: center;
    clear: both;
}

.product-list-page .pagination {
    margin: 10px 0 0 0;
}

/* </editor-fold> */

/* <editor-fold desc="Product page"> */

.product-page {
    background-color: #fff;
}

.product-page h1 {
    margin-left: 10px;
    margin-right: 10px;
}

.product-page .product-views-carousel-holder {
    text-align: center;
}

.product-page .carousel {
    max-width: 400px;
    display: inline-block;
}

.product-page .carousel .carousel-control {
    background: none;
    color: #bfd16d;
    font-size: 30px;
    text-shadow: none;
    opacity: 1;
}

.product-page .carousel .carousel-control .glyphicon-circle-arrow-left,
.product-page .carousel .carousel-control .glyphicon-circle-arrow-right {
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
    margin-top: -10px;
    right: 50%;
    margin-right: -10px;
}

.product-page .product-price-and-action-table {
    width: 100%;
}

.product-page .price {
    font-size: 24px;
    color: #87944d;
}

.product-page .product-price-holder {
    text-align: left;
}

.product-page .product-action-holder {
    text-align: right;
}

.product-page .product-action {
    background-color: #ffc247;
    color: white;
    text-shadow: 1px 1px 1px #c28100;
    box-shadow: 1px 1px 1px #c28100;
}

.product-page .product-action:hover {
    background-color: #ffaa00;
}

.product-page .ask-question-holder {
    text-align: right;
    padding-top: 5px;
}

.product-page .ask-question {
    text-decoration: underline;
    cursor: pointer;
}

.product-page .product-details {
    padding: 10px;
}

/* </editor-fold> */

/* <editor-fold desc="Cart page"> */

.cart-page {
    padding-left: 5px;
    padding-right: 5px;
}

.cart-page .product,
.cart-page .cart-summary {
    background: #fff;
    padding: 5px;
    margin-bottom: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 0px 1px 2px rgba(50, 50, 50, 0.38);
}

.cart-page .product .preview-holder {
    display: table-cell;
    width: 50%;
}

.cart-page .product .preview-holder img {
    max-width: 100%;
}

.cart-page .product .info-holder {
    display: table-cell;
    vertical-align: top;
    padding-left: 5px;
    position: relative;
    line-height: 23px;
    width: 50%;
}

.cart-page .product .info-holder .cart-remove {
    position: absolute;
    right: 0;
    bottom: 0;
    text-decoration: underline;
}

.cart-page .product .info-holder .price {
    font-size: 16px;
}

.cart-page .cart-summary {
    text-align: center;
}

.cart-page .cart-summary .cart-total {
    font-size: 16px;
    margin-bottom: 5px;
}

.cart-page .cart-summary .create-order {
    margin-top: 10px;
    margin-bottom: 10px;
}

/* </editor-fold> */

/* <editor-fold desc="Order page"> */

.order-page {
    background-color: #fff;
    padding: 10px;
}

.order-page .order-info-form .field-required,
.order-page .order-info-form .invalid-message-filling {
    display: none;
}

.order-page .order-info-form .add-order-holder {
    text-align: center;
    margin-bottom: 0;
}

/* </editor-fold> */

/* <editor-fold desc="Section page"> */

.section-page {
    padding: 10px 5px 10px 5px;
}

.section-page .section-header,
.section-page .section-item {
    background: #fff;
    padding: 10px 5px 10px 5px;
    margin-bottom: 10px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 0px 1px 2px rgba(50, 50, 50, 0.38);
}

.section-page .incoming-message-panel-holder hr {
    border-width: 2px;
    border-color: #87944d;
}

.section-page .incoming-message-panel-holder .ask-more-question {
    text-decoration: underline;
    cursor: pointer;
    display: none;
}

.section-page .section-item .preview-holder {
    float: left;
    margin-right: 5px;
}

.section-page .section-item .preview-holder img {
    max-width: 150px;
    max-height: 150px;
}

.section-page .section-item h2 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.section-page .section-item .name {
    text-decoration: underline;
}

.section-page .delivery-way-infos {
    margin-right: 10px;
}

.section-page .delivery-way-infos .address-type {
    font-size: 20px;
    padding-bottom: 15px;
}

.section-page .delivery-way-infos .delivery-way {
    font-size: 16px;
}

.section-page .delivery-way-infos .price {
    font-size: 16px;
    min-width: 110px;
    text-align: right;
}

.section-page .delivery-way-infos .note {
    font-style: italic;
    padding-bottom: 15px;
    border-top: 1px solid #9e9e9e;
}

/* </editor-fold> */

/* <editor-fold desc="Section item page"> */

.section-item-page {
    background: #fff;
    margin: 10px 5px 10px 5px;
    padding: 10px 5px 10px 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 0px 1px 2px rgba(50, 50, 50, 0.38);
}

/* </editor-fold> */

/* <editor-fold desc="Search page"> */

.search-page {
    padding: 10px 5px 10px 5px;
}

.search-page .search-controls-holder {
    background-color: #fff;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 0px 1px 2px rgba(50, 50, 50, 0.38);
    padding: 10px;
    margin-bottom: 10px;
}

.search-page .search-controls {
    width: 100%;
}

.search-page .search-controls .input-group {
    width: 100%;
}

.search-page .search-controls label {
    margin-right: 10px;
}

#search-query-input,
.search-page span.twitter-typeahead,
.search-page span.twitter-typeahead .tt-hint,
.search-page span.twitter-typeahead .tt-menu {
    width: 100%;
}

#search-query-button {
    height: 34px;
    margin-bottom: 4px;
}

.search-page .empty-result {
    background-color: #fff;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 0px 1px 2px rgba(50, 50, 50, 0.38);
    padding: 10px;
    margin-top: 10px;
}

.search-page .product {
    background-color: #fff;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 0px 1px 2px rgba(50, 50, 50, 0.38);
    margin-bottom: 5px;
    padding: 5px;
}

.search-page .product .preview-holder {
    display: table-cell;
}

.search-page .product .info-holder {
    display: table-cell;
    vertical-align: top;
    padding-left: 5px;
    position: relative;
    line-height: 23px;
}

.search-page .product .info-holder .price {
    font-size: 16px;
}

/* </editor-fold> */

.wait-popup .modal-body {
    color: #87944d;
    font-size: 17px;
    padding: 0;
    text-align: center;
}

.wait-popup img {
    width: 150px;
}