* {
    font-family: /*'PT Sans',*/ sans-serif;
}

body {
    background: url(../../common/images/background.png) repeat #e0f09a;
    color: #25394d;
}

.input-group-addon {
    background-color: #bfd16d !important;
}

.pagination > li > a,
.pagination > li > span {
    color: #87944d;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    background-color: #87944d !important;
    border-color: #87944d !important;
}

.modal-dialog {
    top: 30% !important;
}

@font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    src: local('PT Sans'), local('PTSans-Regular'), url(../../common/fonts/ptsans.woff) format('woff');
    /*src: local('PT Sans'), local('PTSans-Regular'), url(http://fonts.gstatic.com/s/ptsans/v8/LKf8nhXsWg5ybwEGXk8UBQ.woff) format('woff');*/
}