<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<jsp:root xmlns:jsp="http://java.sun.com/JSP/Page" version="2.0"
          xmlns:s="http://www.springframework.org/tags"
          xmlns:c="http://java.sun.com/jsp/jstl/core"
        >

    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>

    <s:message code="search" var="search"/>
    <s:message code="default_page_title" var="default_page_title"/>

    <a class="current brand" href="${appNavigationManager.welcomeUrl}" title="${default_page_title}">
        <img src="${serverConfig.staticResourcesBaseUrl}/common/images/logo.png" alt="O-Present"/>
    </a>

    <nav id="main-nav" class="navbar-collapse collapse">
        <ul class="nav">
            <c:forEach items="${sections}" var="section" varStatus="loopStatus">
                <c:set var="isActiveSection" value="${not empty activeSection and activeSection.id eq section.id}"/>
                <li class="section${isActiveSection ? ' current active' : ''}">
                    <a href="${appNavigationManager.getSectionUrl(section)}"
                       class="${isActiveSection ? 'current ' : ''}top-level flat"
                       title="${section.name}">${section.name}</a>
                </li>
            </c:forEach>
        </ul>
    </nav>

    <!-- TODO
    <c:if test="${not hideNavSearch}">
        <div class="row nav-search visible-lg-block">
            <div class="col-lg-12">
                <div class="input-group">
                    <input id="nav-search-input" type="text" class="form-control" placeholder="${search}"/>
                    <div class="input-group-btn">
                        <button id="nav-search-button" class="btn btn-default" type="button">
                            <i class="glyphicon glyphicon-search"><jsp:text/></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row nav-search-link hidden-lg">
            <a href="${appNavigationManager.searchUrl}" class="nav-search-link" title="${search}">
                <i class="glyphicon glyphicon-search"><jsp:text/></i>
            </a>
        </div>
    </c:if>
    -->

    <div class="pull-right">
        <div class="nav-contacts">
            <a href="tel:${marketConfig.phone}" title="${marketConfig.phone}" target="_blank"
               class="market-phone">${marketConfig.formattedPhone}</a>
            <br/>
            <a href="mailto:${marketConfig.email}" title="${marketConfig.email}" target="_blank"
               class="market-email">${marketConfig.email}</a>
            <br/>
            <span class="market-city">${marketConfig.city}</span>
        </div>

        <jsp:include page="/views/normal/cart/navcart.jspx"/>
    </div>

</jsp:root>