<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="/pages/template/template.xhtml" xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui" xmlns:f="http://java.sun.com/jsf/core"
                xml:lang="en" lang="en">

    <ui:define name="windowTitle">
        <f:loadBundle var="product_type" basename="ru.opresent.web.cms.i18n.product_type.product_type"/>
        <h:outputText value="#{productTypeBean.addition ? product_type.add_title : product_type.edit_title}"/>
    </ui:define>

    <ui:define name="content">
        <f:loadBundle var="common" basename="ru.opresent.web.cms.i18n.common"/>
        <f:loadBundle var="buttons" basename="ru.opresent.web.cms.i18n.buttons"/>

        <style type="text/css">
            .productTypeFieldDesc {
                text-align: right;
                padding-right: 10px;
                padding-bottom: 10px;
            }

            .productTypeField {
                text-align: left !important;
                padding-bottom: 10px;
            }

            .productTypeField .ui-inputfield,
            .productTypeField .ui-inputtextarea {
                width: 300px;
            }

            .productTypeField img {
                max-width: 200px;
            }

            .productTypeButtons button {
                margin-top: 20px;
                margin-right: 20px;
            }
        </style>

        <p:panel header="#{productTypeBean.addition ? product_type.add_title : product_type.edit_title}"
                 collapsed="true" styleClass="pageHeaderPanel"/>

        <h:form id="productTypeForm">
            <h:panelGrid columns="2" columnClasses="productTypeFieldDesc,productTypeField">
                <p:outputLabel for="productTypeName" value="#{product_type.name}"/>
                <p:inputText id="productTypeName" value="#{productTypeBean.productType.name}"
                             maxlength="#{entitiesConstraints.productTypeNameMaxLength}"/>

                <p:outputLabel for="productTypeEntityName" value="#{product_type.entity_name}"/>
                <p:inputText id="productTypeEntityName" value="#{productTypeBean.productType.entityName}"
                             maxlength="#{entitiesConstraints.entityNameMaxLength}"/>

                <p:outputLabel for="livemasterAliasesInput" value="#{product_type.livemaster_aliases}"/>
                <p:autoComplete id="livemasterAliasesInput" value="#{productTypeBean.livemasterAliases}"
                                var="livemasterAlias" itemLabel="#{livemasterAlias}" itemValue="#{livemasterAlias}"
                                completeMethod="#{productTypeBean.completeAlias}" multiple="true"
                                scrollHeight="100">
                    <p:ajax event="itemUnselect" listener="#{productTypeBean.onAliasUnselect}"
                            update="@this"/>

                    <p:column>
                        <h:outputText value="#{livemasterAlias}" />
                    </p:column>
                </p:autoComplete>

                <h:outputText value="#{product_type.image}"/>
                <h:panelGroup id="productTypeImage">
                    <p:fileUpload id="productTypeImageUpload" styleClass="productTypeImageUpload"
                                  allowTypes="#{imageFileBean.allowTypesPattern}"
                                  invalidFileMessage="#{imageFileBean.invalidFileMessage}"
                                  sizeLimit="#{imageFileBean.sizeLimit}"
                                  invalidSizeMessage="#{imageFileBean.invalidSizeMessage}"
                                  multiple="false"
                                  fileUploadListener="#{productTypeBean.handleProductTypeImageUpload}"
                                  auto="true" label="#{buttons.define}"
                                  update="productTypeImage"
                                  style="width: 310px;text-align: center;"/>

                    <h:outputText value="#{product_type.image_not_defined}" styleClass="alarm"
                                  rendered="#{empty productTypeBean.productType.image}"/>

                    <h:panelGroup rendered="#{not empty productTypeBean.productType.image}">
                        <img src="#{imageFileManager.createUrl(productTypeBean.productType.image)}"/>
                    </h:panelGroup>
                </h:panelGroup>

                <p:outputLabel for="productTypeDesc" value="#{product_type.description}"/>
                <h:panelGroup>
                    <p:inputTextarea id="productTypeDesc" value="#{productTypeBean.productType.description}"
                                     cols="50" rows="6" maxlength="#{entitiesConstraints.productTypeDescriptionMaxLength}"
                                     counter="productTypeDescCounter" counterTemplate="#{common.chars_remaining}"/>
                    <h:outputText id="productTypeDescCounter" styleClass="charsCounter"/>
                </h:panelGroup>
            </h:panelGrid>

            <h:panelGroup styleClass="productTypeButtons">
                <p:commandButton id="saveButton" value="#{buttons.save}" icon="ui-icon-disk"
                                 process="@this productTypeName productTypeEntityName livemasterAliasesInput productTypeDesc"
                                 action="#{productTypeBean.save}" update=":messages"/>

                <p:button id="returnToListButton" value="#{buttons.return_to_list}" icon="ui-icon-arrowthick-1-w"
                          outcome="product_type_list?faces-redirect=true"/>
            </h:panelGroup>

        </h:form>
    </ui:define>

</ui:composition>