<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="/pages/template/template.xhtml" xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui" xmlns:f="http://java.sun.com/jsf/core"
                xml:lang="en" lang="en">

    <ui:define name="windowTitle">
        <f:loadBundle var="product_type_list" basename="ru.opresent.web.cms.i18n.product_type.product_type_list"/>
        <h:outputText value="#{product_type_list.title}"/>
    </ui:define>

    <ui:define name="content">
        <f:loadBundle var="common" basename="ru.opresent.web.cms.i18n.common"/>
        <f:loadBundle var="buttons" basename="ru.opresent.web.cms.i18n.buttons"/>

        <style type="text/css">
            .moveButton {
                width: 35px;
                height: 35px;
                float: left;
            }
        </style>

        <p:panel header="#{product_type_list.title}" collapsed="true" styleClass="pageHeaderPanel"/>

        <h:form id="listForm">
            <p:dataTable id="productTypesTable" value="#{productTypeListBean.productTypes}"
                         var="productType" rowKey="#{productType.id}"
                         selection="#{productTypeListBean.selectedProductType}" selectionMode="single">

                <f:facet name="header">
                    <h:panelGroup id="tableButtons">
                        <p:commandButton id="addButton" value="#{buttons.add}" icon="ui-icon-plus"
                                         ajax="false" action="#{productTypeListBean.add}"/>

                        <p:commandButton id="editButton" value="#{buttons.edit}" icon="ui-icon-pencil"
                                         ajax="false" action="#{productTypeListBean.edit}"
                                         rendered="#{not empty productTypeListBean.selectedProductType}"/>

                        <p:commandButton id="deleteButton" value="#{buttons.delete}" type="button" onclick="PF('deleteConfirmVar').show();"
                                         icon="ui-icon-close"
                                         rendered="#{not empty productTypeListBean.selectedProductType}"/>

                        <p:confirmDialog message="#{messageFormatBean.format(
                                                              product_type_list.delete_confirm_msg,
                                                              productTypeListBean.selectedProductType.name)}"
                                         header="#{messageFormatBean.format(
                                                                 product_type_list.delete_confirm_header,
                                                                 productTypeListBean.selectedProductType.name)}"
                                         widgetVar="deleteConfirmVar" closeOnEscape="true">

                            <p:commandButton value="#{buttons.yes}" icon="ui-icon-check"
                                             process="@this" action="#{productTypeListBean.delete}"
                                             update=":messages @form" oncomplete="PF('deleteConfirmVar').hide();"/>

                            <p:commandButton value="#{buttons.no}" icon="ui-icon-close" type="button" onclick="PF('deleteConfirmVar').hide();"/>
                        </p:confirmDialog>
                    </h:panelGroup>
                </f:facet>

                <p:ajax event="rowSelect" update="tableButtons"/>
                <p:ajax event="rowUnselect" update="tableButtons"/>

                <p:column headerText="Id" width="20">
                    <h:outputText value="#{productType.id}"/>
                </p:column>

                <p:column headerText="#{product_type_list.image}"
                          width="#{imageFileManager.getSizeOption('PRODUCT_TYPE_IMAGE_IN_WELCOME').size.width}">
                    <img src="#{imageFileManager.createUrl(productType.image, 'PRODUCT_TYPE_IMAGE_IN_WELCOME')}"/>
                </p:column>

                <p:column headerText="#{product_type_list.name}">
                    <h:outputText value="#{productType.name}"/>
                </p:column>

                <p:column headerText="#{product_type_list.entity_name}">
                    <h:outputText value="#{productType.entityName}"/>
                </p:column>

                <p:column headerText="#{product_type_list.livemaster_aliases}" styleClass="left">
                    <ul>
                        <ui:repeat value="#{productTypeListBean.getLivemasterAliases(productType)}" var="alias">
                            <li><h:outputText value="#{alias}"/></li>
                        </ui:repeat>
                    </ul>
                </p:column>

                <p:column headerText="#{product_type_list.description}">
                    <h:outputText value="#{productType.description}"/>
                </p:column>

                <p:column headerText="#{product_type_list.change_position}">
                    <div style="margin-left: 30px; margin-right: 30px;">
                        <div class="moveButton">
                            <p:commandButton id="moveUp" action="#{productTypeListBean.moveUp(productType)}"
                                             process="@this"
                                             update="@form :messages"
                                             icon="ui-icon-arrowthick-1-n"
                                             rendered="#{orderedEntityServiceHelper.canMoveUp(productType)}"/>
                        </div>

                        <div class="moveButton">
                            <p:commandButton id="moveDown" action="#{productTypeListBean.moveDown(productType)}"
                                             process="@this"
                                             update="@form :messages"
                                             icon="ui-icon-arrowthick-1-s"
                                             rendered="#{orderedEntityServiceHelper.canMoveDown(productType, productTypeListBean.productTypes)}"/>
                        </div>
                    </div>
                </p:column>

            </p:dataTable>
        </h:form>
    </ui:define>

</ui:composition>