<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="/pages/template/template.xhtml" xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui" xmlns:f="http://java.sun.com/jsf/core"
                xmlns:opresent="http://java.sun.com/jsf/composite/opresent"
                xml:lang="en" lang="en">

    <ui:define name="windowTitle">
        <f:loadBundle var="section_list" basename="ru.opresent.web.cms.i18n.section.section_list"/>
        <h:outputText value="#{section_list.title}"/>
    </ui:define>

    <ui:define name="content">
        <f:loadBundle var="buttons" basename="ru.opresent.web.cms.i18n.buttons"/>

        <style type="text/css">
            .moveButton {
                width: 35px;
                height: 35px;
                float: left;
            }
        </style>

        <p:panel header="#{section_list.title}" collapsed="true" styleClass="pageHeaderPanel"/>

        <h:form id="listForm">
            <p:dataTable id="sectionsTable" value="#{sectionListBean.sections}"
                         var="section" rowKey="#{section.id}"
                         selection="#{sectionListBean.selectedSection}" selectionMode="single">

                <f:facet name="header">
                    <h:panelGroup id="editTableButtons" styleClass="editTableButtons">
                        <p:button id="addButton" value="#{buttons.add}" icon="ui-icon-plus"
                                  outcome="/pages/section/section?faces-redirect=true"/>

                        <p:commandButton id="editButton" value="#{buttons.edit}" icon="ui-icon-pencil"
                                         ajax="false" action="#{sectionListBean.edit}"
                                         rendered="#{not empty sectionListBean.selectedSection}"/>

                        <p:commandButton id="deleteButton" value="#{buttons.delete}" icon="ui-icon-close"
                                         type="button" onclick="PF('deleteSectionConfirmDialogVar').show();"
                                         rendered="#{not empty sectionListBean.selectedSection}"/>

                        <opresent:confirmDeleteDialog header="#{messageFormatBean.format(
                                                           section_list.delete_confirm_header,
                                                           sectionListBean.selectedSection.name)}"
                                                 message="#{messageFormatBean.format(
                                                            section_list.delete_confirm_msg,
                                                            sectionListBean.selectedSection.name)}"
                                                 deleter="#{sectionListBean.deleter}"
                                                 updateAfterDelete=":messages :listForm"
                                                 widgetVar="deleteSectionConfirmDialogVar"
                                                 rendered="#{not empty sectionListBean.selectedSection}"/>
                    </h:panelGroup>
                </f:facet>

                <p:ajax event="rowSelect" update="@(.editTableButtons)"/>
                <p:ajax event="rowUnselect" update="@(.editTableButtons)"/>

                <p:column headerText="Id" width="20">
                    <h:outputText value="#{section.id}"/>
                </p:column>

                <p:column headerText="#{section_list.type}">
                    <h:outputText value="#{enumHelper.getDescription(section.type)}"/>
                </p:column>

                <p:column headerText="#{section_list.name}">
                    <h:outputText value="#{section.name}"/>
                </p:column>

                <p:column headerText="#{section_list.entity_name}">
                    <h:outputText value="#{section.entityName}"/>
                </p:column>

                <p:column headerText="#{section_list.visible}" width="100">
                    <p:selectBooleanCheckbox value="#{section.visible}" disabled="true"/>
                </p:column>

                <p:column headerText="#{section_list.change_position}">
                    <div style="margin-left: 30px; margin-right: 30px;">
                        <div class="moveButton">
                            <p:commandButton id="moveUp" action="#{sectionListBean.moveUp(section)}"
                                             process="@this"
                                             update="@form :messages"
                                             icon="ui-icon-arrowthick-1-n"
                                             rendered="#{orderedEntityServiceHelper.canMoveUp(section)}"/>
                        </div>

                        <div class="moveButton">
                            <p:commandButton id="moveDown" action="#{sectionListBean.moveDown(section)}"
                                             process="@this"
                                             update="@form :messages"
                                             icon="ui-icon-arrowthick-1-s"
                                             rendered="#{orderedEntityServiceHelper.canMoveDown(section, sectionListBean.sections)}"/>
                        </div>
                    </div>
                </p:column>

            </p:dataTable>
        </h:form>
    </ui:define>

</ui:composition>