<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="/pages/template/template.xhtml" xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui" xmlns:f="http://java.sun.com/jsf/core"
                xmlns:opresent="http://java.sun.com/jsf/composite/opresent"
                xmlns:pe="http://primefaces.org/ui/extensions"
                xml:lang="en" lang="en">

    <ui:define name="windowTitle">
        <f:loadBundle var="section_bundle" basename="ru.opresent.web.cms.i18n.section.section"/>
        <f:loadBundle var="section_item_bundle" basename="ru.opresent.web.cms.i18n.section.section_item"/>

        <h:outputText value="#{sectionBean.addition ?
                               section_bundle.title_addition :
                               messageFormatBean.format(section_bundle.title_editing, sectionBean.section.id)}"/>
    </ui:define>

    <ui:define name="content">
        <f:loadBundle var="buttons" basename="ru.opresent.web.cms.i18n.buttons"/>

        <h:form id="sectionForm">

            <p:panel header="#{sectionBean.addition ?
                                   section_bundle.title_addition :
                                   messageFormatBean.format(section_bundle.title_editing, sectionBean.section.id)}"
                     collapsed="true" styleClass="pageHeaderPanel"/>

            <h:panelGrid columns="2">
                <h:outputText value="#{section_bundle.type}"/>
                <p:selectOneMenu value="#{sectionBean.sectionType}" disabled="#{sectionBean.editing}"
                                 required="true" requiredMessage="#{section_bundle.type_not_defined}"
                                 style="width: 150px;">

                    <p:ajax event="change" process="@form"
                            update="@(.richTextEditorPanel, .bottomButtons, .typeDependencyContainer)"
                            listener="#{sectionBean.sectionTypeChanged}"/>

                    <f:selectItem itemLabel="#{section_bundle.define_type}"
                                  noSelectionOption="true" itemDisabled="true"/>
                    <f:selectItems value="#{sectionBean.availableTypes}" var="type"
                                   itemValue="#{type}" itemLabel="#{enumHelper.getDescription(type)}"/>
                </p:selectOneMenu>

                <h:panelGroup id="sectionNameFieldDesc" styleClass="typeDependencyContainer">
                    <h:outputText value="#{section_bundle.name}"
                                  rendered="#{not empty sectionBean.section}"/>
                </h:panelGroup>
                <h:panelGroup id="sectionNameField" styleClass="typeDependencyContainer">
                    <p:inputText value="#{sectionBean.section.name}"
                                 styleClass="processedSectionField"
                                 maxlength="#{entitiesConstraints.sectionNameMaxLength}"
                                 rendered="#{not empty sectionBean.section}"/>
                </h:panelGroup>

                <h:panelGroup id="sectionEntityNameFieldDesc" styleClass="typeDependencyContainer">
                    <h:outputText value="#{section_bundle.entity_name}"
                                  rendered="#{not empty sectionBean.section}"/>
                </h:panelGroup>
                <h:panelGroup id="sectionEntityNameField" styleClass="typeDependencyContainer">
                    <p:inputText id="sectionEntityName"
                                 value="#{sectionBean.section.entityName}"
                                 styleClass="processedSectionField"
                                 maxlength="#{entitiesConstraints.entityNameMaxLength}"
                                 rendered="#{not empty sectionBean.section}"/>
                    <pe:keyFilter for="sectionEntityName" regEx="/#{entitiesConstraints.entityNameRegexp}/"/>
                </h:panelGroup>

                <h:panelGroup id="sectionVisibleFieldDesc" styleClass="typeDependencyContainer">
                    <h:outputText value="#{section_bundle.visible}"
                                  rendered="#{not empty sectionBean.section}"/>
                </h:panelGroup>
                <h:panelGroup id="sectionVisibleField" styleClass="typeDependencyContainer">
                    <p:selectBooleanCheckbox value="#{sectionBean.section.visible}"
                                             styleClass="processedSectionField"
                                             rendered="#{not empty sectionBean.section}"/>
                </h:panelGroup>
            </h:panelGrid>

            <h:panelGroup id="richTextEditorPanel" styleClass="richTextEditorPanel">
                <opresent:richTextEditor id="sectionTextEditor"
                                    container="#{sectionBean.sectionTextContainer}"
                                    rendered="#{not empty sectionBean.section}"/>
            </h:panelGroup>

            <h:panelGroup id="bottomButtons" styleClass="bottomButtons">
                <p:commandButton id="saveButton"
                                 rendered="#{not empty sectionBean.section}"
                                 process="@this @(.processedSectionField) sectionTextEditor:ckEditor"
                                 action="#{sectionBean.save}"
                                 update=":messages"
                                 value="#{buttons.save}" icon="ui-icon-disk"/>

                <p:button id="returnToListButton" value="#{buttons.return_to_list}" icon="ui-icon-arrowthick-1-w"
                          style="margin-top: 20px;"
                          outcome="section_list?faces-redirect=true"/>
            </h:panelGroup>

            <h:panelGroup rendered="#{sectionBean.editing and sectionBean.section.type eq 'LIST'}">

                <h:panelGroup id="tableButtons" style="display: block; text-align: left; margin-top: 30px;">
                    <p:commandButton id="addButton" value="#{buttons.add}" icon="ui-icon-plus"
                                     action="#{sectionBean.addSectionItem}" process="@this"/>

                    <p:commandButton id="editButton" value="#{buttons.edit}" icon="ui-icon-pencil"
                                     action="#{sectionBean.editSectionItem}" process="@this"
                                     rendered="#{not empty sectionBean.selectedSectionItem}"/>

                    <p:commandButton id="deleteButton" value="#{buttons.delete}" type="button" onclick="PF('deleteSectionItemConfirmVar').show();"
                                     icon="ui-icon-close"
                                     rendered="#{not empty sectionBean.selectedSectionItem}"/>

                    <p:confirmDialog message="#{messageFormatBean.format(section_item_bundle.delete_dialog_msg,
                                                                                 sectionBean.selectedSectionItem.name)}"
                                     header="#{section_item_bundle.delete_dialog_title}"
                                     widgetVar="deleteSectionItemConfirmVar" closeOnEscape="true">

                        <p:commandButton value="#{buttons.yes}" icon="ui-icon-check"
                                         process="@this" action="#{sectionBean.deleteSectionItem}"/>

                        <p:commandButton value="#{buttons.no}" icon="ui-icon-close" type="button" onclick="PF('deleteSectionItemConfirmVar').hide();"/>
                    </p:confirmDialog>
                </h:panelGroup>

                <p:dataTable value="#{sectionBean.sectionItems}" var="item" rowKey="#{item.id}"
                             selectionMode="single" selection="#{sectionBean.selectedSectionItem}">

                    <p:ajax event="rowSelect" update=":sectionForm:tableButtons"/>
                    <p:ajax event="rowUnselect" update=":sectionForm:tableButtons"/>

                    <p:column headerText="Id" width="20">
                        <h:outputText value="#{item.id}"/>
                    </p:column>

                    <p:column headerText="#{section_item_bundle.preview}"
                              width="#{imageFileManager.getSizeOption('SECTION_ITEM_PREVIEW_IN_SECTION_LIST').size.width}">
                        <img src="#{imageFileManager.createUrl(item.preview, 'SECTION_ITEM_PREVIEW_IN_SECTION_LIST')}"/>
                    </p:column>

                    <p:column headerText="#{section_item_bundle.name}">
                        <h:outputText value="#{item.name}"/>
                    </p:column>

                    <p:column headerText="#{section_item_bundle.short_text}">
                        <h:outputText value="#{item.shortText}"/>
                    </p:column>

                    <p:column headerText="#{section_bundle.visible}" width="100">
                        <p:selectBooleanCheckbox value="#{item.visible}" disabled="true"/>
                    </p:column>

                    <p:column headerText="#{section_bundle.change_position}">
                        <div style="margin-left: 30px; margin-right: 30px;">
                            <div class="moveButton">
                                <p:commandButton id="moveUp" action="#{sectionBean.moveUpSectionItem(item)}"
                                                 ajax="false"
                                                 icon="ui-icon-arrowthick-1-n"
                                                 rendered="#{orderedEntityServiceHelper.canMoveUp(item)}"/>
                            </div>

                            <div class="moveButton">
                                <p:commandButton id="moveDown" action="#{sectionBean.moveDownSectionItem(item)}"
                                                 ajax="false"
                                                 icon="ui-icon-arrowthick-1-s"
                                                 rendered="#{orderedEntityServiceHelper.canMoveDown(item, sectionBean.sectionItems)}"/>
                            </div>
                        </div>
                    </p:column>

                </p:dataTable>

            </h:panelGroup>
        </h:form>

    </ui:define>

</ui:composition>