<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="/pages/template/template.xhtml" xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui" xmlns:f="http://java.sun.com/jsf/core"
                xmlns:opresent="http://java.sun.com/jsf/composite/opresent"
                xml:lang="en" lang="en">

    <ui:define name="windowTitle">
        <f:loadBundle var="section_item_bundle" basename="ru.opresent.web.cms.i18n.section.section_item"/>

        <h:outputText value="#{sectionItemBean.addition ?
                               section_item_bundle.title_addition :
                               messageFormatBean.format(section_item_bundle.title_editing, sectionItemBean.sectionItem.id)}"/>
    </ui:define>

    <ui:define name="content">

        <style type="text/css">
            .sectionItemFieldDesc {
                text-align: right;
                padding-right: 10px;
                padding-bottom: 10px;
            }

            .sectionItemField .ui-inputfield {
                width: 300px;
            }

            .sectionItemField {
                text-align: left !important;
                padding-bottom: 10px;
            }
        </style>

        <f:loadBundle var="buttons" basename="ru.opresent.web.cms.i18n.buttons"/>
        <f:loadBundle var="common" basename="ru.opresent.web.cms.i18n.common"/>

        <h:form id="sectionItemForm">

            <p:panel header="#{sectionItemBean.addition ?
                                   section_item_bundle.title_addition :
                                   messageFormatBean.format(section_item_bundle.title_editing, sectionItemBean.sectionItem.id)}"
                     collapsed="true" styleClass="pageHeaderPanel"/>

            <h:panelGrid columns="2" columnClasses="sectionItemFieldDesc,sectionItemField">
                <h:outputText value="#{section_item_bundle.section}"/>
                <p:inputText value="#{sectionItemBean.sectionItem.section.name}" disabled="true"/>

                <h:outputText value="#{section_item_bundle.name}"/>
                <p:inputText value="#{sectionItemBean.sectionItem.name}"
                             styleClass="processedSectionItemField"
                             maxlength="#{entitiesConstraints.sectionItemNameMaxLength}"/>

                <h:outputText value="#{section_item_bundle.visible}"/>
                <p:selectBooleanCheckbox value="#{sectionItemBean.sectionItem.visible}"
                                         styleClass="processedSectionItemField"/>

                <h:outputText value="#{section_item_bundle.preview}"/>
                <h:panelGroup id="sectionItemPreview">
                    <p:fileUpload id="sectionItemImageUpload" styleClass="sectionItemImageUpload"
                                  allowTypes="#{imageFileBean.allowTypesPattern}"
                                  invalidFileMessage="#{imageFileBean.invalidFileMessage}"
                                  sizeLimit="#{imageFileBean.sizeLimit}"
                                  invalidSizeMessage="#{imageFileBean.invalidSizeMessage}"
                                  multiple="false"
                                  fileUploadListener="#{sectionItemBean.handleSectionItemImageUpload}"
                                  auto="true" label="#{buttons.define}"
                                  update="sectionItemPreview"
                                  style="width: 310px;text-align: center;"/>

                    <h:outputText value="#{section_item_bundle.preview_not_defined}" styleClass="alarm"
                                  rendered="#{empty sectionItemBean.sectionItem.preview}"/>

                    <h:panelGroup rendered="#{not empty sectionItemBean.sectionItem.preview}">
                        <img src="#{imageFileManager.createUrl(sectionItemBean.sectionItem.preview, 'SECTION_ITEM_PREVIEW_IN_SECTION_LIST')}"/>
                    </h:panelGroup>
                </h:panelGroup>

                <h:outputText value="#{section_item_bundle.short_text}"/>
                <opresent:richTextEditor id="sectionItemShortTextEditor"
                                    container="#{sectionItemBean.shortTextContainer}"
                                    editorHeight="200"/>

                <h:outputText value="#{section_item_bundle.full_text}"/>
                <opresent:richTextEditor id="sectionItemFullTextEditor"
                                    container="#{sectionItemBean.fullTextContainer}"/>
            </h:panelGrid>

            <h:panelGroup id="bottomButtons" styleClass="bottomButtons">
                <p:commandButton id="saveButton"
                                 process="@this @(.processedSectionItemField)
                                          sectionItemShortTextEditor:ckEditor
                                          sectionItemFullTextEditor:ckEditor"
                                 action="#{sectionItemBean.save}"
                                 update=":messages"
                                 value="#{buttons.save}" icon="ui-icon-disk"/>

                <p:button id="returnToListButton" value="#{buttons.return_to_list}" icon="ui-icon-arrowthick-1-w"
                          style="margin-top: 20px;"
                          outcome="section?faces-redirect=true&amp;id=#{sectionItemBean.sectionItem.section.id}"/>
            </h:panelGroup>

        </h:form>

    </ui:define>

</ui:composition>