<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui" xmlns:f="http://java.sun.com/jsf/core"
                xmlns:opresent="http://java.sun.com/jsf/composite/opresent"
                xml:lang="en" lang="en">

    <f:loadBundle var="delivery_way_info_list" basename="ru.opresent.web.cms.i18n.order.delivery_way_info_list"/>
    <f:loadBundle var="common" basename="ru.opresent.web.cms.i18n.common"/>

    <style type="text/css">
        .deliveryWayInfoFieldDesc {
            text-align: right;
            padding-right: 10px;
            padding-bottom: 10px;
        }

        .deliveryWayInfoField {
            text-align: left !important;
            padding-bottom: 10px;
        }

        .deliveryWayInfoField .ui-inputtextarea {
            width: 300px;
        }

    </style>

    <h:outputText value="#{delivery_way_info_list.title}" styleClass="subTitle"/>

    <h:form id="deliveryWayInfoListForm">
        <p:dataTable id="deliveryWayInfoTable" value="#{deliveryWayInfoListBean.list}"
                     var="deliveryWayInfo" rowKey="#{deliveryWayInfo.id}"
                     selection="#{deliveryWayInfoListBean.selected}" selectionMode="single">

            <f:facet name="header">
                <opresent:editTableButtons id="editTableButtons" editDialogVar="deliveryWayInfoWidget"
                                      editDialogId=":deliveryWayInfoDialog" editingList="#{deliveryWayInfoListBean}"
                                      editTableId=":deliveryWayInfoListForm:deliveryWayInfoTable"
                                      renderAddButton="false" renderDeleteButton="false"/>
            </f:facet>

            <p:ajax event="rowSelect" update=":deliveryWayInfoListForm:deliveryWayInfoTable:editTableButtons"/>
            <p:ajax event="rowUnselect" update=":deliveryWayInfoListForm:deliveryWayInfoTable:editTableButtons"/>

            <p:column headerText="#{delivery_way_info_list.address_type}" width="200">
                <h:outputText value="#{enumHelper.getDescription(deliveryWayInfo.addressType)}"/>
            </p:column>

            <p:column headerText="#{delivery_way_info_list.delivery_way}" width="200">
                <h:outputText value="#{enumHelper.getDescription(deliveryWayInfo.deliveryWay)}"/>
            </p:column>

            <p:column headerText="#{delivery_way_info_list.price}" width="200">
                <h:outputText value="#{deliveryWayInfo.price}"/>
            </p:column>

            <p:column headerText="#{delivery_way_info_list.note}">
                <h:outputText value="#{deliveryWayInfo.note}"/>
            </p:column>
        </p:dataTable>
    </h:form>

    <opresent:editDialog id="deliveryWayInfoDialog" editDialog="#{deliveryWayInfoListBean.dialog}"
                    widgetVar="deliveryWayInfoWidget">

        <h:panelGrid columns="2" columnClasses="deliveryWayInfoFieldDesc,deliveryWayInfoField"
                     rendered="#{not empty deliveryWayInfoListBean.dialog.deliveryWayInfo}">

            <h:outputText value="#{delivery_way_info_list.address_type}"/>
            <p:inputText value="#{enumHelper.getDescription(deliveryWayInfoListBean.dialog.deliveryWayInfo.addressType)}"
                         disabled="true"/>

            <h:outputText value="#{delivery_way_info_list.delivery_way}"/>
            <p:inputText value="#{enumHelper.getDescription(deliveryWayInfoListBean.dialog.deliveryWayInfo.deliveryWay)}"
                         disabled="true"/>

            <h:outputText value="#{delivery_way_info_list.price}"/>
            <p:inputText value="#{deliveryWayInfoListBean.dialog.deliveryWayInfo.price}"/>

            <h:outputText value="#{delivery_way_info_list.note}"/>
            <h:panelGroup>
                <p:inputTextarea value="#{deliveryWayInfoListBean.dialog.deliveryWayInfo.note}"
                                 maxlength="#{entitiesConstraints.deliveryWayNoteMaxLength}"
                                 counter="deliveryWayInfoNoteCounter" counterTemplate="#{common.chars_remaining}"/>
                <h:outputText id="deliveryWayInfoNoteCounter" styleClass="charsCounter"/>
            </h:panelGroup>
        </h:panelGrid>

    </opresent:editDialog>

</ui:composition>