<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="/pages/template/template.xhtml" xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:opresent="http://java.sun.com/jsf/composite/opresent"
                xml:lang="en" lang="en" xmlns:f="http://java.sun.com/jsf/core">

    <ui:define name="windowTitle">
        <f:loadBundle var="order_settings" basename="ru.opresent.web.cms.i18n.order.order_settings"/>
        <h:outputText value="#{order_settings.title}"/>
    </ui:define>

    <ui:define name="content">
        <f:loadBundle var="buttons" basename="ru.opresent.web.cms.i18n.buttons"/>

        <style type="text/css">
            .subTitle {
                display: block;
                text-align: left;
                font-size: 20px;
                margin-top: 20px;
            }
        </style>

        <p:panel header="#{order_settings.title}" collapsed="true" styleClass="pageHeaderPanel"/>

        <!-- Delivery way infos -->
        <ui:include src="delivery_way_info_list_include.xhtml"/>

        <!-- Personal order text -->
        <h:outputText value="#{order_settings.personal_order_text}" styleClass="subTitle"/>
        <h:form id="personalOrderTextForm" style="width: 500px">
            <opresent:richTextEditor container="#{orderSettingsBean.personalOrderTextContainer}"
                                editorWidth="500"
                                editorHeight="200"/>

            <p:commandButton id="savePersonalOrderTextButton" value="#{buttons.save}" icon="ui-icon-disk"
                             process="@form"
                             action="#{orderSettingsBean.save}" update=":messages"/>
        </h:form>

    </ui:define>

</ui:composition>