<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="/pages/template/template.xhtml" xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui" xmlns:f="http://java.sun.com/jsf/core"
                xml:lang="en" lang="en">

    <ui:define name="windowTitle">
        <f:loadBundle var="order" basename="ru.opresent.web.cms.i18n.order.order"/>

        <h:outputText value="#{messageFormatBean.format(orderBean.order.personalOrder ? order.title_personal : order.title, orderBean.order.id)}"/>
    </ui:define>

    <ui:define name="content">
        <style type="text/css">
            .orderFieldDesc {
                text-align: right;
                padding-right: 10px;
                padding-bottom: 10px;
            }

            .orderField .ui-inputfield,
            .orderField .ui-inputtextarea {
                width: 300px;
            }

            .textAreaBottom {
                width: 310px;
            }

            .orderField {
                text-align: left !important;
                padding-bottom: 10px;
            }

            .orderField ul {
                padding-left: 15px;
            }

        </style>

        <f:loadBundle var="buttons" basename="ru.opresent.web.cms.i18n.buttons"/>
        <f:loadBundle var="common" basename="ru.opresent.web.cms.i18n.common"/>

        <p:panel header="#{messageFormatBean.format(orderBean.order.personalOrder ? order.title_personal : order.title, orderBean.order.id)}"
                 collapsed="true" styleClass="pageHeaderPanel" style="width: 550px;"/>

        <div class="ui-grid ui-grid-responsive ui-widget-content" style="border: none;">
            <div class="ui-grid-row">
                <div class="ui-grid-col-6">
                    <h:form styleClass="orderForm">
                        <h:panelGrid columns="2" columnClasses="orderFieldDesc,orderField">
                            <h:outputText value="#{order.status}"/>
                            <p:selectOneMenu value="#{orderBean.order.status}"
                                             style="width: 310px; text-align: left;">
                                <f:selectItems value="#{orderBean.availableStatuses}" var="availableStatus"
                                               itemValue="#{availableStatus}" itemLabel="#{enumHelper.getDescription(availableStatus)}"/>
                            </p:selectOneMenu>

                            <h:outputText value="#{order.master_comment}"/>
                            <h:panelGroup>
                                <p:inputTextarea value="#{orderBean.order.masterComment}"
                                                 maxlength="#{entitiesConstraints.orderMasterCommentMaxLength}"
                                                 counter="masterCommentCounter" counterTemplate="#{common.chars_remaining}"/>
                                <h:outputText id="masterCommentCounter" styleClass="charsCounter"/>
                            </h:panelGroup>

                            <p:separator/>
                            <p:separator/>

                            <h:outputText value="#{order.customer_full_name}"/>
                            <p:inputText value="#{orderBean.order.customerFullName}"/>

                            <h:outputText value="#{order.customer_phone}"/>
                            <p:inputText value="#{orderBean.order.customerPhone}"/>

                            <h:outputText value="#{order.customer_email}"/>
                            <p:inputText value="#{orderBean.order.customerEmail}"/>

                            <p:spacer/>
                            <p:selectOneRadio value="#{orderBean.order.addressType}">
                                <p:ajax event="change" process="@form" update="@form"
                                        listener="#{orderBean.addressTypeChanged}"/>

                                <f:selectItems value="#{orderBean.availableAddressTypes}" var="addressType"
                                               itemValue="#{addressType}" itemLabel="#{enumHelper.getDescription(addressType)}"/>
                            </p:selectOneRadio>

                            <h:outputText value="#{order.delivery_way}"/>
                            <p:selectOneMenu value="#{orderBean.order.deliveryWay}"
                                             style="width: 310px; text-align: left;">
                                <p:ajax event="change" process="@form" update="@form"/>

                                <f:selectItem itemLabel="#{order.delivery_way_not_defined}" itemDisabled="true" noSelectionOption="true"/>
                                <f:selectItems value="#{orderBean.order.addressType.deliveryWays}" var="deliveryWay"
                                               itemValue="#{deliveryWay}" itemLabel="#{enumHelper.getDescription(deliveryWay)}"/>
                            </p:selectOneMenu>

                            <h:outputText value="#{order.customer_city}"
                                          rendered="#{not empty orderBean.order.deliveryWay and orderBean.order.addressType.cityRequired}"/>
                            <p:inputText value="#{orderBean.order.customerCity}"
                                         rendered="#{not empty orderBean.order.deliveryWay and orderBean.order.addressType.cityRequired}"/>

                            <h:outputText value="#{order.customer_postcode}"
                                          rendered="#{orderBean.order.deliveryWay.postcodeRequired}"/>
                            <p:inputText value="#{orderBean.order.customerPostcode}"
                                         rendered="#{orderBean.order.deliveryWay.postcodeRequired}"/>

                            <h:outputText value="#{order.customer_address}"
                                          rendered="#{orderBean.order.deliveryWay.addressRequired}"/>
                            <h:panelGroup rendered="#{orderBean.order.deliveryWay.addressRequired}">
                                <p:inputTextarea value="#{orderBean.order.customerAddress}"
                                                 maxlength="#{entitiesConstraints.orderInfoCustomerAddressMaxLength}"
                                                 counter="customerAddressCounter" counterTemplate="#{common.chars_remaining}"/>
                                <h:outputText id="customerAddressCounter" styleClass="charsCounter"/>
                            </h:panelGroup>

                            <h:outputText value="#{order.customer_comment}"/>
                            <h:panelGroup>
                                <p:inputTextarea value="#{orderBean.order.customerComment}"
                                                 maxlength="#{entitiesConstraints.orderInfoCustomerCommentMaxLength}"
                                                 counter="customerCommentCounter" counterTemplate="#{common.chars_remaining}"/>
                                <h:outputText id="customerCommentCounter" styleClass="charsCounter"/>
                            </h:panelGroup>

                            <p:spacer/>
                            <p:commandButton value="#{buttons.save}" process="@form"
                                             action="#{orderBean.save}" update=":messages"/>

                        </h:panelGrid>
                    </h:form>
                </div>

                <ui:fragment rendered="#{not orderBean.order.personalOrder}">
                    <div class="ui-grid-col-6">
                        <div class="ui-grid ui-grid-responsive left">
                            <div class="ui-grid-row" style="margin-bottom: 10px;">
                                <div class="ui-grid-col-12 title">
                                    <h:outputText value="#{order.total_price}&#160;"/>
                                    <h:outputText value="#{orderBean.order.totalPrice}" converter="amountConverter"/>
                                </div>
                            </div>
                            <ui:repeat value="#{orderBean.order.items}" var="orderItem">
                                <div class="ui-grid-row" style="margin-bottom: 10px;">
                                    <div class="ui-grid-col-12">
                                        <h:link outcome="#{cmsNavigationManager.getProductUrl(orderItem.product.id)}">
                                            <img src="#{imageFileManager.createUrl(
                                                                     orderItem.product.preview, 'PRODUCT_PREVIEW_IMAGE_IN_CART')}"/>
                                        </h:link>
                                        <br/>
                                        <h:link outcome="#{cmsNavigationManager.getProductUrl(orderItem.product.id)}"
                                                value="#{orderItem.product.name}"/>
                                        <br/>
                                        <h:outputText value="#{orderItem.fixPrice}" converter="amountConverter"/>
                                    </div>
                                </div>
                            </ui:repeat>
                        </div>
                    </div>
                </ui:fragment>
            </div>
        </div>

    </ui:define>

</ui:composition>