<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="/pages/template/template.xhtml" xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:opresent="http://java.sun.com/jsf/composite/opresent"
                xml:lang="en" lang="en" xmlns:f="http://java.sun.com/jsf/core">

    <ui:define name="windowTitle">
        <f:loadBundle var="order_list" basename="ru.opresent.web.cms.i18n.order.order_list"/>
        <h:outputText value="#{order_list.title}"/>
    </ui:define>

    <ui:define name="content">
        <f:loadBundle var="order_list" basename="ru.opresent.web.cms.i18n.order.order_list"/>
        <f:loadBundle var="buttons" basename="ru.opresent.web.cms.i18n.buttons"/>

        <p:panel header="#{order_list.title}" collapsed="true" styleClass="pageHeaderPanel"/>

        <p:button value="#{order_list.settings}" outcome="/pages/order/order_settings?faces-redirect=true" icon="ui-icon-gear"/>

        <opresent:orderFilter update=":tableForm" filteringActionListener="#{orderListBean.ordersModel}"
                         oncomplete="moveTableButtonsToTableHeader();"/>

        <h:form id="tableForm">
            <p:dataTable id="ordersTable" value="#{orderListBean.ordersModel}" var="order"
                         lazy="true" rows="10"
                         selectionMode="single"
                         selection="#{orderListBean.selectedOrder}"
                         paginator="true"
                         paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink}
                                            {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                         rowsPerPageTemplate="5,10,25,50,100"
                         emptyMessage="#{order_list.empty_list_message}">

                <f:facet name="header">
                    <h:panelGroup id="tableButtonsPanel">
                        <!-- Place for table buttons -->
                    </h:panelGroup>
                </f:facet>

                <p:ajax event="rowSelect"
                        update=":tableForm:tableButtons" oncomplete="moveTableButtonsToTableHeader();"/>

                <p:ajax event="rowUnselect"
                        update=":tableForm:tableButtons" oncomplete="moveTableButtonsToTableHeader();"/>

                <p:ajax event="page" listener="#{orderListBean.ordersModel.paginationInvoked}"
                        update=":tableForm:tableButtons" oncomplete="moveTableButtonsToTableHeader();"/>

                <p:column headerText="Id" width="20">
                    <h:outputText value="#{order.id}"/>
                </p:column>

                <p:column headerText="#{order_list.create_date}" width="100">
                    <h:outputText value="#{order.createTime}">
                        <f:convertDateTime pattern="dd.MM.yyyy HH:mm" />
                    </h:outputText>
                </p:column>

                <p:column headerText="#{order_list.products}" styleClass="left">
                    <ui:repeat value="#{order.items}" var="orderItem" rendered="#{not order.personalOrder}">
                        <h:link outcome="#{cmsNavigationManager.getProductUrl(orderItem.product.id)}"
                                value="#{orderItem.product.name}"/>
                        <br/>
                    </ui:repeat>
                    <h:outputText value="#{order_list.personal_order}" rendered="#{order.personalOrder}"/>
                </p:column>

                <p:column headerText="#{order_list.customer}" styleClass="left">
                    <h:outputText value="#{order.customerFullName}"/>
                    <br/>
                    <h:outputText value="#{order.customerPhone}"/>
                    <br/>
                    <h:outputText value="#{order.customerEmail}"/>
                </p:column>

                <p:column headerText="#{order_list.total_price}" styleClass="right" width="100">
                    <h:outputText value="#{order.totalPrice}" converter="amountConverter"
                                  rendered="#{not order.personalOrder}"/>
                </p:column>

                <p:column headerText="#{order_list.status}" width="100">
                    <h:outputText value="#{enumHelper.getDescription(order.status)}"/>
                </p:column>
            </p:dataTable>

            <h:panelGroup id="tableButtons" style="width: 100%; display: block;">
                <p:commandButton id="viewButton" value="#{buttons.view}" icon="ui-icon-search"
                                 ajax="false" action="#{orderListBean.view}"
                                 disabled="#{empty orderListBean.selectedOrder}"/>

                <div style="float: right;">
                    <h:outputText value="#{messageFormatBean.format(order_list.all_count, orderListBean.ordersModel.rowCount)}"/>
                </div>
            </h:panelGroup>
        </h:form>

        <script type="text/javascript">
            $(function() {
                moveTableButtonsToTableHeader();
            });

            function moveTableButtonsToTableHeader() {
                var tableButtonsPanel = $("[id$='tableButtonsPanel']");
                tableButtonsPanel.empty();

                var tableButtons = $("[id$='tableButtons']");
                tableButtons.children().appendTo(tableButtonsPanel);
            }

        </script>


    </ui:define>

</ui:composition>