<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="/pages/template/template.xhtml" xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui" xmlns:f="http://java.sun.com/jsf/core"
                xml:lang="en" lang="en">

    <ui:define name="windowTitle">
        <f:loadBundle var="misc" basename="ru.opresent.web.cms.i18n.misc.misc"/>
        <h:outputText value="#{misc.title}"/>
    </ui:define>

    <ui:define name="content">
        <f:loadBundle var="buttons" basename="ru.opresent.web.cms.i18n.buttons"/>

        <p:panel header="#{misc.title}" collapsed="true" styleClass="pageHeaderPanel"/>

        <h:form>
            <p:commandButton id="updateWholeIndexButton" value="#{misc.update_whole_search_index}"
                             action="#{miscBean.updateWholeSearchIndex}" update=":messages"/>

            <p:commandButton id="updateSitemapButton" value="#{misc.update_sitemap}"
                             action="#{miscBean.updateSitemap}" update=":messages"/>
        </h:form>
    </ui:define>

</ui:composition>