<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui" xmlns:f="http://java.sun.com/jsf/core" xml:lang="en" lang="en">

<f:view>

    <h:head>
        <f:loadBundle var="authentification" basename="ru.opresent.web.cms.i18n.authentification"/>
        <title>
            <h:outputText value="#{authentification.title}"/>
        </title>
    </h:head>

    <h:body>
        <f:facet name="last">
            <h:outputStylesheet library="css" name="style.css"/>
        </f:facet>

        <h:form id="authForm">
            <p:panel header="#{authentification.title}">
                <p:messages id="messages"/>

                <p:focus for="username"/>

                <h:panelGrid id="authPanel" columns="2">

                    <h:outputText value="#{authentification.username}"/>
                    <p:inputText id="username" value="#{authenticationBean.username}"/>

                    <h:outputText value="#{authentification.password}"/>
                    <p:password id="password" value="#{authenticationBean.password}"/>

                    <p:spacer/>
                    <p:commandButton id="loginButton"
                                     value="#{authentification.login}"
                                     action="#{authenticationBean.login}"
                                     update="messages"/>

                </h:panelGrid>
            </p:panel>

            <p:defaultCommand target="loginButton"/>
        </h:form>
    </h:body>

</f:view>


</html>