<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="/pages/template/template.xhtml" xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html" xmlns:ui="http://java.sun.com/jsf/facelets"
                xml:lang="en" lang="en">

    <ui:define name="windowTitle">
        <h:outputText value="Запрашиваемой страницы не существует!"/>
    </ui:define>

    <ui:define name="content">
        <h3 style="color: red">Запрашиваемой страницы не существует!</h3>
    </ui:define>

</ui:composition>