<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="/pages/template/template.xhtml" xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:opresent="http://java.sun.com/jsf/composite/opresent"
                xmlns:f="http://java.sun.com/jsf/core"
                xml:lang="en" lang="en">

    <ui:define name="windowTitle">
        <f:loadBundle var="size_list" basename="ru.opresent.web.cms.i18n.size.size_list"/>
        <h:outputText value="#{size_list.title}"/>
    </ui:define>

    <ui:define name="content">
        <p:panel header="#{size_list.title}" collapsed="true" styleClass="pageHeaderPanel"/>

        <h:form id="listForm">
            <p:dataTable id="sizesTable" value="#{sizeListBean.list}" var="size" rowKey="#{size.id}"
                         selection="#{sizeListBean.selected}" selectionMode="single">

                <f:facet name="header">
                    <opresent:editTableButtons id="editTableButtons" editDialogVar="sizeDialogVar"
                                          editDialogId=":sizeDialog" editingList="#{sizeListBean}"
                                          editTableId=":listForm:sizesTable"
                                          deleteConfirmHeader="#{messageFormatBean.format(
                                                                 size_list.delete_confirm_header,
                                                                 sizeListBean.selected.description)}"
                                          deleteConfirmMsg="#{messageFormatBean.format(
                                                              size_list.delete_confirm_msg,
                                                              sizeListBean.selected.description)}"/>
                </f:facet>

                <p:ajax event="rowSelect" update=":listForm:sizesTable:editTableButtons"/>
                <p:ajax event="rowUnselect" update=":listForm:sizesTable:editTableButtons"/>

                <p:column headerText="Id" width="20">
                    <h:outputText value="#{size.id}"/>
                </p:column>

                <p:column headerText="#{size_list.width}">
                    <h:outputText value="#{size.width}"/>
                </p:column>

                <p:column headerText="#{size_list.height}">
                    <h:outputText value="#{size.height}"/>
                </p:column>
            </p:dataTable>
        </h:form>

        <opresent:editDialog id="sizeDialog" editDialog="#{sizeListBean.dialog}"
                        widgetVar="sizeDialogVar">

            <h:panelGrid columns="2">
                <p:outputLabel for="widthInput" value="#{size_list.width}"/>
                <p:inputText id="widthInput" value="#{sizeListBean.dialog.size.width}"/>

                <p:outputLabel for="heightInput" value="#{size_list.height}"/>
                <p:inputText id="heightInput" value="#{sizeListBean.dialog.size.height}"/>
            </h:panelGrid>

        </opresent:editDialog>

    </ui:define>

</ui:composition>