<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:opresent="http://java.sun.com/jsf/composite/opresent"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                xml:lang="en" lang="en">

    <style type="text/css">
        .productTypeIdToPriceDiffTable {
            width: 600px;
        }
    </style>

    <opresent:editDialog id="livemasterSyncConfigDialog"
                         editDialog="#{livemasterSyncConfigBean.dialog}"
                         widgetVar="livemasterSyncConfigDialogVar">

        <p:remoteCommand name="showLivemasterSyncConfigDialog"
                         process="@this"
                         action="#{livemasterSyncConfigBean.dialog.prepareToShow('EDIT')}"
                         update="@form"
                         oncomplete="PF('livemasterSyncConfigDialogVar').show();"/>

        <h:panelGrid columns="2">
            <p:selectBooleanCheckbox value="#{livemasterSyncConfigBean.dialog.config.forceSyncPrice}"/>
            <h:outputText value="Force Sync Price"/>
        </h:panelGrid>

        <p:dataTable id="productTypeIdToPriceDiffTable" styleClass="productTypeIdToPriceDiffTable"
                     value="#{livemasterSyncConfigBean.dialog.productTypePriceDiffList}" var="productTypePriceDiff">

            <f:facet name="header">
                <p:commandButton value="Add" action="#{livemasterSyncConfigBean.dialog.addProductTypePriceDiff}"
                                 process="@this" update="productTypeIdToPriceDiffTable"/>
            </f:facet>

            <p:column headerText="Product Type">
                <p:selectOneMenu value="#{productTypePriceDiff.productType}"
                                 converter="#{livemasterSyncConfigBean.productTypeConverter}">
                    <f:selectItem itemLabel="" noSelectionOption="true"/>
                    <f:selectItems value="#{livemasterSyncConfigBean.productTypes}" var="type"
                                   itemValue="#{type}" itemLabel="#{type.id} - #{type.name}"/>
                </p:selectOneMenu>
            </p:column>
            <p:column headerText="Price Diff">
                <p:inputText value="#{productTypePriceDiff.priceDiff}"/>
            </p:column>
        </p:dataTable>

    </opresent:editDialog>

</ui:composition>