<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="/pages/template/template.xhtml" xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xml:lang="en" lang="en" xmlns:f="http://java.sun.com/jsf/core">

    <ui:define name="windowTitle">
        <f:loadBundle var="livemaster_sync" basename="ru.opresent.web.cms.i18n.livemaster.livemaster_sync"/>
        <h:outputText value="#{livemaster_sync.title}"/>
    </ui:define>

    <ui:define name="content">
        <h:outputScript library="js" name="livemaster_sync.js" target="head"/>
        <h:outputStylesheet library="css" name="livemaster_sync.css"/>

        <f:loadBundle var="buttons" basename="ru.opresent.web.cms.i18n.buttons"/>

        <h:form id="controlButtonsForm" styleClass="left">
            <p:commandButton onstart="prepareForSyncStart()"
                             action="#{livemasterSyncBean.start()}" value="#{buttons.start}"
                             disabled="#{livemasterSyncBean.syncStarted}"
                             update="controlButtonsForm"/>

            <p:commandButton action="#{livemasterSyncBean.stop()}" value="#{buttons.stop}"
                             disabled="#{not livemasterSyncBean.syncStarted}"
                             update="controlButtonsForm"/>

            <p:commandButton value="Config..."
                             onclick="showLivemasterSyncConfigDialog()"
                             icon="ui-icon-pencil"/>
        </h:form>

        <hr/>
        <p id="syncStart">#{livemaster_sync.sync_start}</p>


        <!-- Sync Products Determining -->
        <hr/>
        <p id="syncProductsDeterminingStart">#{livemaster_sync.sync_products_determining_start}</p>

        <p id="syncProductsDeterminingComplete">#{livemaster_sync.sync_products_determining_complete}&#160;<span class="count"/></p>

        <div id="syncProductsDeterminingFailed">
            <p>#{livemaster_sync.sync_products_determining_failed}</p>
            <p class="error-stack-trace"/>
        </div>


        <!-- Sync Products Processing -->
        <hr/>
        <p id="syncProductsProcessingStart">#{livemaster_sync.sync_products_processing_start}</p>

        <div id="syncProductsProcessingContainer">

            <p id="syncProductProcessed">
                #{livemaster_sync.sync_product_processed}&#160;<span class="count"/>&#160;
                #{livemaster_sync.sync_product_processed_from}&#160;<span class="total-count"/>
            </p>

            <p:progressBar widgetVar="syncProductsProgressBarWidget" value="0" labelTemplate="{value}%"/>

            <table id="syncProductResultFilters">
                <tbody>
                    <tr>
                        <td>
                            <a data-result-type="ALL">
                                #{livemaster_sync.filter_all}&#160;<span class="count"/>
                            </a>
                        </td>
                        <td>
                            <a data-result-type="PRODUCT_ADDED">
                                #{livemaster_sync.filter_product_added}&#160;<span class="count"/>
                            </a>
                        </td>
                        <td>
                            <a data-result-type="PRODUCT_STATUS_UPDATED">
                                #{livemaster_sync.filter_product_status_updated}&#160;<span class="count"/>
                            </a>
                        </td>
                        <td>
                            <a data-result-type="PRODUCT_STATUS_AND_PRICE_UPDATED">
                                #{livemaster_sync.filter_product_status_and_price_updated}&#160;<span class="count"/>
                            </a>
                        </td>
                        <td>
                            <a data-result-type="PRODUCT_PRICE_UPDATED">
                                #{livemaster_sync.filter_product_price_updated}&#160;<span class="count"/>
                            </a>
                        </td>
                        <td>
                            <a data-result-type="NOTHING_DONE">
                                #{livemaster_sync.filter_nothing_done}&#160;<span class="count"/>
                            </a>
                        </td>
                        <td>
                            <a data-result-type="NOTHING_DONE_FOR_DELETED">
                                #{livemaster_sync.filter_nothing_done_for_deleted}&#160;<span class="count"/>
                            </a>
                        </td>
                        <td>
                            <a data-result-type="ERROR">
                                #{livemaster_sync.filter_error}&#160;<span class="count"/>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td/>
                        <td>
                            <a class="has-warning-filter">
                                #{livemaster_sync.filter_has_warning}&#160;<span class="warningsCount"/>
                            </a>
                        </td>
                        <td/>
                        <td/>
                        <td/>
                    </tr>
                </tbody>
            </table>

            <p:scrollPanel id="syncProductsPanel" mode="native">
                <table id="syncProducts">
                    <thead>
                        <tr>
                            <th/>
                            <th>#{livemaster_sync.livemaster_id}</th>
                            <th>#{livemaster_sync.market_product}</th>
                            <th>#{livemaster_sync.sync_result}</th>
                        </tr>
                    </thead>
                    <tbody/>
                </table>
            </p:scrollPanel>

        </div>

        <p id="syncProductsProcessingComplete">#{livemaster_sync.sync_products_processing_complete}</p>


        <!-- Not Actual Livemaster Ids Processing Start -->
        <hr/>
        <p id="notActualLivemasterIdsProcessingStart">#{livemaster_sync.not_actual_livemaster_ids_processing_start}</p>

        <p id="notActualLivemasterIdsCount">#{livemaster_sync.not_actual_livemaster_ids_count}&#160;<span class="count"/></p>

        <div id="notActualLivemasterIdsProcessingContainer">
            <p id="notActualLivemasterIdProcessed">
                #{livemaster_sync.not_actual_livemaster_id_processed}&#160;<span class="count"/>&#160;
                #{livemaster_sync.not_actual_livemaster_id_processed_from}&#160;<span class="total-count"/>
            </p>

            <p:progressBar widgetVar="notActualLivemasterIdsProgressBarWidget" value="0" labelTemplate="{value}%"/>

            <p:scrollPanel id="notActualLivemasterIdsProductsPanel" mode="native">
                <table id="notActualLivemasterIdsProducts">
                    <thead>
                    <tr>
                        <th/>
                        <th>#{livemaster_sync.livemaster_id}</th>
                        <th>#{livemaster_sync.market_product}</th>
                    </tr>
                    </thead>
                    <tbody/>
                </table>
            </p:scrollPanel>
        </div>

        <p id="notActualLivemasterIdsProcessingComplete">#{livemaster_sync.not_actual_livemaster_id_processing_complete}</p>

        <!-- Stop And Complete -->
        <hr/>
        <p id="syncStopped">#{livemaster_sync.sync_stopped}</p>
        <p id="syncComplete">#{livemaster_sync.sync_complete}</p>

        <p:socket onMessage="handleSyncEvent" channel="#{livemasterSyncBean.pushChannelPath}"/>

        <ui:include src="livemaster_sync_config_include.xhtml"/>

    </ui:define>

</ui:composition>