<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="/pages/template/template.xhtml" xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xml:lang="en" lang="en" xmlns:f="http://java.sun.com/jsf/core">

    <ui:define name="windowTitle">
        <f:loadBundle var="category_list" basename="ru.opresent.web.cms.i18n.category.category_list"/>
        <h:outputText value="#{category_list.title}"/>
    </ui:define>

    <ui:define name="content">
        <f:loadBundle var="buttons" basename="ru.opresent.web.cms.i18n.buttons"/>

        <style type="text/css">
            .moveButton {
                width: 35px;
                height: 35px;
                float: left;
            }
        </style>

        <p:panel header="#{category_list.title}" collapsed="true" styleClass="pageHeaderPanel"/>

        <h:form id="tableForm">
            <p:dataTable id="categoriesTable" value="#{categoryListBean.categories}"
                         var="category" rowKey="#{category.id}"
                         selection="#{categoryListBean.selectedCategory}" selectionMode="single">

                <f:facet name="header">
                    <h:panelGroup id="tableButtons">
                        <p:commandButton id="addButton" value="#{buttons.add}" icon="ui-icon-plus"
                                         ajax="false" action="#{categoryListBean.add}"/>

                        <p:commandButton id="editButton" value="#{buttons.edit}" icon="ui-icon-pencil"
                                         ajax="false" action="#{categoryListBean.edit}"
                                         rendered="#{not empty categoryListBean.selectedCategory}"/>

                        <p:commandButton id="deleteButton" value="#{buttons.delete}" type="button" onclick="PF('deleteConfirmVar').show();"
                                         icon="ui-icon-close"
                                         rendered="#{not empty categoryListBean.selectedCategory}"/>

                        <p:confirmDialog message="#{messageFormatBean.format(category_list.delete_dialog_msg,
                                                                      categoryListBean.selectedCategory.name)}"
                                         header="#{category_list.delete_dialog_title}"
                                         widgetVar="deleteConfirmVar" closeOnEscape="true">

                            <p:commandButton value="#{buttons.yes}" icon="ui-icon-check"
                                             process="@this" action="#{categoryListBean.delete}"
                                             update=":messages @form" oncomplete="PF('deleteConfirmVar').hide();"/>

                            <p:commandButton value="#{buttons.no}" icon="ui-icon-close" type="button" onclick="PF('deleteConfirmVar').hide();"/>
                        </p:confirmDialog>
                    </h:panelGroup>
                </f:facet>

                <p:ajax event="rowSelect" update="tableButtons"/>
                <p:ajax event="rowUnselect" update="tableButtons"/>

                <p:column headerText="Id">
                    <h:outputText value="#{category.id}"/>
                </p:column>

                <p:column headerText="#{category_list.name}">
                    <h:outputText value="#{category.name}"/>
                </p:column>

                <p:column headerText="#{category_list.entity_name}">
                    <h:outputText value="#{category.entityName}"/>
                </p:column>

                <p:column headerText="#{category_list.livemaster_aliases}" styleClass="left">
                    <ul>
                        <ui:repeat value="#{categoryListBean.getLivemasterAliases(category)}" var="alias">
                            <li><h:outputText value="#{alias}"/></li>
                        </ui:repeat>
                    </ul>
                </p:column>

                <p:column headerText="#{category_list.description}">
                    <h:outputText value="#{category.description}"/>
                </p:column>

                <p:column headerText="#{category_list.products_count}">
                    <h:outputText value="#{categoryListBean.statistic.getProductsCount(category)}"/>
                </p:column>

                <p:column headerText="#{category_list.change_position}">
                    <div style="margin-left: 30px; margin-right: 30px;">
                        <div class="moveButton">
                            <p:commandButton id="moveDown" action="#{categoryListBean.moveDown(category)}"
                                             update="categoriesTable :messages"
                                             icon="ui-icon-arrowthick-1-s"
                                             rendered="#{orderedEntityServiceHelper.canMoveDown(category, categoryListBean.categories)}"/>
                        </div>

                        <div class="moveButton">
                            <p:commandButton id="moveUp" action="#{categoryListBean.moveUp(category)}"
                                             update="categoriesTable :messages"
                                             icon="ui-icon-arrowthick-1-n"
                                             rendered="#{orderedEntityServiceHelper.canMoveUp(category)}"/>
                        </div>
                    </div>
                </p:column>


            </p:dataTable>

        </h:form>

    </ui:define>

</ui:composition>