<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="/pages/template/template.xhtml" xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html" xmlns:ui="http://java.sun.com/jsf/facelets"
                xml:lang="en" lang="en" xmlns:p="http://primefaces.org/ui" xmlns:f="http://java.sun.com/jsf/core">

    <ui:define name="windowTitle">
        <f:loadBundle var="category" basename="ru.opresent.web.cms.i18n.category.category"/>
        <h:outputText value="#{categoryBean.addition ? category.add_title : category.edit_title}"/>
    </ui:define>

    <ui:define name="content">
        <f:loadBundle var="buttons" basename="ru.opresent.web.cms.i18n.buttons"/>
        <f:loadBundle var="common" basename="ru.opresent.web.cms.i18n.common"/>

		<style type="text/css">
            .categoryFieldDesc {
                text-align: right;
                padding-right: 10px;
                padding-bottom: 10px;
            }

            .categoryField {
                text-align: left !important;
                padding-bottom: 10px;
            }

            .categoryField .ui-inputfield,
            .categoryField .ui-inputtextarea {
                width: 300px;
            }

            .categoryField img {
                max-width: 200px;
            }

            .categoryButtons button {
                margin-top: 20px;
                margin-right: 20px;
            }
        </style>

        <p:panel header="#{categoryBean.addition ? category.add_title : category.edit_title}"
                 collapsed="true" styleClass="pageHeaderPanel"/>

        <h:form id="categoryForm">

            <h:panelGrid columns="2" columnClasses="categoryFieldDesc,categoryField">

                <p:outputLabel for="categoryName" value="#{category.name}"/>
                <p:inputText id="categoryName" value="#{categoryBean.category.name}"
                             maxlength="#{entitiesConstraints.categoryNameMaxLength}"/>

                <p:outputLabel for="categoryEntityName" value="#{category.entity_name}"/>
                <p:inputText id="categoryEntityName" value="#{categoryBean.category.entityName}"
                             maxlength="#{entitiesConstraints.entityNameMaxLength}"/>

                <p:outputLabel for="livemasterAliasesInput" value="#{category.livemaster_aliases}"/>
                <p:autoComplete id="livemasterAliasesInput" value="#{categoryBean.livemasterAliases}"
                                var="livemasterAlias" itemLabel="#{livemasterAlias}" itemValue="#{livemasterAlias}"
                                completeMethod="#{categoryBean.completeAlias}" multiple="true"
                                scrollHeight="100">
                    <p:ajax event="itemUnselect" listener="#{categoryBean.onAliasUnselect}" update="@this"/>

                    <p:column>
                        <h:outputText value="#{livemasterAlias}" />
                    </p:column>
                </p:autoComplete>

                <p:outputLabel for="categoryDesc" value="#{category.description}"/>
                <h:panelGroup>
                    <p:inputTextarea id="categoryDesc" value="#{categoryBean.category.description}"
                                     maxlength="#{entitiesConstraints.categoryDescriptionMaxLength}"
                                     counter="descriptionCounter" counterTemplate="#{common.chars_remaining}"/>
                    <h:outputText id="descriptionCounter" styleClass="charsCounter"/>
                </h:panelGroup>

            </h:panelGrid>

            <h:panelGroup styleClass="categoryButtons">
                <p:commandButton id="saveButton" value="#{buttons.save}" icon="ui-icon-disk"
                                 process="@this categoryName categoryEntityName livemasterAliasesInput categoryDesc"
                                 action="#{categoryBean.save}" update=":messages"/>

                <p:button id="returnToListButton" value="#{buttons.return_to_list}" icon="ui-icon-arrowthick-1-w"
                          outcome="category_list?faces-redirect=true"/>
            </h:panelGroup>

        </h:form>

    </ui:define>

</ui:composition>