<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="/pages/template/template.xhtml" xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core" xmlns:p="http://primefaces.org/ui"
                xml:lang="en" lang="en">

    <ui:define name="windowTitle">
        <f:loadBundle var="main_menu" basename="ru.opresent.web.cms.i18n.main_menu"/>
        <h:outputText value="#{main_menu.notes}"/>
    </ui:define>

    <ui:define name="content">
        <style type="text/css">
            .noteTableTitle {
                display: block;
                text-align: left;
                font-size: 20px;
                margin-top: 20px;
            }
        </style>

        <p:panel header="#{main_menu.notes}" collapsed="true" styleClass="pageHeaderPanel"/>

        <ui:include src="product_status_info_list_include.xhtml"/>
        <ui:include src="product_label_list_include.xhtml"/>
    </ui:define>

</ui:composition>