<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui" xmlns:f="http://java.sun.com/jsf/core"
                xmlns:opresent="http://java.sun.com/jsf/composite/opresent"
                xml:lang="en" lang="en">

    <f:loadBundle var="product_status_info_list" basename="ru.opresent.web.cms.i18n.notes.product_status_info_list"/>
    <f:loadBundle var="common" basename="ru.opresent.web.cms.i18n.common"/>

    <style type="text/css">
        .productStatusInfoFieldDesc {
            text-align: right;
            padding-right: 10px;
            padding-bottom: 10px;
        }

        .productStatusInfoField {
            text-align: left !important;
            padding-bottom: 10px;
        }

        .productStatusInfoField .ui-inputtextarea {
            width: 300px;
        }

    </style>

    <h:outputText value="#{product_status_info_list.title}" styleClass="noteTableTitle"/>

    <h:form id="productStatusInfoListForm">
        <p:dataTable id="productStatusInfoTable" value="#{productStatusInfoListBean.list}"
                     var="productStatusInfo" rowKey="#{productStatusInfo.id}"
                     selection="#{productStatusInfoListBean.selected}" selectionMode="single">

            <f:facet name="header">
                <opresent:editTableButtons id="editTableButtons" editDialogVar="productStatusInfoWidget"
                                      editDialogId=":productStatusInfoDialog" editingList="#{productStatusInfoListBean}"
                                      editTableId=":productStatusInfoListForm:productStatusInfoTable"
                                      renderAddButton="false" renderDeleteButton="false"/>
            </f:facet>

            <p:ajax event="rowSelect" update=":productStatusInfoListForm:productStatusInfoTable:editTableButtons"/>
            <p:ajax event="rowUnselect" update=":productStatusInfoListForm:productStatusInfoTable:editTableButtons"/>

            <p:column headerText="#{product_status_info_list.product_status}">
                <h:outputText value="#{enumHelper.getDescription(productStatusInfo.status)}"/>
            </p:column>

            <p:column headerText="#{product_status_info_list.default_note}">
                <h:outputText value="#{productStatusInfo.defaultNote}"/>
            </p:column>
        </p:dataTable>
    </h:form>

    <opresent:editDialog id="productStatusInfoDialog" editDialog="#{productStatusInfoListBean.dialog}"
                    widgetVar="productStatusInfoWidget">

        <h:panelGrid columns="2" columnClasses="productStatusInfoFieldDesc,productStatusInfoField"
                     rendered="#{not empty productStatusInfoListBean.dialog.statusInfo}">
            <h:outputText value="#{product_status_info_list.product_status}"/>
            <p:inputText value="#{enumHelper.getDescription(productStatusInfoListBean.dialog.statusInfo.status)}"
                         disabled="true"/>

            <h:outputText value="#{product_status_info_list.default_note}"/>
            <h:panelGroup>
                <p:inputTextarea value="#{productStatusInfoListBean.dialog.statusInfo.defaultNote}"
                                 maxlength="#{entitiesConstraints.productStatusNoteMaxLength}"
                                 counter="statusInfoDefaultNoteCounter" counterTemplate="#{common.chars_remaining}"/>
                <h:outputText id="statusInfoDefaultNoteCounter" styleClass="charsCounter"/>
            </h:panelGroup>
        </h:panelGrid>

    </opresent:editDialog>

</ui:composition>