<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui" xmlns:f="http://java.sun.com/jsf/core"
                xmlns:opresent="http://java.sun.com/jsf/composite/opresent"
                xml:lang="en" lang="en">

    <f:loadBundle var="product_label_list" basename="ru.opresent.web.cms.i18n.notes.product_label_list"/>
    <f:loadBundle var="buttons" basename="ru.opresent.web.cms.i18n.buttons"/>
    <f:loadBundle var="common" basename="ru.opresent.web.cms.i18n.common"/>

    <style type="text/css">
        .productLabelFieldDesc {
            text-align: right;
            padding-right: 10px;
            padding-bottom: 10px;
        }

        .productLabelField {
            text-align: left !important;
            padding-bottom: 10px;
        }

        .productLabelField .ui-inputfield,
        .productLabelField .ui-inputtextarea {
            width: 300px;
        }

        .productLabelField img {
            max-width: 200px;
        }

        .productLabelImageUploader {
            text-align: center;
        }

        .productLabelImage {
            margin-bottom: 20px;
            display: block;
        }
    </style>

    <h:outputText value="#{product_label_list.title}" styleClass="noteTableTitle"/>

    <h:form id="productLabelListForm">
        <p:dataTable id="productLabelsTable" value="#{productLabelListBean.list}"
                     var="productLabel" rowKey="#{productLabel.id}"
                     selection="#{productLabelListBean.selected}" selectionMode="single">

            <f:facet name="header">
                <opresent:editTableButtons id="editTableButtons" editDialogVar="productLabelDialogWidget"
                                      editDialogId=":productLabelDialog" editingList="#{productLabelListBean}"
                                      editTableId=":productLabelListForm:productLabelsTable"
                                      deleteConfirmHeader="#{product_label_list.delete_confirm_header}"
                                      deleteConfirmMsg="#{product_label_list.delete_confirm_msg}"/>
            </f:facet>

            <p:ajax event="rowSelect" update=":productLabelListForm:productLabelsTable:editTableButtons"/>
            <p:ajax event="rowUnselect" update=":productLabelListForm:productLabelsTable:editTableButtons"/>

            <p:column headerText="Id" width="20">
                <h:outputText value="#{productLabel.id}"/>
            </p:column>

            <p:column headerText="#{product_label_list.type}">
                <h:outputText value="#{enumHelper.getDescription(productLabel.type)}"/>
            </p:column>

            <p:column headerText="#{product_label_list.image}">
                <img src="#{imageFileManager.createUrl(productLabel.image)}"/>
            </p:column>

            <p:column headerText="#{product_label_list.with_discount}">
                <p:selectBooleanCheckbox value="#{productLabel.withDiscount}" disabled="true"/>
            </p:column>

            <p:column headerText="#{product_label_list.discount_percent}">
                <h:outputText value="#{productLabel.discountPercent}"/>
            </p:column>

            <p:column headerText="#{product_label_list.default_note}">
                <h:outputText value="#{productLabel.defaultNote}"/>
            </p:column>

        </p:dataTable>
    </h:form>

    <opresent:editDialog id="productLabelDialog" editDialog="#{productLabelListBean.dialog}"
                    widgetVar="productLabelDialogWidget"
                    saveButtonProcess="@(.productLabelGrid :not(.productLabelImageUploader))">

        <h:panelGrid columns="2" columnClasses="productLabelFieldDesc,productLabelField"
                     rendered="#{not empty productLabelListBean.dialog.productLabel}"
                     styleClass="productLabelGrid">

            <h:outputText value="#{product_label_list.type}"/>
            <p:selectOneMenu id="productLabelType"
                             value="#{productLabelListBean.dialog.productLabel.type}">
                <f:selectItems value="#{productLabelListBean.availableLabelTypes}"
                               var="productLabelType"
                               itemValue="#{productLabelType}"
                               itemLabel="#{enumHelper.getDescription(productLabelType)}"/>
            </p:selectOneMenu>

            <h:outputText value="#{product_label_list.image}"/>
            <h:panelGroup>
                <p:fileUpload allowTypes="#{imageFileBean.allowTypesPattern}"
                              invalidFileMessage="#{imageFileBean.invalidFileMessage}"
                              sizeLimit="#{imageFileBean.sizeLimit}"
                              invalidSizeMessage="#{imageFileBean.invalidSizeMessage}"
                              fileUploadListener="#{productLabelListBean.dialog.handleImageUpload}"
                              styleClass="productLabelImageUploader"
                              auto="true" label="#{buttons.define}"
                              update=":messages productLabelImage"/>

                <h:panelGroup id="productLabelImage" styleClass="productLabelImage">
                    <h:outputText value="#{product_label_list.image_not_defined}" styleClass="alarm"
                                  rendered="#{empty productLabelListBean.dialog.productLabel.image}"/>

                    <h:panelGroup rendered="#{not empty productLabelListBean.dialog.productLabel.image}">
                        <img src="#{imageFileManager.createUrl(productLabelListBean.dialog.productLabel.image)}"/>
                    </h:panelGroup>
                </h:panelGroup>
            </h:panelGroup>

            <h:outputText value="#{product_label_list.with_discount}"/>
            <p:selectBooleanCheckbox value="#{productLabelListBean.dialog.productLabelWithDiscount}">
                <p:ajax process="@this" update="@this @(.productLabelDiscountPercent)"/>
            </p:selectBooleanCheckbox>

            <h:panelGroup id="productLabelDiscountPercentFieldDesc" styleClass="productLabelDiscountPercent">
                <h:outputText value="#{product_label_list.discount_percent}"
                              rendered="#{productLabelListBean.dialog.productLabel.withDiscount}"/>
            </h:panelGroup>
            <h:panelGroup id="productLabelDiscountPercentField" styleClass="productLabelDiscountPercent">
                <p:inputText value="#{productLabelListBean.dialog.productLabel.discountPercent}"
                             rendered="#{productLabelListBean.dialog.productLabel.withDiscount}"
                             converterMessage="#{product_label_list.discount_percent_converter_msg}"/>
            </h:panelGroup>

            <h:outputText value="#{product_label_list.default_note}"/>
            <h:panelGroup>
                <p:inputTextarea value="#{productLabelListBean.dialog.productLabel.defaultNote}"
                                 maxlength="#{entitiesConstraints.productLabelNoteMaxLength}"
                                 counter="labelNoteCounter" counterTemplate="#{common.chars_remaining}"/>
                <h:outputText id="labelNoteCounter" styleClass="charsCounter"/>
            </h:panelGroup>
        </h:panelGrid>
    </opresent:editDialog>

</ui:composition>