<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="/pages/template/template.xhtml" xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xml:lang="en" lang="en" xmlns:f="http://java.sun.com/jsf/core">

    <ui:define name="windowTitle">
        <f:loadBundle var="incoming_message_list" basename="ru.opresent.web.cms.i18n.incoming_message.incoming_message_list"/>
        <h:outputText value="#{incoming_message_list.title}"/>
    </ui:define>

    <ui:define name="content">
        <f:loadBundle var="incoming_message_list" basename="ru.opresent.web.cms.i18n.incoming_message.incoming_message_list"/>
        <f:loadBundle var="buttons" basename="ru.opresent.web.cms.i18n.buttons"/>

        <p:panel header="#{incoming_message_list.title}" collapsed="true" styleClass="pageHeaderPanel"/>

        <h:form id="tableForm">
            <p:dataTable id="incomingMessagesTable" value="#{incomingMessageListBean.listModel}" var="incomingMsg"
                         lazy="true" rows="10"
                         selectionMode="single"
                         selection="#{incomingMessageListBean.selectedMessage}"
                         paginator="true"
                         paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink}
                                            {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                         rowsPerPageTemplate="5,10,25,50,100"
                         emptyMessage="#{incoming_message_list.empty_list_message}">

                <f:facet name="header">
                    <h:panelGroup id="tableButtonsPanel">
                        <!-- Place for table buttons -->
                    </h:panelGroup>
                </f:facet>

                <p:ajax event="rowSelect"
                        update=":tableForm:tableButtons" oncomplete="moveTableButtonsToTableHeader();"/>

                <p:ajax event="rowUnselect"
                        update=":tableForm:tableButtons" oncomplete="moveTableButtonsToTableHeader();"/>

                <!--<p:ajax event="page" listener="{incomingMessageListBean.paginationInvoked}"-->
                        <!--update=":tableForm:tableButtons" oncomplete="moveTableButtonsToTableHeader();"/>-->

                <p:column headerText="Id" width="20">
                    <h:outputText value="#{incomingMsg.id}" styleClass="#{incomingMsg.readed ? '' : 'bold'}"/>
                </p:column>

                <p:column headerText="#{incoming_message_list.customer_name}" styleClass="left">
                    <h:outputText value="#{incomingMsg.customerName}" styleClass="#{incomingMsg.readed ? '' : 'bold'}"/>
                </p:column>

                <p:column headerText="#{incoming_message_list.customer_email_or_phone}" styleClass="left">
                    <h:outputText value="#{incomingMsg.customerEmailOrPhone}" styleClass="#{incomingMsg.readed ? '' : 'bold'}"/>
                </p:column>

                <p:column headerText="#{incoming_message_list.subject}">

                    <h:panelGroup rendered="#{incomingMsg.subjectType eq 'PRODUCT'}" columns="2">

                        <div style="float: left;">
                            <h:link outcome="#{cmsNavigationManager.getProductUrl(incomingMsg.subjectId)}">
                                <img src="#{imageFileManager.createUrl(
                                                         incomingMessageListBean.getSubjectProduct(incomingMsg.subjectId).preview,
                                                         'PRODUCT_PREVIEW_IMAGE_IN_CART')}" style="height: 50px;"/>
                            </h:link>
                        </div>
                        <div style="vertical-align: middle; display: table-cell; height: 50px; padding-left: 10px;">
                            <h:link outcome="#{cmsNavigationManager.getProductUrl(incomingMsg.subjectId)}">
                                <h:outputText value="#{incomingMessageListBean.getSubjectProduct(incomingMsg.subjectId).type.name} - #{incomingMessageListBean.getSubjectProduct(incomingMsg.subjectId).name}"
                                              styleClass="#{incomingMsg.readed ? '' : 'bold'}"/>
                            </h:link>
                        </div>
                    </h:panelGroup>

                    <h:outputText rendered="#{incomingMsg.subjectType eq 'SECTION'}"
                                  value="#{messageFormatBean.format(incoming_message_list.subject_section,
                                                                    incomingMessageListBean.getSubjectSection(incomingMsg.subjectId).name)}"/>

                </p:column>

                <p:column headerText="#{incoming_message_list.creation_time}">
                    <h:outputText value="#{incomingMsg.creationTime}" styleClass="#{incomingMsg.readed ? '' : 'bold'}">
                        <f:convertDateTime type="both" pattern="dd-MM-yyyy HH:mm:ss"/>
                    </h:outputText>
                </p:column>
            </p:dataTable>

            <h:panelGroup id="tableButtons" style="width: 100%; display: block;">
                <p:commandButton id="viewButton" value="#{buttons.view}" icon="ui-icon-search"
                                 ajax="false" action="#{incomingMessageListBean.view}"
                                 disabled="#{empty incomingMessageListBean.selectedMessage}"/>

                <div style="float: right;">
                    <h:outputText value="#{messageFormatBean.format(incoming_message_list.count_statistic,
                                                                    incomingMessageListBean.listModel.rowCount,
                                                                    incomingMessageListBean.listModel.notReadedCount)}"/>
                </div>

            </h:panelGroup>

        </h:form>

        <script type="text/javascript">
            $(function() {
                moveTableButtonsToTableHeader();
            });

            function moveTableButtonsToTableHeader() {
                var tableButtonsPanel = $("[id$='tableButtonsPanel']");
                tableButtonsPanel.empty();

                var tableButtons = $("[id$='tableButtons']");
                tableButtons.children().appendTo(tableButtonsPanel);
            }
        </script>

    </ui:define>

</ui:composition>