<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="/pages/template/template.xhtml" xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui" xmlns:f="http://java.sun.com/jsf/core"
                xml:lang="en" lang="en">

    <ui:define name="windowTitle">
        <f:loadBundle var="incoming_message" basename="ru.opresent.web.cms.i18n.incoming_message.incoming_message"/>
        <h:outputText value="#{messageFormatBean.format(incoming_message.title, incomingMessageBean.message.id)}"/>
    </ui:define>

    <ui:define name="content">
        <style type="text/css">
            .msgFieldDesc {
                text-align: right;
                padding-right: 10px;
                padding-bottom: 10px;
            }

            .msgField .ui-inputfield,
            .msgField .ui-inputtextarea {
                width: 300px;
            }

            .msgField {
                text-align: left !important;
                padding-bottom: 10px;
            }

            .msgField ul {
                padding-left: 15px;
            }

        </style>

        <f:loadBundle var="buttons" basename="ru.opresent.web.cms.i18n.buttons"/>

        <p:panel header="#{messageFormatBean.format(incoming_message.title, incomingMessageBean.message.id)}"
                 collapsed="true" styleClass="pageHeaderPanel" style="width: 550px;"/>

        <h:form>
            <h:panelGrid columns="2" columnClasses="msgFieldDesc,msgField">
                <h:outputText value="#{incoming_message.creation_time}"/>
                <p:inputText value="#{incomingMessageBean.message.creationTime}" readonly="true">
                    <f:convertDateTime type="both" pattern="dd-MM-yyyy HH:mm:ss"/>
                </p:inputText>

                <h:outputText value="#{incoming_message.customer_name}"/>
                <p:inputText value="#{incomingMessageBean.message.customerName}" readonly="true"/>

                <h:outputText value="#{incoming_message.customer_email_or_phone}"/>
                <p:inputText value="#{incomingMessageBean.message.customerEmailOrPhone}" readonly="true"/>

                <h:outputText value="#{incoming_message.subject}"/>
                <h:panelGroup>
                    <h:panelGroup rendered="#{incomingMessageBean.message.subjectType eq 'PRODUCT'}">
                        <div>
                            <h:link outcome="#{cmsNavigationManager.getProductUrl(incomingMessageBean.subjectProduct.id)}">
                                <img src="#{imageFileManager.createUrl(
                                                                 incomingMessageBean.subjectProduct.preview,
                                                                 'PRODUCT_PREVIEW_IMAGE_IN_CART')}"/>
                            </h:link>
                        </div>
                        <div style="vertical-align: middle; display: table-cell; height: 50px; padding-left: 10px;">
                            <h:link outcome="#{cmsNavigationManager.getProductUrl(incomingMessageBean.subjectProduct.id)}">
                                <h:outputText value="#{incomingMessageBean.subjectProduct.type.name} - #{incomingMessageBean.subjectProduct.name}"/>
                            </h:link>
                        </div>
                    </h:panelGroup>

                    <h:outputText rendered="#{incomingMessageBean.message.subjectType eq 'SECTION'}"
                                  value="#{messageFormatBean.format(incoming_message.subject_section,
                                                                    incomingMessageBean.subjectSection.name)}"/>
                </h:panelGroup>

                <h:outputText value="#{incoming_message.message_text}"/>
                <p:inputTextarea value="#{incomingMessageBean.message.messageText}" readonly="true"/>
            </h:panelGrid>

            <h:panelGroup style="width: 550px; display: block;">
                <p:button id="returnToListButton" value="#{buttons.return_to_list}" icon="ui-icon-arrowthick-1-w"
                          style="margin-top: 20px;"
                          outcome="incoming_message_list?faces-redirect=true"/>
            </h:panelGroup>

            <p:remoteCommand name="markReaded" process="@this"
                             action="#{incomingMessageBean.markReaded}"
                             update=":messages :mainMenuForm:mainMenu"/>
        </h:form>

        <script type="text/javascript">
            $(function() {
                if ('#{incomingMessageBean.message.readed}' == 'false') {
                    setTimeout(function() {
                        markReaded();
                    }, 1000);
                }
            });
        </script>

    </ui:define>

</ui:composition>