<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="/pages/template/template.xhtml" xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui" xmlns:f="http://java.sun.com/jsf/core"
                xml:lang="en" lang="en">

    <ui:define name="windowTitle">
        <f:loadBundle var="news" basename="ru.opresent.web.cms.i18n.news.news"/>
        <h:outputText value="#{news.title}"/>
    </ui:define>

    <ui:define name="content">
        <f:loadBundle var="common" basename="ru.opresent.web.cms.i18n.common"/>
        <f:loadBundle var="buttons" basename="ru.opresent.web.cms.i18n.buttons"/>

        <style type="text/css">
            .moveButton {
                width: 35px;
                height: 35px;
                float: left;
            }
        </style>

        <p:panel header="#{news.title}" collapsed="true" styleClass="pageHeaderPanel"/>

        <h:form id="listForm">
            <p:dataTable id="newsItemsTable" value="#{newsBean.newsItems}"
                         var="newsItem" rowKey="#{newsItem.id}"
                         selection="#{newsBean.selectedNewsItem}" selectionMode="single">

                <f:facet name="header">
                    <h:panelGroup id="tableButtons">
                        <p:commandButton id="addButton" value="#{buttons.add}" icon="ui-icon-plus"
                                         ajax="false" action="#{newsBean.add}"/>

                        <p:commandButton id="editButton" value="#{buttons.edit}" icon="ui-icon-pencil"
                                         ajax="false" action="#{newsBean.edit}"
                                         rendered="#{not empty newsBean.selectedNewsItem}"/>

                        <p:commandButton id="deleteButton" value="#{buttons.delete}" type="button" onclick="PF('deleteConfirmVar').show();"
                                         icon="ui-icon-close"
                                         rendered="#{not empty newsBean.selectedNewsItem}"/>

                        <p:confirmDialog message="#{news.delete_confirm_msg}"
                                         header="#{news.delete_confirm_header}"
                                         widgetVar="deleteConfirmVar" closeOnEscape="true">

                            <p:commandButton value="#{buttons.yes}" icon="ui-icon-check"
                                             process="@this" action="#{newsBean.delete}"
                                             update=":messages @form" oncomplete="PF('deleteConfirmVar').hide();"/>

                            <p:commandButton value="#{buttons.no}" icon="ui-icon-close" type="button" onclick="PF('deleteConfirmVar').hide();"/>
                        </p:confirmDialog>
                    </h:panelGroup>
                </f:facet>

                <p:ajax event="rowSelect" update="tableButtons"/>
                <p:ajax event="rowUnselect" update="tableButtons"/>

                <p:column headerText="Id" width="20">
                    <h:outputText value="#{newsItem.id}"/>
                </p:column>

                <p:column headerText="#{news.date}">
                    <h:outputText value="#{newsItem.date}">
                        <f:convertDateTime pattern="dd.MM.yyyy"/>
                    </h:outputText>
                </p:column>

                <p:column headerText="#{news.text}">
                    <h:outputText value="#{newsItem.text}" escape="false"/>
                </p:column>

                <p:column headerText="#{news.visible}" width="100">
                    <p:selectBooleanCheckbox value="#{newsItem.visible}" disabled="true"/>
                </p:column>

                <p:column headerText="#{news.change_position}">
                    <div style="margin-left: 30px; margin-right: 30px;">
                        <div class="moveButton">
                            <p:commandButton id="moveUp" action="#{newsBean.moveUp(newsItem)}"
                                             process="@this"
                                             update="@form :messages"
                                             icon="ui-icon-arrowthick-1-n"
                                             rendered="#{orderedEntityServiceHelper.canMoveUp(newsItem)}"/>
                        </div>

                        <div class="moveButton">
                            <p:commandButton id="moveDown" action="#{newsBean.moveDown(newsItem)}"
                                             process="@this"
                                             update="@form :messages"
                                             icon="ui-icon-arrowthick-1-s"
                                             rendered="#{orderedEntityServiceHelper.canMoveDown(newsItem, newsBean.newsItems)}"/>
                        </div>
                    </div>
                </p:column>

            </p:dataTable>
        </h:form>
    </ui:define>

</ui:composition>