<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="/pages/template/template.xhtml" xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui" xmlns:f="http://java.sun.com/jsf/core"
                xmlns:opresent="http://java.sun.com/jsf/composite/opresent"
                xml:lang="en" lang="en">

    <ui:define name="windowTitle">
        <f:loadBundle var="news_item" basename="ru.opresent.web.cms.i18n.news.news_item"/>
        <h:outputText value="#{newsItemBean.addition ? news_item.add_title : news_item.edit_title}"/>
    </ui:define>

    <ui:define name="content">
        <f:loadBundle var="common" basename="ru.opresent.web.cms.i18n.common"/>
        <f:loadBundle var="buttons" basename="ru.opresent.web.cms.i18n.buttons"/>

        <style type="text/css">
            .newsItemFieldDesc {
                text-align: right;
                padding-right: 10px;
                padding-bottom: 10px;
            }

            .newsItemField {
                text-align: left !important;
                padding-bottom: 10px;
            }

            .newsItemField .ui-inputfield,
            .newsItemField .ui-inputtextarea {
                width: 300px;
            }

            .newsItemButtons button {
                margin-top: 20px;
                margin-right: 20px;
            }
        </style>

        <p:panel header="#{newsItemBean.addition ? news_item.add_title : news_item.edit_title}"
                 collapsed="true" styleClass="pageHeaderPanel"/>

        <h:form id="newsItemForm">
            <h:panelGrid columns="2" columnClasses="newsItemFieldDesc,newsItemField">

                <h:outputText value="#{news_item.date}"/>
                <p:calendar value="#{newsItemBean.newsItem.date}" showOn="button" pattern="dd.MM.yyyy"/>

                <h:outputText value="#{news_item.text}"/>
                <opresent:richTextEditor container="#{newsItemBean.newsItemTextContainer}"
                                    allowAddImage="false"
                                    editorWidth="500"
                                    editorHeight="200"/>

                <h:outputText value="#{news_item.visible}"/>
                <p:selectBooleanCheckbox id="newsItemVisible" value="#{newsItemBean.newsItem.visible}"/>

            </h:panelGrid>

            <h:panelGroup styleClass="newsItemButtons">
                <p:commandButton id="saveButton" value="#{buttons.save}" icon="ui-icon-disk"
                                 process="@form"
                                 action="#{newsItemBean.save}" update=":messages"/>

                <p:button id="returnToListButton" value="#{buttons.return_to_list}" icon="ui-icon-arrowthick-1-w"
                          outcome="news?faces-redirect=true"/>
            </h:panelGroup>

        </h:form>
    </ui:define>

</ui:composition>