<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="/pages/template/template.xhtml" xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui" xmlns:f="http://java.sun.com/jsf/core"
                xml:lang="en" lang="en">

    <ui:define name="windowTitle">
        <f:loadBundle var="product" basename="ru.opresent.web.cms.i18n.product.product"/>

        <h:outputText value="#{productBean.addition ?
                               product.title_addition :
                               messageFormatBean.format(product.title_editing, productBean.product.id)}"/>
    </ui:define>

    <ui:define name="content">
        <f:loadBundle var="buttons" basename="ru.opresent.web.cms.i18n.buttons"/>

        <p:panel header="#{productBean.addition ?
                           product.title_addition :
                           messageFormatBean.format(product.title_editing, productBean.product.id, productBean.product.livemasterId)}"
                 collapsed="true" styleClass="pageHeaderPanel" style="width: 550px;"/>

        <p:tabView id="productTabs" widgetVar="productTabsWidget" onTabShow="productTabsOnTabShowListener()">

            <p:tab id="mainInfoTab" title="#{product.main_info_tab}">
                <ui:include src="product_main_info_include.xhtml"/>
            </p:tab>

            <p:tab id="imagesTab" title="#{product.images_tab}">
                <ui:include src="product_images_include.xhtml"/>
            </p:tab>

            <p:tab id="linksTab" title="#{product.links_tab}">
                <ui:include src="product_links_include.xhtml"/>
            </p:tab>

        </p:tabView>

        <h:panelGroup>
            <p:commandButton id="saveButton" type="button" onclick="saveProduct();"
                             value="#{buttons.save}" icon="ui-icon-disk"/>

            <p:button id="returnToListButton" value="#{buttons.return_to_list}" icon="ui-icon-arrowthick-1-w"
                      style="margin-top: 20px;"
                      outcome="product_list?faces-redirect=true"/>
        </h:panelGroup>

        <script type="text/javascript">

            var tabsInfo = $.parseJSON('#{productBean.tabsInfo}');

            $(function() {
                var tabIndex = tabsInfo.nameToIndex[getCurrenTabInput().val()];
                PF('productTabsWidget').select(tabIndex);
            });

            function productTabsOnTabShowListener() {
                var activeTabIndex = PF('productTabsWidget').getActiveIndex();
                var tabName = tabsInfo.indexToName[activeTabIndex];
                getCurrenTabInput().val(tabName);

                if (tabName == "VIEWS") {
                    productImagesGalleriaWidget.refresh();
                }
            }

            function getCurrenTabInput() {
                return $("input[id$='currentTab']");
            }

        </script>

    </ui:define>

</ui:composition>