<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui" xmlns:f="http://java.sun.com/jsf/core"
                xmlns:opresent="http://java.sun.com/jsf/composite/opresent"
                xml:lang="en" lang="en">

    <f:loadBundle var="buttons" basename="ru.opresent.web.cms.i18n.buttons"/>
    <f:loadBundle var="product_images" basename="ru.opresent.web.cms.i18n.product.product_images"/>

    <style type="text/css">
        div.fileupload-buttonbar {
            text-align: left;
        }
    </style>

    <h:form id="imagesForm" style="height: 600px;">
        <p:fileUpload id="galleriaImageUpload"
                      allowTypes="#{imageFileBean.allowTypesPattern}"
                      invalidFileMessage="#{imageFileBean.invalidFileMessage}"
                      sizeLimit="#{imageFileBean.sizeLimit}"
                      invalidSizeMessage="#{imageFileBean.invalidSizeMessage}"
                      multiple="true"
                      fileUploadListener="#{productBean.handleViewImageUpload}"
                      auto="true" label="#{buttons.add}"
                      update="productImagesGalleriaPanel"
                      oncomplete="productImagesGalleriaWidget.refresh();"
                      style="width: 603px;"/>

        <h:panelGroup id="productImagesGalleriaPanel">
            <opresent:galleria id="productImagesGalleria"
                         model="#{productBean.viewsListModel}"
                         widgetVar="productImagesGalleriaWidget"
                         selectionListenersFactory="getProductImagesGalleriaSelectionListeners"
                         rendered="#{not empty productBean.product.views}">

                <f:facet name="buttons">
                    <table class="width100p">
                        <tr>
                            <td>
                                <!-- Move begin -->
                                <p:commandButton widgetVar="moveBeginButtonWidget"
                                                 icon="ui-icon-seek-first"
                                                 process="productImagesGalleria"
                                                 action="#{productBean.moveViewImage('BEGIN')}"
                                                 update=":productTabs:imagesForm:productImagesGalleriaPanel"
                                                 oncomplete="productImagesGalleriaWidget.refresh();"/>
                            </td>
                            <td>
                                <!-- Move left -->
                                <p:commandButton widgetVar="moveLeftButtonWidget"
                                                 icon="ui-icon-seek-prev"
                                                 process="productImagesGalleria"
                                                 action="#{productBean.moveViewImage('LEFT')}"
                                                 update=":productTabs:imagesForm:productImagesGalleriaPanel"
                                                 oncomplete="productImagesGalleriaWidget.refresh();"/>
                            </td>
                            <td>
                                <!-- Move right -->
                                <p:commandButton widgetVar="moveRightButtonWidget"
                                                 icon="ui-icon-seek-next"
                                                 process="productImagesGalleria"
                                                 action="#{productBean.moveViewImage('RIGHT')}"
                                                 update=":productTabs:imagesForm:productImagesGalleriaPanel"
                                                 oncomplete="productImagesGalleriaWidget.refresh();"/>
                            </td>
                            <td>
                                <!-- Move end -->
                                <p:commandButton widgetVar="moveEndButtonWidget"
                                                 icon="ui-icon-seek-end"
                                                 process="productImagesGalleria"
                                                 action="#{productBean.moveViewImage('END')}"
                                                 update=":productTabs:imagesForm:productImagesGalleriaPanel"
                                                 oncomplete="productImagesGalleriaWidget.refresh();"/>
                            </td>
                            <td style="text-align: right; width: 100%;">
                                <h:panelGroup styleClass="width100p">
                                    <!-- Delete -->
                                    <p:commandButton icon="ui-icon-close"
                                                     type="button"
                                                     onclick="PF('confirmDeleteViewDialogWidget').show();"/>
                                </h:panelGroup>
                            </td>
                        </tr>
                    </table>

                </f:facet>

            </opresent:galleria>
        </h:panelGroup>

        <opresent:confirmDeleteDialog widgetVar="confirmDeleteViewDialogWidget"
                                 header="#{product_images.delete_view_confirm_header}"
                                 message="#{product_images.delete_view_confirm_msg}"
                                 process=":productTabs:imagesForm:productImagesGalleriaPanel"
                                 deleter="#{productBean.viewImageDeleter}"
                                 updateAfterDelete=":productTabs:imagesForm:productImagesGalleriaPanel"
                                 oncomplete="productImagesGalleriaWidget.refresh();"/>
    </h:form>

    <script type="text/javascript">

        function getProductImagesGalleriaSelectionListeners() {
            return [new ProductGalleriaImageSelectionListener()];
        }

        /**
         * @see {GalleriaImageSelectionListener}
         */
        function ProductGalleriaImageSelectionListener() {
            /**
             * @param {GalleriaImageSelectionEvent} event
             */
            this.imageSelectionInvoked = function(event) {
                if (event.isFirst()) {
                    PF('moveBeginButtonWidget').disable();
                    PF('moveLeftButtonWidget').disable();
                } else {
                    PF('moveBeginButtonWidget').enable();
                    PF('moveLeftButtonWidget').enable();
                }

                if (event.isLast()) {
                    PF('moveRightButtonWidget').disable();
                    PF('moveEndButtonWidget').disable();
                } else {
                    PF('moveRightButtonWidget').enable();
                    PF('moveEndButtonWidget').enable();
                }
            }
        }

    </script>

</ui:composition>