<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui" xmlns:f="http://java.sun.com/jsf/core"
                xmlns:opresent="http://java.sun.com/jsf/composite/opresent"
                xml:lang="en" lang="en">

    <style type="text/css">
        .productInfoFieldDesc {
            text-align: right;
            padding-right: 10px;
            padding-bottom: 10px;
        }

        .productInfoField .ui-inputfield,
        .productInfoField .ui-inputtextarea {
            width: 300px;
        }

        .textAreaBottom {
            width: 310px;
        }

        .productInfoField {
            text-align: left !important;
            padding-bottom: 10px;
        }

        .productInfoField ul {
            padding-left: 15px;
        }

    </style>

    <f:loadBundle var="product_main_info" basename="ru.opresent.web.cms.i18n.product.product_main_info"/>
    <f:loadBundle var="buttons" basename="ru.opresent.web.cms.i18n.buttons"/>
    <f:loadBundle var="common" basename="ru.opresent.web.cms.i18n.common"/>

    <opresent:selectCategoryListDialog dialog="#{productBean.selectCategoryListDialog}"
                                  update=":productTabs:mainInfoForm:productCategories"/>

    <opresent:selectColorListDialog dialog="#{productBean.selectColorListDialog}"
                               update=":productTabs:mainInfoForm:productColors"/>

    <h:form id="mainInfoForm" styleClass="mainInfoForm">

        <h:panelGrid columns="2" columnClasses="productInfoFieldDesc,productInfoField">
            <h:outputText value="#{product_main_info.type}"/>
            <p:selectOneMenu id="productType" value="#{productBean.product.type}"
                             styleClass="processedProductField"
                             converter="#{productBean.productTypesConverter}"
                             style="width: 310px; text-align: left;">
                <f:selectItems value="#{productBean.availableProductTypes}" var="type"
                               itemValue="#{type}" itemLabel="#{type.name}"/>
            </p:selectOneMenu>

            <h:outputText value="#{product_main_info.name}"/>
            <p:inputText id="productName" value="#{productBean.product.name}"
                         styleClass="processedProductField" maxlength="#{entitiesConstraints.productNameMaxLength}"/>

            <h:outputText value="#{product_main_info.preview}"/>
            <h:panelGroup id="productPreview">
                <p:fileUpload id="previewImageUpload" styleClass="previewImageUpload"
                              allowTypes="#{imageFileBean.allowTypesPattern}"
                              invalidFileMessage="#{imageFileBean.invalidFileMessage}"
                              sizeLimit="#{imageFileBean.sizeLimit}"
                              invalidSizeMessage="#{imageFileBean.invalidSizeMessage}"
                              multiple="false"
                              fileUploadListener="#{productBean.handlePreviewImageUpload}"
                              auto="true" label="#{buttons.define}"
                              update="productPreview"
                              style="width: 310px;text-align: center;"/>

                <h:outputText value="#{product_main_info.preview_not_defined}" styleClass="alarm"
                              rendered="#{empty productBean.product.preview}"/>

                <h:panelGroup rendered="#{not empty productBean.product.preview}">
                    <img src="#{imageFileManager.createUrl(productBean.product.preview, 'PRODUCT_PREVIEW_IMAGE_IN_PRODUCT_LIST')}"
                         alt="Product preview with id = #{productBean.product.preview.id} must be here"/>
                </h:panelGroup>
            </h:panelGroup>

            <h:outputText value="#{product_main_info.description}"/>
            <opresent:richTextEditor id="productDescriptionEditor"
                                container="#{productBean.desriptionContainer}"
                                editorWidth="500"
                                editorHeight="200"/>

            <h:outputText value="#{product_main_info.price}"/>
            <p:inputText id="productPrice" value="#{productBean.product.price}"
                         converterMessage="#{product_main_info.price_converter_msg}"
                         styleClass="processedProductField"/>

            <h:outputText value="#{product_main_info.status}"/>
            <p:selectOneMenu id="productStatus" value="#{productBean.productStatus}"
                             styleClass="processedProductField productStatus"
                             style="width: 150px; text-align: left;">

                <p:ajax event="change" process="@this" update="@(.productionTimeDescPanel, .productionTimePanel)"/>

                <f:selectItems value="#{productBean.availableStatuses}" var="status"
                               itemValue="#{status}" itemLabel="#{enumHelper.getDescription(status)}"/>
            </p:selectOneMenu>

            <h:outputText value="#{product_main_info.status_note}"/>
            <h:panelGroup>
                <p:inputTextarea value="#{productBean.product.statusNote}"
                                 styleClass="processedProductField statusNote"
                                 maxlength="#{entitiesConstraints.productStatusNoteMaxLength}"
                                 counter="statusNoteCounter" counterTemplate="#{common.chars_remaining}"/>

                <h:panelGrid styleClass="textAreaBottom" columns="2" columnClasses="left, right">
                    <h:outputText id="statusNoteCounter" styleClass="charsCounter"/>
                    <p:commandLink value="#{buttons.by_default}" action="#{productBean.defaultStatusNote()}"
                                   style="color: #878787"
                                   process="@this @(.productStatus)" update="@(.statusNote)"/>
                </h:panelGrid>
            </h:panelGroup>

            <h:panelGroup id="productionTimeDescPanel" styleClass="productionTimeDescPanel">
                <h:outputText value="#{product_main_info.production_time}"
                              rendered="#{productBean.product.status eq 'FOR_ORDER'}"/>
            </h:panelGroup>
            <h:panelGroup id="productionTimePanel" styleClass="productionTimePanel">
                <p:inputText value="#{productBean.product.productionTime}"
                             styleClass="processedProductField"
                             rendered="#{productBean.product.status eq 'FOR_ORDER'}"
                             maxlength="#{entitiesConstraints.productProductionTimeMaxLength}"/>
            </h:panelGroup>

            <h:outputText value="#{product_main_info.label}"/>
            <h:panelGroup>
                <h:panelGrid columns="3">
                    <h:panelGroup id="productLabelInfo" styleClass="productLabelInfo">
                        <h:outputText value="#{product_main_info.no_label}" rendered="#{empty productBean.product.label}"/>
                        <h:panelGrid columns="3" rendered="#{not empty productBean.product.label}">
                            <h:outputText value="#{enumHelper.getDescription(productBean.product.label.type)}"/>
                            <img src="#{imageFileManager.createUrl(productBean.product.label.image)}"
                                 alt="#{productBean.product.label.image.id}"/>
                            <h:outputText value="#{productBean.product.label.discountPercent} %"
                                          rendered="#{productBean.product.label.withDiscount}"/>
                            <h:outputText value=""
                                          rendered="#{not productBean.product.label.withDiscount}"/>
                        </h:panelGrid>
                    </h:panelGroup>

                    <p:commandButton id="defineLabelButton" value="#{buttons.define}" type="button"/>
                    <p:commandButton value="#{buttons.clean}" action="#{productBean.cleanProductLabel}"
                                     process="@this"
                                     update="@(.productLabelInfo, .labelNoteDescPanel, .labelNotePanel)"/>

                    <p:overlayPanel widgetVar="availableLabelsWidget" for="defineLabelButton" hideEffect="fade">
                        <p:dataTable value="#{productBean.availableLabels}" var="label" rowKey="#{label.id}"
                                     selectionMode="single" selection="#{productBean.product.label}"
                                     style="width: 300px;">

                            <p:ajax event="rowSelect" onstart="PF('availableLabelsWidget').hide()"
                                    update="@(.productLabelInfo, .labelNoteDescPanel, .labelNotePanel)"/>

                            <p:column>
                                <h:outputText value="#{enumHelper.getDescription(label.type)}"/>
                            </p:column>
                            <p:column>
                                <img src="#{imageFileManager.createUrl(label.image)}" alt="#{label.image.id}"/>
                            </p:column>
                            <p:column>
                                <h:outputText value="#{label.discountPercent} %" rendered="#{label.withDiscount}"/>
                            </p:column>
                        </p:dataTable>
                    </p:overlayPanel>

                </h:panelGrid>
            </h:panelGroup>

            <h:panelGroup id="labelNoteDescPanel" styleClass="labelNoteDescPanel">
                <h:outputText value="#{product_main_info.label_note}"
                              rendered="#{not empty productBean.product.label}"/>
            </h:panelGroup>
            <h:panelGroup id="labelNotePanel" styleClass="labelNotePanel">
                <h:panelGroup columnClasses="right" rendered="#{not empty productBean.product.label}">
                    <p:inputTextarea value="#{productBean.product.labelNote}"
                                     styleClass="processedProductField labelNote"
                                     maxlength="#{entitiesConstraints.productLabelNoteMaxLength}"
                                     counter="labelNoteCounter" counterTemplate="#{common.chars_remaining}"/>

                    <h:panelGrid styleClass="textAreaBottom" columns="2" columnClasses="left, right">
                        <h:outputText id="labelNoteCounter" styleClass="charsCounter"/>
                        <p:commandLink value="#{buttons.by_default}" action="#{productBean.defaultLabelNote}"
                                       style="color: #878787"
                                       process="@this" update="@(.labelNote)"/>
                    </h:panelGrid>
                </h:panelGroup>
            </h:panelGroup>

            <h:outputText value="#{product_main_info.size}"/>
            <h:panelGrid columns="2">
                <p:selectOneMenu id="productSize" value="#{productBean.product.size}"
                                 converter="#{productBean.sizesConverter}"
                                 styleClass="processedProductField"
                                 style="width: 150px; text-align: left;">
                    <f:selectItem itemLabel="#{product_main_info.size_not_defined}" noSelectionOption="true"/>
                    <f:selectItems value="#{productBean.availableSizes}" var="size"
                                   itemValue="#{size}" itemLabel="#{size.description}"/>
                </p:selectOneMenu>
                <p:inputText id="productSizeText" value="#{productBean.product.sizeText}"
                             styleClass="processedProductField"
                             maxlength="#{entitiesConstraints.productSizeTextMaxLength}"/>
            </h:panelGrid>

            <h:outputText value="#{product_main_info.visible}"/>
            <p:selectBooleanCheckbox id="productVisible" value="#{productBean.product.visible}"
                                     styleClass="processedProductField"/>

            <h:link value="#{product_main_info.categories}"
                    onclick="showSelectCategoryListDialog();return false;"/>
            <h:panelGroup id="productCategories">

                <h:outputText value="#{product_main_info.categories_not_defined}" styleClass="block alarm"
                              rendered="#{empty productBean.sortedProductCategories}"/>

                <h:panelGroup rendered="#{not empty productBean.sortedProductCategories}">
                    <ul>
                        <ui:repeat value="#{productBean.sortedProductCategories}" var="category">
                            <li>
                                <h:outputText value="#{category.name}"/>
                            </li>
                        </ui:repeat>
                    </ul>
                </h:panelGroup>
            </h:panelGroup>

            <h:link value="#{product_main_info.colors}"
                    onclick="showSelectColorListDialog();return false;"/>
            <h:panelGroup id="productColors">

                <h:outputText value="#{product_main_info.colors_not_defined}" styleClass="block alarm"
                              rendered="#{empty productBean.productColorsAsList}"/>

                <h:panelGroup rendered="#{not empty productBean.productColorsAsList}">
                    <ui:repeat value="#{productBean.productColorsAsList}" var="color">
                        <div style="width: 20px; height: 20px;
                                background-color:\##{color.hex};
                                border: 1px solid black;
                                float: left; margin-right: 10px;"></div>
                    </ui:repeat>
                </h:panelGroup>
            </h:panelGroup>

            <h:outputText value="#{product_main_info.keywords}"/>
            <opresent:productKeywordsEditor product="#{productBean.product}" productKeywordsStyleClass="processedProductField"/>

        </h:panelGrid>

        <h:inputHidden id="currentTab" value="#{productBean.currentTab}"
                       styleClass="processedProductField"/>

        <p:remoteCommand name="saveProduct"
                         process="@this @(.mainInfoForm .processedProductField) productDescriptionEditor:ckEditor"
                         action="#{productBean.save}" update=":messages"/>
    </h:form>

</ui:composition>