<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="/pages/template/template.xhtml" xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xml:lang="en" lang="en" xmlns:f="http://java.sun.com/jsf/core"
                xmlns:opresent="http://java.sun.com/jsf/composite/opresent">

    <ui:define name="windowTitle">
        <f:loadBundle var="product_list" basename="ru.opresent.web.cms.i18n.product.product_list"/>
        <h:outputText value="#{product_list.title}"/>
    </ui:define>

    <ui:define name="content">
        <f:loadBundle var="product_list" basename="ru.opresent.web.cms.i18n.product.product_list"/>
        <f:loadBundle var="buttons" basename="ru.opresent.web.cms.i18n.buttons"/>

        <p:panel header="#{product_list.title}" collapsed="true" styleClass="pageHeaderPanel"/>

        <opresent:productFilter filteringActionListener="#{productListBean.productsModel}"
                           update=":tableForm"
                           oncomplete="moveTableButtonsToTableHeader();"/>

        <h:form id="tableForm">
            <p:dataTable id="productsTable" value="#{productListBean.productsModel}" var="product"
                         lazy="true"
                         first="#{productListBean.productsModel.first}"
                         rows="#{productListBean.productsModel.rows}"
                         selectionMode="single"
                         selection="#{productListBean.selectedProduct}"
                         paginator="true"
                         paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink}
                                            {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                         rowsPerPageTemplate="5,10,25,50,100"
                         emptyMessage="#{product_list.empty_list_message}">

                <f:facet name="header">
                    <h:panelGroup id="tableButtonsPanel">
                        <!-- Place for table buttons -->
                    </h:panelGroup>
                </f:facet>

                <p:ajax event="rowSelect"
                        update=":tableForm:tableButtons" oncomplete="moveTableButtonsToTableHeader();"/>

                <p:ajax event="rowUnselect"
                        update=":tableForm:tableButtons" oncomplete="moveTableButtonsToTableHeader();"/>

                <p:ajax event="page" listener="#{productListBean.productsModel.paginationInvoked}"
                        update=":tableForm:tableButtons" oncomplete="moveTableButtonsToTableHeader();"/>

                <p:column headerText="Id" width="20">
                    <h:outputText value="#{product.id}"/>
                </p:column>

                <p:column>
                    <p:graphicImage value="/resources/images/no_image.png"
                                    rendered="#{empty product.preview}"
                                    height="50" style="padding-right: 5px;"/>

                    <h:panelGroup rendered="#{not empty product.preview}">
                        <img src="#{imageFileManager.createUrl(product.preview, 'PRODUCT_PREVIEW_IMAGE_IN_CART')}"
                             style="height: 50px; padding-right: 5px;"/>
                    </h:panelGroup>
                </p:column>

                <p:column headerText="#{product_list.name}" styleClass="left">
                    <h:outputLink value="product.xhtml?id=#{product.id}">#{product.name}</h:outputLink>
                </p:column>

                <p:column headerText="#{product_list.type}">
                    <h:outputText value="#{product.type.name}"/>
                </p:column>

                <p:column headerText="#{product_list.category}">
                    <h:panelGroup style="text-align: left;">
                        <h:outputText value="#{product_list.category_not_defined}" styleClass="alarm"
                                      rendered="#{empty product.categories}"/>

                        <h:outputText value="#{productListBean.getFirstCategory(product).name}"
                                      rendered="#{productListBean.isOnlyOneCategory(product)}"/>

                        <h:panelGroup rendered="#{not productListBean.isOnlyOneCategory(product)}">
                            <ul>
                                <ui:repeat value="#{productListBean.getCategoriesList(product)}" var="category">
                                    <li>
                                        <h:outputText value="#{category.name}"/>
                                    </li>
                                </ui:repeat>
                            </ul>
                        </h:panelGroup>
                    </h:panelGroup>
                </p:column>

                <p:column headerText="#{product_list.price}" styleClass="right" sortBy="#{PRICE}">
                    <h:outputText value="#{product.price}" converter="amountConverter"/>
                </p:column>

                <p:column headerText="#{product_list.size}">
                    <h:outputText value="#{product.size.description} (#{product.sizeText})"
                                  rendered="#{not empty product.size and not empty product.sizeText}"/>

                    <h:outputText value="#{product.size.description}"
                                  rendered="#{empty product.sizeText}"/>

                    <h:outputText value="#{product.sizeText}"
                                  rendered="#{empty product.size}"/>
                </p:column>

                <p:column headerText="#{product_list.status}" sortBy="#{STATUS}">
                    <h:outputText value="#{enumHelper.getDescription(product.status)}"/>
                </p:column>

                <p:column headerText="#{product_list.visible}" sortBy="#{VISIBLE}">
                    <p:selectBooleanCheckbox value="#{product.visible}" disabled="true"/>
                </p:column>

            </p:dataTable>

            <h:panelGroup id="tableButtons" style="width: 100%; display: block;">
                <p:button id="addButton" value="#{buttons.add}" icon="ui-icon-plus"
                          outcome="/pages/product/product?faces-redirect=true"/>

                <p:commandButton id="editButton" value="#{buttons.edit}" icon="ui-icon-pencil"
                                 ajax="false" action="#{productListBean.edit}"
                                 rendered="#{not empty productListBean.selectedProduct}"/>

                <p:commandButton id="deleteButton" value="#{buttons.delete}" icon="ui-icon-close"
                                 type="button" onclick="PF('deleteProductConfirmDialogVar').show();"
                                 rendered="#{not empty productListBean.selectedProduct}"/>

                <p:button id="reorderButton" value="#{buttons.reorder}" icon="ui-icon-gear"
                          outcome="/pages/product/product_list_reorder?faces-redirect=true"/>

                <div style="float: right;">
                    <h:outputText value="#{messageFormatBean.format(product_list.all_count,
                                                                    productListBean.productsModel.rowCount)}"/>
                </div>

                <opresent:confirmDeleteDialog header="#{messageFormatBean.format(
                                                   product_list.delete_confirm_header,
                                                   productListBean.selectedProduct.name)}"
                                         message="#{messageFormatBean.format(
                                                    product_list.delete_confirm_msg,
                                                    productListBean.selectedProduct.name)}"
                                         deleter="#{productListBean.deleter}"
                                         updateAfterDelete=":messages :tableForm"
                                         oncomplete="moveTableButtonsToTableHeader();"
                                         widgetVar="deleteProductConfirmDialogVar"
                                         rendered="#{not empty productListBean.selectedProduct}"/>

            </h:panelGroup>

        </h:form>

        <script type="text/javascript">
            $(function() {
                $(".productFilter td:has(div.ui-selectonemenu, input.ui-inputfield)").css("text-align", "left");
                moveTableButtonsToTableHeader();
            });

            function moveTableButtonsToTableHeader() {
                var tableButtonsPanel = $("[id$='tableButtonsPanel']");
                tableButtonsPanel.empty();

                var tableButtons = $("[id$='tableButtons']");
                tableButtons.children().appendTo(tableButtonsPanel);
            }

        </script>

    </ui:define>

</ui:composition>