<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xml:lang="en" lang="en">

    <h:panelGroup  styleClass="left block">

    </h:panelGroup>

</ui:composition>