<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="/pages/template/template.xhtml" xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xml:lang="en" lang="en" xmlns:f="http://java.sun.com/jsf/core"
        >

    <ui:define name="windowTitle">
        <f:loadBundle var="product_list_reorder" basename="ru.opresent.web.cms.i18n.product.product_list_reorder"/>
        <h:outputText value="#{product_list_reorder.title}"/>
    </ui:define>

    <ui:define name="content">
        <f:loadBundle var="product_list_reorder" basename="ru.opresent.web.cms.i18n.product.product_list_reorder"/>
        <f:loadBundle var="buttons" basename="ru.opresent.web.cms.i18n.buttons"/>

        <style type="text/css">
            .ui-datagrid-column,
            .ui-datagrid-column td {
                padding: 0;
            }
            .ui-datagrid-data {
                width: auto;
            }

            .ui-panel.ui-draggable {
                width: 160px;
                height: 160px;
                padding: 0;
            }
            .ui-panel.ui-draggable img {
                max-width: 140px;
                max-height: 110px;
            }
            .ui-panel.ui-draggable .ui-panel-titlebar {
                height: 35px;
                overflow: hidden;
                padding: 0 5px 0 5px;
                background-color: #F3F3F3 !important;
            }
            .ui-panel.ui-draggable .ui-panel-title {
                color: #333 !important;
            }
            .ui-panel.ui-draggable .ui-panel-content {
                height: 120px;
            }

            .ui-panel.ui-droppable {
                width: 5px;
                height: 160px;
                padding: 0;
            }

            .divider-active {
                background-color: #c0bec4;
            }
            .divider-hover {
                background-color: #613bff;
            }
        </style>

        <p:panel header="#{product_list_reorder.title}" collapsed="true" styleClass="pageHeaderPanel"/>

        <h:form>
            <p:tabMenu activeIndex="#{param.mode}">
                <p:menuitem value="#{product_list_reorder.available_products}"
                            outcome="/pages/product/product_list_reorder" icon="ui-icon-star">
                    <f:param name="mode" value="#{productListReorderBean.availableProductsModeIndex}"/>
                </p:menuitem>
                <p:menuitem value="#{product_list_reorder.for_order_and_example_products}"
                            outcome="/pages/product/product_list_reorder" icon="ui-icon-star">
                    <f:param name="mode" value="#{productListReorderBean.forOrderAndExampleProductsModeIndex}"/>
                </p:menuitem>
            </p:tabMenu>
        </h:form>

        <h:form>
            <p:commandButton id="saveButton" action="#{productListReorderBean.save}" update=":messages"
                             value="#{buttons.save}" icon="ui-icon-disk"/>
        </h:form>

        <h:form id="productItemsForm">

            <p:dataGrid id="productItemsGrid" var="productItem" value="#{productListReorderBean.productItems}" columns="8">

                <h:panelGrid columns="2">

                    <p:panel id="productItemPanel"
                             header="[#{productItem.id}]#{productItem.name}"
                             style="text-align: center">
                        <h:panelGrid columns="1" style="width:100%">
                            <img src="#{productItem.previewUrl}"/>
                        </h:panelGrid>
                    </p:panel>

                    <p:panel id="productItemDivider"/>

                </h:panelGrid>

                <p:draggable for="productItemPanel" revert="true" handle=".ui-panel-titlebar" stack=".ui-panel"/>

                <p:droppable for="productItemDivider" tolerance="touch"
                             activeStyleClass="divider-active" hoverStyleClass="divider-hover"
                             datasource="productItemsGrid">
                    <p:ajax listener="#{productListReorderBean.onProductItemDrop}" update="productItemsGrid"/>
                </p:droppable>
            </p:dataGrid>

        </h:form>

    </ui:define>

</ui:composition>