<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="/pages/template/template.xhtml" xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui" xmlns:f="http://java.sun.com/jsf/core"
                xml:lang="en" lang="en">

    <ui:define name="windowTitle">
        <f:loadBundle var="banner_item" basename="ru.opresent.web.cms.i18n.banner.banner_item"/>
        <h:outputText value="#{bannerItemBean.addition ? banner_item.add_title : banner_item.edit_title}"/>
    </ui:define>

    <ui:define name="content">
        <f:loadBundle var="common" basename="ru.opresent.web.cms.i18n.common"/>
        <f:loadBundle var="buttons" basename="ru.opresent.web.cms.i18n.buttons"/>

        <style type="text/css">
            .bannerItemFieldDesc {
                text-align: right;
                padding-right: 10px;
                padding-bottom: 10px;
            }

            .bannerItemField {
                text-align: left !important;
                padding-bottom: 10px;
            }

            .bannerItemField .ui-inputfield,
            .bannerItemField .ui-inputtextarea {
                width: 300px;
            }

            .bannerItemField img {
                max-width: 200px;
            }

            .bannerItemButtons button {
                margin-top: 20px;
                margin-right: 20px;
            }
        </style>

        <p:panel header="#{bannerItemBean.addition ? banner_item.add_title : banner_item.edit_title}"
                 collapsed="true" styleClass="pageHeaderPanel"/>

        <h:form id="bannerItemForm">
            <h:panelGrid columns="2" columnClasses="bannerItemFieldDesc,bannerItemField">

                <p:outputLabel for="bannerItemName" value="#{banner_item.name}"/>
                <p:inputText id="bannerItemName" value="#{bannerItemBean.bannerItem.name}"
                             maxlength="#{entitiesConstraints.bannerItemNameMaxLength}"/>

                <h:outputText value="#{banner_item.normal_image}"/>
                <h:panelGroup id="bannerItemNormalImage">
                    <p:fileUpload allowTypes="#{imageFileBean.allowTypesPattern}"
                                  invalidFileMessage="#{imageFileBean.invalidFileMessage}"
                                  sizeLimit="#{imageFileBean.sizeLimit}"
                                  invalidSizeMessage="#{imageFileBean.invalidSizeMessage}"
                                  multiple="false"
                                  fileUploadListener="#{bannerItemBean.handleNormalImageUpload}"
                                  auto="true" label="#{buttons.define}"
                                  update="bannerItemNormalImage"
                                  style="width: 310px;text-align: center;"/>

                    <h:outputText value="#{banner_item.image_not_defined}" styleClass="alarm"
                                  rendered="#{empty bannerItemBean.bannerItem.normalImage}"/>

                    <h:panelGroup rendered="#{not empty bannerItemBean.bannerItem.normalImage}">
                        <img src="#{imageFileManager.createUrl(bannerItemBean.bannerItem.normalImage)}"/>
                    </h:panelGroup>
                </h:panelGroup>

                <h:outputText value="#{banner_item.mobile_image}"/>
                <h:panelGroup id="bannerItemMobileImage">
                    <p:fileUpload allowTypes="#{imageFileBean.allowTypesPattern}"
                                  invalidFileMessage="#{imageFileBean.invalidFileMessage}"
                                  sizeLimit="#{imageFileBean.sizeLimit}"
                                  invalidSizeMessage="#{imageFileBean.invalidSizeMessage}"
                                  multiple="false"
                                  fileUploadListener="#{bannerItemBean.handleMobileImageUpload}"
                                  auto="true" label="#{buttons.define}"
                                  update="bannerItemMobileImage"
                                  style="width: 310px;text-align: center;"/>

                    <h:outputText value="#{banner_item.image_not_defined}" styleClass="alarm"
                                  rendered="#{empty bannerItemBean.bannerItem.mobileImage}"/>

                    <h:panelGroup rendered="#{not empty bannerItemBean.bannerItem.mobileImage}">
                        <img src="#{imageFileManager.createUrl(bannerItemBean.bannerItem.mobileImage)}"/>
                    </h:panelGroup>
                </h:panelGroup>

                <h:outputText value="#{banner_item.url}"/>
                <p:inputText id="bannerItemUrl" value="#{bannerItemBean.bannerItem.url}"/>

                <h:outputText value="#{banner_item.visible}"/>
                <p:selectBooleanCheckbox id="bannerItemVisible" value="#{bannerItemBean.bannerItem.visible}"/>

            </h:panelGrid>

            <h:panelGroup styleClass="bannerItemButtons">
                <p:commandButton id="saveButton" value="#{buttons.save}" icon="ui-icon-disk"
                                 process="@this bannerItemName bannerItemUrl bannerItemVisible"
                                 action="#{bannerItemBean.save}" update=":messages"/>

                <p:button id="returnToListButton" value="#{buttons.return_to_list}" icon="ui-icon-arrowthick-1-w"
                          outcome="banner?faces-redirect=true"/>
            </h:panelGroup>

        </h:form>
    </ui:define>

</ui:composition>