<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="/pages/template/template.xhtml" xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui" xmlns:f="http://java.sun.com/jsf/core"
                xml:lang="en" lang="en">

    <ui:define name="windowTitle">
        <f:loadBundle var="banner" basename="ru.opresent.web.cms.i18n.banner.banner"/>
        <h:outputText value="#{banner.title}"/>
    </ui:define>

    <ui:define name="content">
        <f:loadBundle var="common" basename="ru.opresent.web.cms.i18n.common"/>
        <f:loadBundle var="buttons" basename="ru.opresent.web.cms.i18n.buttons"/>

        <style type="text/css">
            .moveButton {
                width: 35px;
                height: 35px;
                float: left;
            }
        </style>

        <p:panel header="#{banner.title}" collapsed="true" styleClass="pageHeaderPanel"/>

        <h:form id="listForm">
            <p:dataTable id="bannerItemsTable" value="#{bannerBean.bannerItems}"
                         var="bannerItem" rowKey="#{bannerItem.id}"
                         selection="#{bannerBean.selectedBannerItem}" selectionMode="single">

                <f:facet name="header">
                    <h:panelGroup id="tableButtons">
                        <p:commandButton id="addButton" value="#{buttons.add}" icon="ui-icon-plus"
                                         ajax="false" action="#{bannerBean.add}"/>

                        <p:commandButton id="editButton" value="#{buttons.edit}" icon="ui-icon-pencil"
                                         ajax="false" action="#{bannerBean.edit}"
                                         rendered="#{not empty bannerBean.selectedBannerItem}"/>

                        <p:commandButton id="deleteButton" value="#{buttons.delete}" type="button" onclick="PF('deleteConfirmVar').show();"
                                         icon="ui-icon-close"
                                         rendered="#{not empty bannerBean.selectedBannerItem}"/>

                        <p:confirmDialog message="#{messageFormatBean.format(
                                                              banner.delete_confirm_msg,
                                                              bannerBean.selectedBannerItem.name)}"
                                         header="#{messageFormatBean.format(
                                                                 banner.delete_confirm_header,
                                                                 bannerBean.selectedBannerItem.name)}"
                                         widgetVar="deleteConfirmVar" closeOnEscape="true">

                            <p:commandButton value="#{buttons.yes}" icon="ui-icon-check"
                                             process="@this" action="#{bannerBean.delete}"
                                             update=":messages @form" oncomplete="PF('deleteConfirmVar').hide();"/>

                            <p:commandButton value="#{buttons.no}" icon="ui-icon-close" type="button" onclick="PF('deleteConfirmVar').hide();"/>
                        </p:confirmDialog>
                    </h:panelGroup>
                </f:facet>

                <p:ajax event="rowSelect" update="tableButtons"/>
                <p:ajax event="rowUnselect" update="tableButtons"/>

                <p:column headerText="Id" width="20">
                    <h:outputText value="#{bannerItem.id}"/>
                </p:column>

                <p:column headerText="#{banner.name}">
                    <h:outputText value="#{bannerItem.name}"/>
                </p:column>

                <p:column headerText="#{banner.normal_image}" width="200">
                    <img src="#{imageFileManager.createUrl(bannerItem.normalImage)}" style="width: 200px"/>
                </p:column>

                <p:column headerText="#{banner.mobile_image}" width="200">
                    <img src="#{imageFileManager.createUrl(bannerItem.mobileImage)}" style="width: 200px"/>
                </p:column>

                <p:column headerText="#{banner.url}">
                    <h:outputText value="#{bannerItem.url}"/>
                </p:column>

                <p:column headerText="#{banner.visible}" width="100">
                    <p:selectBooleanCheckbox value="#{bannerItem.visible}" disabled="true"/>
                </p:column>

                <p:column headerText="#{banner.change_position}">
                    <div style="margin-left: 30px; margin-right: 30px;">
                        <div class="moveButton">
                            <p:commandButton id="moveUp" action="#{bannerBean.moveUp(bannerItem)}"
                                             process="@this"
                                             update="@form :messages"
                                             icon="ui-icon-arrowthick-1-n"
                                             rendered="#{orderedEntityServiceHelper.canMoveUp(bannerItem)}"/>
                        </div>

                        <div class="moveButton">
                            <p:commandButton id="moveDown" action="#{bannerBean.moveDown(bannerItem)}"
                                             process="@this"
                                             update="@form :messages"
                                             icon="ui-icon-arrowthick-1-s"
                                             rendered="#{orderedEntityServiceHelper.canMoveDown(bannerItem, bannerBean.bannerItems)}"/>
                        </div>
                    </div>
                </p:column>

            </p:dataTable>
        </h:form>
    </ui:define>

</ui:composition>