<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<jsp:root xmlns:jsp="http://java.sun.com/JSP/Page" version="2.0"
          xmlns:c="http://java.sun.com/jsp/jstl/core"
          xmlns:s="http://www.springframework.org/tags"
          xmlns:opresentfn="http://opresent/functions"
        >

    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>

    <div class="order-add-result" data-order-add-result-type="SUCCESS">

        <h1><s:message code="order.add_success"/></h1>

        <p class="order-total">
            <s:message code="cart_total">
                <s:argument value="${order.items.size()}"/>
            </s:message>&#160;<span class="cart-total-price">${opresentfn:formatAmount(order.totalPrice)} <s:message code="rub"/></span>
        </p>

        <form class="order-info-form">
            <div class="form-group">
                <label class="control-label">
                    <s:message code="order.customer_full_name"/>
                </label>
                <div>${order.customerFullName}</div>
            </div>

            <div class="form-group">
                <label class="control-label">
                    <s:message code="order.customer_phone"/>
                </label>
                <div>${order.customerPhone}</div>
            </div>

            <div class="form-group">
                <label class="control-label">
                    <s:message code="order.customer_email"/>
                </label>
                <div>${order.customerEmail}</div>
            </div>

            <div class="form-group">
                <label class="control-label">
                    <s:message code="order.delivery_way"/>
                </label>
                <div>${enumHelper.getDescription(order.deliveryWay)}: ${deliveryWayInfo.price}
                    <br/>
                    ${deliveryWayInfo.note}
                </div>
            </div>

            <c:if test="${order.deliveryWay ne 'SELF_EXPORT'}">
                <div class="form-group">
                    <label class="control-label">
                        <s:message code="order.customer_city"/>
                    </label>
                    <div>${empty order.customerCity ? enumHelper.getDescription(order.addressType) : order.customerCity}</div>
                </div>
            </c:if>

            <c:if test="${not empty order.customerPostcode}">
                <div class="form-group">
                    <label class="control-label">
                        <s:message code="order.customer_postcode"/>
                    </label>
                    <div>${order.customerPostcode}</div>
                </div>
            </c:if>

            <c:if test="${not empty order.customerAddress}">
                <div class="form-group">
                    <label class="control-label">
                        <s:message code="order.customer_address"/>
                    </label>
                    <div>${order.customerAddress}</div>
                </div>
            </c:if>

            <c:if test="${not empty order.customerComment}">
                <div class="form-group">
                    <label class="control-label">
                        <s:message code="order.customer_comment"/>
                    </label>
                    <div>${order.customerComment}</div>
                </div>
            </c:if>

            <div class="form-group return-to-catalog-holder">
                <a class="btn btn-large" href="${appNavigationManager.catalogUrl}">
                    <s:message code="return_to_catalog"/>
                </a>
            </div>

        </form>

    </div>

</jsp:root>